/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
.blogs-container .category-image img {
  padding-right: 0.625rem;
  margin-bottom: 1.25rem; }
  .rtl .blogs-container .category-image img {
    padding-left: 0.625rem;
    padding-right: inherit; }
  @media (max-width: 990px) {
    .blogs-container .category-image img {
      padding-right: 0; }
      .rtl .blogs-container .category-image img {
        padding-left: 0;
        padding-right: inherit; } }
.blogs-container .product-count {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center; }
.blogs-container .pagination .material-icons {
  font-size: 0.9375rem; }
.blogs-container .blog-image img {
  max-width: 100%; }

/* Blog Item */
.blog-item {
  padding: 0.9375rem 0;
  width: 100%;
  float: left; }
  @media (min-width: 992px) {
    .blog-item {
      padding: 1.875rem 0; } }
  .rtl .blog-item {
    float: right; }
  .blog-item .blog-image-container {
    position: relative;
    overflow: hidden; }
    @media (min-width: 768px) {
      .blog-item .blog-image-container {
        width: 50%;
        float: left; }
        .rtl .blog-item .blog-image-container {
          float: right; } }
  @media (min-width: 768px) {
    .blog-item .blog-info {
      width: 50%;
      float: left;
      padding: 0 0 0 0.625rem; }
      .rtl .blog-item .blog-info {
        float: right; }
      .rtl .blog-item .blog-info {
        padding: 0 0.625rem 0 0; } }
  @media (min-width: 992px) {
    .blog-item .blog-info {
      padding: 0 0 0 10%; }
      .rtl .blog-item .blog-info {
        padding: 0 10% 0 0; } }
  .blog-item .title {
    margin-bottom: 1.25rem;
    font-weight: 400; }
    .blog-item .title a {
      line-height: 1.875rem;
      font-size: 18px;
      color: #272727;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
      .blog-item .title a:hover {
        color: #ee4448; }
  .blog-item .blog-image {
    margin-bottom: 0.625rem; }
  .blog-item .blog-meta {
    width: 100%; }
    .blog-item .blog-meta > span {
      color: #ababab;
      font-size: 0.825rem;
      display: inline-block;
      margin: 0 0.3125rem 0.3125rem 0; }
      .rtl .blog-item .blog-meta > span {
        margin: 0 0 0.3125rem 0.3125rem; }
      .blog-item .blog-meta > span .material-icons {
        font-size: 1rem;
        display: none; }
    .blog-item .blog-meta a {
      color: #ababab; }
      .blog-item .blog-meta a:hover {
        color: #ee4448; }
  .blog-item .blog-shortinfo {
    margin: 1.25rem 0;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    color: #787878;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  .blog-item .more {
    margin-top: 0.9375rem;
    background: none;
    border: none;
    padding: 0;
    color: #ee4448;
    text-transform: none;
    font-weight: 500; }
    .blog-item .more:hover, .blog-item .more:focus, .blog-item .more:active {
      color: #272727;
      background: none;
      border: none; }

/* Blog detail */
.blog-detail {
  line-height: 1.5rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem; }
  .blog-detail .blog-title {
    font-size: 1.375rem; }
  .blog-detail .blog-description {
    font-size: 1rem;
    line-height: 26px; }
    .blog-detail .blog-description ul {
      list-style: inherit;
      padding-left: 2.5rem; }
      .rtl .blog-detail .blog-description ul {
        padding-right: 2.5rem;
        padding-left: inherit; }
  .blog-detail .product-count {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center; }
  .blog-detail .blog-meta {
    margin-bottom: 0.625rem;
    display: inline-block; }
    .blog-detail .blog-meta > span {
      color: #666666;
      font-size: 0.8125rem;
      margin-right: 0.625rem;
      float: left; }
      .rtl .blog-detail .blog-meta > span {
        margin-left: 0.625rem;
        margin-right: inherit; }
      .rtl .blog-detail .blog-meta > span {
        float: right; }
      .blog-detail .blog-meta > span .material-icons {
        font-size: 0.9375rem; }
  .blog-detail .blog-image {
    margin-bottom: 1.25rem; }
  @media (min-width: 576px) {
    .blog-detail .blog-tags, .blog-detail .social-share {
      display: inline-block; } }

.blog-tags, .extra-blogs,
.blog-comments, .social-share,
.blog-comment-block {
  margin-bottom: 1.25rem; }

@media (min-width: 576px) {
  .blog-tags {
    float: right; }
    .rtl .blog-tags {
      float: left; } }
.blog-tags a span {
  background: #999999;
  color: #FFFFFF;
  line-height: 1;
  padding: 0.3125rem 0.625rem;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
.blog-tags a:hover span {
  background: #ee4448; }

.extra-blogs ul li {
  padding: 0.375rem 0;
  border-bottom: dotted 1px #e1e1e1; }

.blog-video-code .inner {
  margin-bottom: 0.9375rem;
  text-align: center; }
  .blog-video-code .inner iframe {
    max-width: 100%; }

/* comment */
.comment-item {
  padding: 0.75rem 0; }
  .comment-item img {
    padding: 0 0.75rem 0 0;
    float: left; }
    .rtl .comment-item img {
      padding: 0 0 0 0.75rem; }
    .rtl .comment-item img {
      float: right; }

.extra-blogs {
  clear: both; }

.comment-wrap {
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #e1e1e1;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .comment-wrap .comment-meta {
    border-bottom: 1px solid #e1e1e1;
    font-size: 0.8125rem;
    padding: 0.625rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .comment-wrap .comment-infor > span {
    font-weight: bold;
    margin-right: 0.3125rem; }
    .rtl .comment-wrap .comment-infor > span {
      margin-left: 0.3125rem;
      margin-right: inherit; }
    .comment-wrap .comment-infor > span > span {
      font-weight: normal;
      white-space: inherit; }
  .comment-wrap .comment-content {
    padding: 0.625rem; }

.comment-link {
  display: block; }

.social-share .social-wrap > div {
  float: left;
  margin-right: 0.625rem; }
  .rtl .social-share .social-wrap > div {
    float: right; }
  .rtl .social-share .social-wrap > div {
    margin-left: 0.625rem;
    margin-right: inherit; }
.social-share .social-heading {
  padding-right: 0.75rem; }
  .rtl .social-share .social-heading {
    padding-left: 0.75rem;
    padding-right: inherit; }

.ipts-captcha img {
  float: left;
  padding-right: 0.75rem;
  margin-bottom: 0.625rem; }
  .rtl .ipts-captcha img {
    float: right; }
  .rtl .ipts-captcha img {
    padding-left: 0.75rem;
    padding-right: inherit; }
.ipts-captcha input {
  width: 100px;
  height: 35px; }

.blog-comment-block .fb-comments {
  margin: 0 -8px; }

#blog-localengine .comments {
  margin-bottom: 1.875rem; }
#blog-localengine .form-horizontal {
  margin-bottom: 1.875rem;
  background: white;
  padding: 1.25rem; }
  #blog-localengine .form-horizontal label {
    display: block;
    margin-bottom: 0;
    padding-top: 7px; }
  #blog-localengine .form-horizontal .form-group:last-child {
    margin-bottom: 0; }

/* Load Submit Comment */
.tdkblog-cssload-container {
  width: 100%;
  height: 2.1875rem;
  text-align: center;
  display: none; }

.cssload-speeding-wheel {
  margin: 0 0 0 2.8125rem;
  border: 3px solid #000000;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 2.1875rem;
  height: 2.1875rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: cssload-spin 700ms infinite linear;
  -moz-animation: cssload-spin 700ms infinite linear;
  -ms-animation: cssload-spin 700ms infinite linear;
  animation: cssload-spin 700ms infinite linear; }

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* categories menu display on left or right sidebar */
.blog-menu.block .block_content {
  padding-bottom: 0; }
.blog-menu .block_content > ul {
  margin-bottom: 0; }
.blog-menu .block_content li {
  position: relative;
  margin-bottom: 0.625rem; }
  .blog-menu .block_content li a {
    font-size: 0.875rem;
    line-height: 1.875rem;
    display: block; }
  .blog-menu .block_content li span.grower {
    display: block;
    background: #f1f1f1;
    position: absolute;
    top: 0;
    cursor: pointer;
    font-family: "FontAwesome";
    right: 0; }
    .rtl .blog-menu .block_content li span.grower {
      left: 0;
      right: auto; }
    .blog-menu .block_content li span.grower.OPEN:before, .blog-menu .block_content li span.grower.CLOSE:before {
      content: "\f068";
      display: block;
      vertical-align: middle;
      font-size: 0.625rem;
      color: #ee4448;
      line-height: 2.25rem;
      text-align: center;
      width: 0.625rem;
      height: 2.25rem; }
    .blog-menu .block_content li span.grower.CLOSE:before {
      content: "\f067"; }
  .blog-menu .block_content li .navbar-toggler {
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
    width: 1.875rem;
    height: 1.875rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .rtl .blog-menu .block_content li .navbar-toggler {
      left: 0;
      right: auto; }
    .blog-menu .block_content li .navbar-toggler i {
      font-size: 0.9375rem; }
    .blog-menu .block_content li .navbar-toggler[aria-expanded="true"] .add {
      display: none; }
    .blog-menu .block_content li .navbar-toggler[aria-expanded="true"] .remove {
      display: block; }
    .blog-menu .block_content li .navbar-toggler .remove {
      display: none; }
  .blog-menu .block_content li li a {
    font-weight: normal; }
    .blog-menu .block_content li li a:before {
      content: "-";
      font-family: "FontAwesome";
      line-height: 1.813rem;
      padding-right: 0.5rem;
      float: left; }
      .rtl .blog-menu .block_content li li a:before {
        padding-left: 0.5rem;
        padding-right: inherit; }
      .rtl .blog-menu .block_content li li a:before {
        float: right; }

/*** RSS ***/
.blog-lastest-rss {
  float: right !important;
  position: relative;
  top: -2.1875rem; }
  .blog-lastest-rss a {
    color: #f8991d; }
    .blog-lastest-rss a:before {
      content: "\f09e";
      font-family: "FontAwesome";
      font-size: 1.875rem;
      margin-right: 0.3125rem; }
      .rtl .blog-lastest-rss a:before {
        margin-left: 0.3125rem;
        margin-right: inherit; }
    .blog-lastest-rss a:hover {
      color: #ee4448; }

/* Recent Blog */
.tdk-block-sidebar ul {
  margin-bottom: 0; }
.tdk-block-sidebar .list-item {
  margin-bottom: 1.25rem; }
  .tdk-block-sidebar .list-item.last_item {
    margin-bottom: 0; }
  .tdk-block-sidebar .list-item .blog-image {
    width: 40%;
    float: left; }
    .rtl .tdk-block-sidebar .list-item .blog-image {
      float: right; }
  .tdk-block-sidebar .list-item .blog-content {
    width: 60%;
    float: left;
    padding-left: 0.625rem; }
    .rtl .tdk-block-sidebar .list-item .blog-content {
      float: right; }
    .rtl .tdk-block-sidebar .list-item .blog-content {
      padding-right: 0.625rem;
      padding-left: inherit; }
  .tdk-block-sidebar .list-item .post-name {
    font-size: 0.8125rem;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }

.tdk-blog-tags .block_content a {
  background: #FFFFFF;
  padding: 3px 8px;
  color: #787878;
  display: inline-block;
  font-size: 0.8125rem;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0 0.3125rem 0.3125rem 0; }
  .rtl .tdk-blog-tags .block_content a {
    margin: 0 0 0.3125rem 0.3125rem; }
  .tdk-blog-tags .block_content a:hover {
    border-color: #ee4448;
    color: #ee4448; }

/* Blog Category Page */
#blog-category .childrens {
  margin-bottom: 2.5rem; }
  #blog-category .childrens h3 {
    margin-bottom: 1.25rem; }
  #blog-category .childrens .category-items {
    margin-bottom: 1.875rem; }
  #blog-category .childrens .title-cate {
    font-size: 1rem;
    margin: 0.9375rem 0; }
  #blog-category .childrens .child-desc {
    font-size: 0.8125rem;
    line-height: 1.5rem;
    min-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; }
    #blog-category .childrens .child-desc p {
      font-size: 0.8125rem;
      margin-bottom: 0; }

/*** Responsive part ***/
@media (min-width: 768px) {
  .comment-link {
    background: #F4F4F4;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    margin: -0.6875rem -1.25rem -0.625rem 0;
    border-left: 1px solid #E5E5E5;
    float: right; }
    .rtl .comment-link {
      margin: -0.6875rem 0 -0.625rem -1.25rem; }
    .rtl .comment-link {
      border-right: 1px solid #E5E5E5;
      border-left: inherit; }
    .rtl .comment-link {
      float: left; }

  .blogs-container .product-count,
  .blog-detail .product-count {
    text-align: right;
    margin-top: 1rem; }
    .rtl .blogs-container .product-count, .rtl
    .blog-detail .product-count {
      text-align: left; } }
@media (max-width: 767px) {
  #blog-localengine .form-horizontal label {
    text-align: left; }
    .rtl #blog-localengine .form-horizontal label {
      text-align: right; }

  .blog-detail .pagination, .blogs-container .pagination {
    text-align: center; }
  .blog-detail .page-item, .blogs-container .page-item {
    display: inline-block; } }
@media (max-width: 575px) {
  .video-code iframe {
    width: 100%; }

  .comment-wrap .comment-meta {
    display: inline-block; }
    .comment-wrap .comment-meta > span {
      display: inline-block;
      margin: 0.3125rem 0;
      width: 100%;
      float: left; }
      .rtl .comment-wrap .comment-meta > span {
        float: right; } }

/*# sourceMappingURL=tdkblog.css.map */
