/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
#iview {
  display: block;
  min-width: 300px;
  position: relative;
  overflow: hidden; }

#iview .iviewSlider {
  display: block;
  overflow: hidden;
  background: transparent; }

.iview-timer {
  border-radius: 10px;
  position: absolute; }
  .iview-timer div {
    border-radius: 10px; }

.iview .iview-tooltip {
  display: none;
  position: absolute;
  background: url("../../../../../../img/modules/tdkslideshow/img/iView/tooltip.png") no-repeat; }
  .iview .iview-tooltip div.holder {
    display: block;
    width: 124px;
    height: 84px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
    .iview .iview-tooltip div.holder div.container {
      display: block;
      width: 4000px; }
      .iview .iview-tooltip div.holder div.container div {
        float: left;
        display: block;
        overflow: hidden;
        width: 124px;
        height: 84px;
        left: -50%;
        text-align: center; }
        .rtl .iview .iview-tooltip div.holder div.container div {
          float: right; }
        .iview .iview-tooltip div.holder div.container div img {
          height: 84px;
          margin: 0 auto;
          max-width: 100%; }

/*# sourceMappingURL=style.css.map */
