#tads a, #tadsb a, #res a, #rhs a, #taw a {
  text-decoration: none;
}
a:link, .w, .q:active, .q:visited {
  cursor: pointer;
}
.mblink:visited, a:visited {
  color: #609;
}
a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu {
  color: #1a0dab;
}

.rc .s {
  line-height: 18px;
}
.s {
  color: #545454;
}
.s {
  max-width: 42em;
}


.s {
  color: #545454;
}

.g, body, html, input, .std, h1 {
  font-size: small;
  font-family: arial,sans-serif;
}

#ires .kv {
  height: 17px;
  line-height: 16px;
}
.f, .f a:link {
  color: #808080;
}

.st {
  line-height: 1.4;
  word-wrap: break-word;
}