/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				FOOTER 2
*****************************************/
.TdkFooterContainer {
  border-top: 1px solid #e1e1e1;
  padding-top: 3.75rem; }
  .TdkFooterContainer li a {
    color: #787878; }
    .TdkFooterContainer li a:hover {
      color: #ee4448; }
  .TdkFooterContainer .block_newsletter .title_block {
    font-size: 1rem; }

.TdkFooterTop .TdkInner {
  padding: 0; }

.TdkFooterCenter .TdkInner {
  padding-top: 0; }
.TdkFooterCenter .TdkColumn .block {
  margin-bottom: 2.5rem; }
  @media (max-width: 991px) {
    .TdkFooterCenter .TdkColumn .block {
      margin-bottom: 0rem; } }

.TdkFooterBottom .TdkInner {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

@media (min-width: 992px) {
  .footerCopyright {
    text-align: right; }
    .rtl .footerCopyright {
      text-align: left; } }
@media (max-width: 991px) {
  .block-social {
    text-align: center;
    margin-bottom: 0.9375rem; }

  .block-social {
    text-align: center; } }

/*# sourceMappingURL=footerposition1537552529.css.map */
