/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				FOOTER 4
*****************************************/
.block_newsletter {
  text-align: center; }
  .block_newsletter.block {
    margin-bottom: 0.625rem; }
  @media (min-width: 768px) {
    .block_newsletter {
      max-width: 35.63rem;
      margin-left: auto;
      margin-right: auto; } }

.block-contact ul li > i {
  display: none; }

.TdkFooterContainer li a {
  color: #787878; }
  .TdkFooterContainer li a:hover {
    color: #ee4448; }

.TdkFooterTop {
  border-top: 1px solid #e1e1e1; }

.GroupNewsletter {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

@media (min-width: 992px) {
  .block-contact.block {
    text-align: right; }
    .rtl .block-contact.block {
      text-align: left; }
    .block-contact.block .title_block {
      text-align: right; }
      .rtl .block-contact.block .title_block {
        text-align: left; }

  #TdkBackTop {
    bottom: 0.3125rem; }

  .TdkFooterCenter .TdkInner {
    padding-top: 1.25rem; }

  .TdkFooterTop .TdkInner {
    padding-top: 5.625rem; }

  .TdkHtml.footerCopyright {
    text-align: right; }
    .rtl .TdkHtml.footerCopyright {
      text-align: left; } }
@media (max-width: 991px) {
  .block-social {
    text-align: center; }

  .TdkFooterCenter .TdkInner {
    padding-top: 0; }

  .TdkFooterContainer .TdkHtml.footerCopyright {
    margin-bottom: 1.875rem; } }

/*# sourceMappingURL=footerposition1537564481.css.map */
