/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				FOOTER 5
*****************************************/
.TdkFooterContainer {
  border-top: 1px solid #e1e1e1; }

.TdkFooterTop .TdkInner {
  padding-top: 5.625rem; }
  @media (max-width: 991px) {
    .TdkFooterTop .TdkInner {
      padding-bottom: 0.625rem; } }

.TdkFooterCenter .TdkInner {
  padding-top: 0; }

.block_newsletter {
  text-align: center; }
  .block_newsletter.block {
    margin-bottom: 0.625rem; }
  @media (min-width: 768px) {
    .block_newsletter {
      max-width: 35.63rem;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 767px) {
    .block_newsletter {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }

.footerCopyright {
  color: #272727; }
  .footerCopyright p {
    color: #272727; }
  @media (min-width: 1200px) {
    .footerCopyright {
      text-align: right; }
      .rtl .footerCopyright {
        text-align: left; } }
  @media (max-width: 1199px) {
    .footerCopyright {
      text-align: center; } }

#TdkBackTop {
  bottom: 0.625rem; }

.TdkBlockLink.footerBlockCms {
  text-align: center; }
@media (min-width: 992px) and (max-width: 991px) {
  .TdkBlockLink.footerBlockCms {
    text-align: right; }
    .rtl .TdkBlockLink.footerBlockCms {
      text-align: left; } }

@media (max-width: 767px) {
  .block-social {
    text-align: center;
    margin-bottom: 0.9375rem; }

  .TdkFooterContainer {
    padding-bottom: 2.5rem; }

  .TdkPopupNewsletter .block_newsletter {
    width: 100%;
    padding: 1.875rem 0.9375rem; }
    .TdkPopupNewsletter .block_newsletter.block {
      margin-bottom: 0; } }

/*# sourceMappingURL=footerposition1537551435.css.map */
