/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				FOOTER 1
*****************************************/
.TdkFooterTop {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }

.TdkFooterBottom .TdkInner {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.block_newsletter .title_block {
  display: none; }

.footerColCustom .TdkBlockLink {
  margin-bottom: 1.25rem; }
  .footerColCustom .TdkBlockLink li {
    line-height: 1.25rem; }

@media (min-width: 992px) {
  .block_newsletter {
    width: 70%;
    float: right; }
    .rtl .block_newsletter {
      float: left; } }
@media (min-width: 1200px) {
  .footerColCustom {
    width: 11%; }

  .footerCusColNewsletter {
    width: 50.33333%; } }
@media (max-width: 991px) {
  .block_newsletter.block {
    margin: 1.25rem auto;
    text-align: center; }
  .block_newsletter .title_block {
    display: inline-block; }

  .block-social {
    text-align: center;
    margin-bottom: 0.625rem; } }
@media (min-width: 768px) and (max-width: 991px) {
  .block_newsletter.block {
    width: 60%; } }

/*# sourceMappingURL=footerposition1535490078.css.map */
