/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HEADER 3
*****************************************/
@media (min-width: 992px) {
  .TdkMegamenu {
    position: absolute;
    width: 100%;
    text-align: center;
    visibility: hidden;
    z-index: 9;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s; }
    .rtl .TdkMegamenu {
      right: 0;
      left: auto; }
    .rtl .TdkMegamenu {
      left: 0;
      right: auto; }

  .TdkBlockInfo {
    display: none; }

  .TdkHeaderLogo {
    text-align: center; }

  .groupShowMenu.TdkActiveMenu .TdkMegamenu {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .groupShowMenu.TdkActiveMenu .TdkShowMenu.active {
    display: inline-block;
    cursor: pointer;
    width: 1.875rem;
    height: 1.875rem; }
  .groupShowMenu.TdkActiveMenu .TdkShowMenu .btnShowMenu {
    position: relative;
    margin: 0.9375rem 0 0;
    width: 1.875rem;
    height: 0.0625rem; }
    .groupShowMenu.TdkActiveMenu .TdkShowMenu .btnShowMenu:after, .groupShowMenu.TdkActiveMenu .TdkShowMenu .btnShowMenu:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #272727;
      left: 0;
      -webkit-transition-duration: 0.3s, 0.3s;
      -moz-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0;
      -moz-transition-delay: 0.3s, 0;
      transition-delay: 0.3s, 0; }
      .rtl .groupShowMenu.TdkActiveMenu .TdkShowMenu .btnShowMenu:after, .rtl .groupShowMenu.TdkActiveMenu .TdkShowMenu .btnShowMenu:before {
        right: 0;
        left: auto; }
    .groupShowMenu.TdkActiveMenu .TdkShowMenu .btnShowMenu:before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .groupShowMenu.TdkActiveMenu .TdkShowMenu .btnShowMenu:after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .groupShowMenu.TdkActiveMenu .TdkShowMenu .btnShowMenu > span {
      display: none; }
  .groupShowMenu.TdkActiveMenu .TdkHeaderLogo {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); }
  .groupShowMenu .TdkShowMenu,
  .groupShowMenu .TdkHeaderLogo {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s; } }
@media (max-width: 991px) {
  .headerTopFlex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .headerTopFlex > [class*="col-"] {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
    .headerTopFlex .headerFlexEnd {
      -webkit-box-pack: end;
      -moz-box-pack: end;
      box-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      -o-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: end; }
      .headerTopFlex .headerFlexEnd > div {
        padding: 0 0.5rem; }
        .headerTopFlex .headerFlexEnd > div:before {
          display: none; }
        .headerTopFlex .headerFlexEnd > div:last-child {
          padding: 0 0.5rem 0 0.5rem; }
          .rtl .headerTopFlex .headerFlexEnd > div:last-child {
            padding: 0 0.5rem 0 0.5rem; }
    .headerTopFlex .TdkMegamenu {
      margin-right: 1.875rem; }
      .rtl .headerTopFlex .TdkMegamenu {
        margin-left: 1.875rem;
        margin-right: inherit; }

  .TdkHeaderLogo {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }

  #cart-block .cart-quantity {
    background: none;
    color: #272727;
    font-size: 0.625rem;
    min-width: inherit; }

  .tdk-megamenu .navbar-header .navbar-toggler {
    width: 1.25rem; }
  .tdk-megamenu .icon-show-menu .icon-bar {
    margin-bottom: 0.25rem; }

  .TdkPopupOver.TdkHeaderUserInfo .TdkPopupContent {
    right: -2.5rem; }
    [dir="rtl"] .TdkPopupOver.TdkHeaderUserInfo .TdkPopupContent {
      right: auto;
      left: -2.5rem; }

  .tdk-dropdown-cart.defaultcart {
    right: -100px; }
    .rtl .tdk-dropdown-cart.defaultcart {
      left: -100px;
      right: auto; } }

/*# sourceMappingURL=headerposition1537567801.css.map */
