/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HEADER 6
*****************************************/
.TdkHeaderTop {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 2.5rem; }

.TdkMegamenu .tdk-verticalmenu .title_block {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }

.tdk-megamenu .navbar-nav > li > a {
  padding: 0.9375rem 1.25rem; }

@media (min-width: 992px) {
  .TdkSearchTop {
    width: 100%; }
    .TdkSearchTop .TdkSearchIcon {
      display: none; }

  .TdkHeaderContainer .TdkFormSearch {
    position: inherit;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); }

  .TdkFormSearch .TdkSearchSubget {
    display: none; }
  .TdkFormSearch .searchBoxTop {
    background: none;
    border: none; }
  .TdkFormSearch form input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid #272727;
    font-size: 0.8125rem;
    height: 2.5rem;
    text-indent: inherit; }
  .TdkFormSearch form button[type=submit] {
    right: 0; }
    .rtl .TdkFormSearch form button[type=submit] {
      left: 0;
      right: auto; }

  .TdkMegamenu .horizontal.navbar-nav {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; } }
@media (max-width: 1199px) {
  .tdk-megamenu .navbar-nav > li > a {
    padding-left: 0.75rem;
    padding-right: 0.75rem; } }
@media (max-width: 991px) {
  .TdkHeaderLogo {
    text-align: center; }

  .TdkSearchTop {
    margin-bottom: 1.25rem; }

  .TdkPopupOver.TdkHeaderUserInfo .TdkPopupContent {
    right: -2.5rem; }
    [dir="rtl"] .TdkPopupOver.TdkHeaderUserInfo .TdkPopupContent {
      right: auto;
      left: -2.5rem; }

  .tdk-dropdown-cart.defaultcart {
    right: 0; }
    .rtl .tdk-dropdown-cart.defaultcart {
      left: 0;
      right: auto; } }

/*# sourceMappingURL=headerposition1537565339.css.map */
