/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HEADER 4
*****************************************/
.TdkHeaderLogo {
  text-align: center; }
  .TdkHeaderLogo .logo {
    display: inline-block; }

@media (min-width: 992px) {
  .headerTopFlex .headerFlexMenuEnd {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }

  .TdkMegamenu .horizontal.navbar-nav {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; } }
@media (min-width: 768px) and (max-width: 991px) {
  .headerNavFlex .headerFlexCenter {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; } }
@media (max-width: 991px) {
  .tdk-megamenu .navbar-header .navbar-toggler {
    margin-top: 0; }

  .TdkHeaderLogo {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }

  .TdkSlideShow {
    margin-bottom: 1.25rem; } }
@media (max-width: 767px) {
  .currency-selector-wrapper .TdkPopupOver {
    float: left; }
    .rtl .currency-selector-wrapper .TdkPopupOver {
      float: right; }
  .currency-selector-wrapper .TdkPopupOver .TdkPopupContent {
    right: auto;
    left: 0px; }
    [dir="rtl"] .currency-selector-wrapper .TdkPopupOver .TdkPopupContent {
      left: auto;
      right: 0px; }

  .headerNavFlex > [class*="col-"] {
    display: inline-block; }

  .TdkWidgetHtml.headerServiceText {
    text-align: center; }

  .TdkPopupOver a.TdkPopupTitle {
    padding-top: 0;
    padding-bottom: 0.3125rem; } }

/*# sourceMappingURL=headerposition1537566474.css.map */
