/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HEADER 1
*****************************************/
#tdk_block_top {
  display: none; }

@media (max-width: 991px) {
  #tdk_block_top {
    display: inline-block; }

  .TdkHeaderLogo {
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; }

  .TdkPopupOver.TdkHeaderUserInfo .TdkPopupContent {
    right: -140px; }
    [dir="rtl"] .TdkPopupOver.TdkHeaderUserInfo .TdkPopupContent {
      right: auto;
      left: -140px; } }
@media (min-width: 992px) {
  .TdkMegamenu .horizontal.navbar-nav {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; } }

/*# sourceMappingURL=headerposition1535500054.css.map */
