/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HOME 3
*****************************************/
.TdkHtml.headerServiceText {
  text-transform: none; }
  .TdkHtml.headerServiceText .btn {
    padding: 0.625rem 1.25rem;
    font-size: 0.8125rem;
    font-weight: 400;
    margin-left: 0.625rem; }
    .rtl .TdkHtml.headerServiceText .btn {
      margin-right: 0.625rem;
      margin-left: inherit; }

@media (min-width: 992px) {
  .groupImgCate > div {
    margin-bottom: 5.625rem; }
  .groupImgCate .TdkCategoryImage {
    margin-bottom: 0; }
    .groupImgCate .TdkCategoryImage ul {
      position: relative; }
      .groupImgCate .TdkCategoryImage ul li .cate-name-nochild {
        background: #FFFFFF;
        position: absolute;
        left: 3.125rem;
        right: 3.125rem;
        bottom: 3.125rem;
        padding: 0.9375rem 0.625rem; }
    .groupImgCate .TdkCategoryImage .cate-no-child .cover-img {
      margin-bottom: 0; } }
@media (max-width: 991px) {
  .groupImgCate > div {
    margin-bottom: 1.25rem; } }
.groupImgCate .TdkCategoryImage {
  text-align: center; }
  @media (max-width: 991px) {
    .groupImgCate .TdkCategoryImage {
      margin-bottom: 2.5rem; } }
  .groupImgCate .TdkCategoryImage .cate_content .cate-name-nochild {
    font-size: 1rem;
    font-weight: 500;
    display: block;
    width: auto; }

@media (max-width: 767px) {
  .TdkSlideShow {
    margin-bottom: 0.625rem; } }

/*# sourceMappingURL=profile1537548953.css.map */
