/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HOME 2
*****************************************/
.TdkTabs.TdkProductTabs {
  margin-top: 3.75rem; }

@media (min-width: 1200px) {
  .groupFeaturedService > .row {
    padding: 0 15% 0 13%; }
    .rtl .groupFeaturedService > .row {
      padding: 0 13% 0 15%; } }
@media (min-width: 992px) {
  .container {
    width: 1400px; } }

/*# sourceMappingURL=profile1537552513.css.map */
