/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HOME 5
*****************************************/
.groupFeaturedService {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }
  .groupFeaturedService:before {
    display: none; }

/*# sourceMappingURL=profile1537563214.css.map */
