/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*Preview Admin */
#module-tdkslideshow-preview .container {
  width: 100%; }
#module-tdkslideshow-preview .content-only {
  overflow: hidden; }
#module-tdkslideshow-preview #tdk-paneltool {
  display: none; }

/* The slider */
.iviewSlider {
  overflow: hidden; }

/* The timer in the Slider */
.iview-timer {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .iview-timer div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }

/* The Preloader in the Slider */
.iview-preloader {
  width: 100%;
  height: auto;
  padding: 0;
  top: 0;
  left: 0;
  border: none;
  position: absolute;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .iview-preloader div {
    background: #000000;
    float: left;
    width: 0rem;
    height: 0.1875rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }

/* The strips and boxes in the Slider */
.iview-strip, .iview-block {
  display: block;
  position: absolute;
  z-index: 5; }

/* Direction nav styles (e.g. Next & Prev) */
.iview-directionNav a {
  position: absolute;
  top: 50%;
  z-index: 9;
  cursor: pointer;
  margin-top: -2.813rem;
  color: #272727;
  text-align: center;
  font-size: 0px;
  background: #FFFFFF;
  width: 5.625rem;
  height: 5.625rem;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition-property: left, right;
  -moz-transition-property: left, right;
  transition-property: left, right; }
  .iview-directionNav a:before {
    content: "";
    font-size: 2.5rem;
    line-height: 5.5rem;
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem; }
  .iview-directionNav a.iview-prevNav {
    left: -6.25rem; }
    .iview-directionNav a.iview-prevNav:before {
      content: url("../../../../../assets/img/modules/tdkslideshow/img/iView/left-arrow.svg"); }
  .iview-directionNav a.iview-nextNav {
    right: -6.25rem; }
    .iview-directionNav a.iview-nextNav:before {
      content: url("../../../../../assets/img/modules/tdkslideshow/img/iView/right-arrow.svg"); }
  .iview-directionNav a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); }
  @media (max-width: 1199px) {
    .iview-directionNav a {
      width: 2.5rem;
      height: 2.5rem; }
      .iview-directionNav a:before {
        line-height: 2.5rem;
        width: 2rem;
        height: 2rem; } }

.iview.iview-hover .iview-directionNav a.iview-prevNav {
  left: 0.625rem; }
.iview.iview-hover .iview-directionNav a.iview-nextNav {
  right: 0.625rem; }

/* Control nav styles (e.g. 1,2,3...) */
.iview-controlNav div.iview-items {
  z-index: 25;
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 100%;
  bottom: 0.625rem;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out; }
  @media (max-width: 767px) {
    .iview-controlNav div.iview-items {
      bottom: -0.625rem; } }
  .iview-controlNav div.iview-items ul {
    margin-bottom: 0; }
    .iview-controlNav div.iview-items ul li {
      display: inline-block;
      position: relative;
      height: 0.625rem;
      padding: 0; }
      .iview-controlNav div.iview-items ul li a.iview-control {
        background-color: #FFFFFF;
        text-indent: -9999px;
        display: inline-block;
        cursor: pointer;
        margin: 0 0.3125rem;
        width: 0.625rem;
        height: 0.625rem;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%; }
        .iview-controlNav div.iview-items ul li a.iview-control.active, .iview-controlNav div.iview-items ul li a.iview-control:hover {
          background: #ee4448; }
  .iview-controlNav div.iview-items.customHtmlBullet {
    padding: 0;
    height: 6rem;
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    z-index: 3; }
    .iview-controlNav div.iview-items.customHtmlBullet ul li {
      width: 33%;
      height: 6rem;
      float: left;
      padding: 0; }
    .iview-controlNav div.iview-items.customHtmlBullet a.iview-control {
      float: left;
      width: 100%;
      height: 100%;
      color: #282828;
      background: none;
      text-transform: uppercase;
      border-left: 1px solid #e1e1e1;
      text-indent: inherit;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      padding: 1.25rem 1.563rem 1.25rem 16%;
      margin: 0; }
      .rtl .iview-controlNav div.iview-items.customHtmlBullet a.iview-control {
        padding: 1.25rem 16% 1.25rem 1.563rem; }
      .iview-controlNav div.iview-items.customHtmlBullet a.iview-control.active, .iview-controlNav div.iview-items.customHtmlBullet a.iview-control:hover {
        background: #ee4448;
        cursor: pointer; }
        .iview-controlNav div.iview-items.customHtmlBullet a.iview-control.active:after, .iview-controlNav div.iview-items.customHtmlBullet a.iview-control:hover:after {
          font-family: "FontAwesome";
          content: "\f0d8";
          position: absolute;
          top: -2.063rem;
          right: auto;
          left: 50%;
          margin-left: -0.625rem;
          font-size: 2.5rem;
          color: #ee4448; }
        .iview-controlNav div.iview-items.customHtmlBullet a.iview-control.active span, .iview-controlNav div.iview-items.customHtmlBullet a.iview-control:hover span {
          background-color: #ee4448;
          color: #FFFFFF; }
      .iview-controlNav div.iview-items.customHtmlBullet a.iview-control h5 {
        color: #282828;
        font-size: 0.875rem;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        line-height: 1.25rem; }
      .iview-controlNav div.iview-items.customHtmlBullet a.iview-control span {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        background: #eaeaea;
        line-height: 3.5rem;
        color: #282828;
        display: inline-block;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 1.125rem;
        margin: 0 1.125rem 0 0;
        float: left;
        width: 3.5rem;
        height: 3.5rem; }
      .iview-controlNav div.iview-items.customHtmlBullet a.iview-control p {
        margin: 0;
        color: #787878; }
.iview-controlNav.iview-thumbnail div.iview-items {
  bottom: 0; }
  .iview-controlNav.iview-thumbnail div.iview-items ul li {
    width: 12.5rem;
    height: auto;
    overflow: hidden;
    vertical-align: bottom; }
    .iview-controlNav.iview-thumbnail div.iview-items ul li a {
      width: 100%;
      height: auto;
      margin: 0;
      text-indent: inherit;
      background: transparent;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .iview-controlNav.iview-thumbnail div.iview-items ul li a.active, .iview-controlNav.iview-thumbnail div.iview-items ul li a:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
      .iview-controlNav.iview-thumbnail div.iview-items ul li a img {
        max-width: 100%;
        height: auto; }

/* The video show in the Slider */
.iview-video-show {
  background: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101; }
  .iview-video-show .iview-video-container {
    position: relative;
    width: 100%;
    height: 100%; }
    .iview-video-show .iview-video-container a.iview-video-close {
      position: absolute;
      right: 0.625rem;
      top: 0.625rem;
      background: #222222;
      color: #FFFFFF;
      text-align: center;
      line-height: 1.813rem;
      font-size: 1.375rem;
      font-weight: bold;
      overflow: hidden;
      width: 1.25rem;
      height: 1.25rem;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      border-radius: 15px; }
      .iview-video-show .iview-video-container a.iview-video-close:hover {
        background: #121212; }

/*# sourceMappingURL=iview.css.map */
