{**
*
* PrestaShop module created by TDK Studio, A young & creative agency focus on Digital platform
*
* @author    TDK Studio
* @copyright 2018-9999 TDK Studio
* @license   This program is not free software and you can not resell and redistribute it
*
* CONTACT WITH DEVELOPER
* Email/Skype: info.tdkstudio@gmail.com
*
**}
<div class="compare">
	<a class="tdk-compare-button btn-primary TdkBtnProduct btn{if $added} added{/if}" href="javascript:void(0)" data-id-product="{$tdk_compare_id_product}" title="{if $added}{l s='Remove from Compare' d='Shop.Theme.Global'}{else}{l s='Add to Compare' d='Shop.Theme.Global'}{/if}">
		<span class="tdk-compare-bt-loading cssload-speeding-wheel"></span>
		<span class="tdk-compare-bt-content">
			<span class="TdkIconBtnProduct icon-compare">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
					<g>
						<path id="Retweet" d="M18.102,71.5c-1.854,0-3.361-1.514-3.361-3.372V40.664L0,40.657l20.029-21.924l20.037,21.931H25.305v20.234
							h15.85L51.541,71.5H18.102z M90,49.344H75.254V21.872c0-1.859-1.508-3.372-3.361-3.372H38.461L48.84,29.101h15.848v20.235
							l-14.752,0.008l20.035,21.928L90,49.344z"/>
					</g>
				</svg>
			</span>
			<span class="TdkNameBtnProduct">{l s='Add to Compare' d='Shop.Theme.Global'}</span>
		</span>
	</a>
</div>