{**
*
* PrestaShop module created by TDK Studio, A young & creative agency focus on Digital platform
*
* @author    TDK Studio
* @copyright 2018-9999 TDK Studio
* @license   This program is not free software and you can not resell and redistribute it
*
* CONTACT WITH DEVELOPER
* Email/Skype: info.tdkstudio@gmail.com
*
**}
<!-- @file modules\tdkplatform\views\templates\front\license.tpl -->
<p class="back-to-home"><a class="btn TdkBtnGlobal" href="{$tdk_base_url }">{l s='Take me home' d='Shop.Theme.Global'}</a></p>