{**
*
* PrestaShop module created by TDK Studio, A young & creative agency focus on Digital platform
*
* @author    TDK Studio
* @copyright 2018-9999 TDK Studio
* @license   This program is not free software and you can not resell and redistribute it
*
* CONTACT WITH DEVELOPER
* Email/Skype: info.tdkstudio@gmail.com
*
**}
<!-- @file modules\tdkplatform\views\templates\front\license.tpl -->
<div class="TdkHeaderLogo"><a href="{$urls.base_url}" class="text-md-left text-xs-center"><!--img class="logo img-fluid" src="{$shop.logo}" alt="{$shop.name}"--><img class="logo img-fluid" src="/img/logo-web.svg" alt="{$shop.name}" style="width:115px;"></a></div>