{*
*  Please read the terms of the CLUF license attached to this module(cf "licences" folder)
*
* @author    Línea Gráfica E.C.E. S.L.
* @copyright Lineagrafica.es - Línea Gráfica E.C.E. S.L. all rights reserved.
* @license   https://www.lineagrafica.es/licenses/license_en.pdf https://www.lineagrafica.es/licenses/license_es.pdf https://www.lineagrafica.es/licenses/license_fr.pdf
*}
<div class="lg-block bootstrap">
    <div class="row">
        <div class="col-lg-4">
            <div class="lg-block-company">
                <span>{l s='Module developed by' mod='lgcanonicalurls'}</span>
                <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/logo_lgaddons.png"/>
            </div>
            <div class="lg-block-partner">
                <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/ico_partners.png"/>
                <span>{l s='PrestaShop platinum partner' mod='lgcanonicalurls'}</span>
            </div>
            <div class="lg-block-creator">
                <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/ico_creator.png"/>
                <span>{l s='Modules creator partner' mod='lgcanonicalurls'}</span>
            </div>
        </div>
        <div class="col-lg-7">
            {* MODULE 1 *}
            <div class="col-lg-4">
                <div class="lg-module-block">
                    <a href="https://addons.prestashop.com/{$iso|escape:'htmlall':'UTF-8'}/url-redirects/11399-301-302-303-url-redirects-and-404-seo.html" target="_blank">
                        <div class="lg-title">
                            <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/ico_lgseoredirect.jpg"/>
                            <span class="lg-module-name">
                                {l s='301, 302, 303 URL Redirects and 404 – SEO	Module' mod='lgcanonicalurls'}
                            </span>
                        </div>
                        <div class="lg-description">
                            {l s='Improve the SEO of your store by adding 301, 302, 303 redirects and avoiding 404 errors! ' mod='lgcanonicalurls'}&nbsp;
                            {l s='Easily and quickly redirect url of deleted products or categories from your store.' mod='lgcanonicalurls'}
                        </div>
                        <div class="lg-rating">
                            <span class="lg-rating">{l s='Rating' mod='lgcanonicalurls'}:</span>
                            <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/stars_9_peq.png"/>
                        </div>
                        <div class="lg-button">
                            <span>{l s='More information' mod='lgcanonicalurls'}</span>
                        </div>
                    </a>
                </div>
            </div>
            {* MODULE 2 *}
            <div class="col-lg-4">
                <div class="lg-module-block">
                    <a href="https://addons.prestashop.com/{$iso|escape:'htmlall':'UTF-8'}/seo-natural-search-engine-optimization/7507-multilingual-and-multistore-sitemap-pro-seo.html" target="_blank">
                        <div class="lg-title">
                            <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/ico_lgsitemaps.jpg"/>
                            <span class="lg-module-name">
                                {l s='Multilingual and Multistore Sitemap Pro – SEO	Module' mod='lgcanonicalurls'}
                            </span>
                        </div>
                        <div class="lg-description">
                            {l s='Generate sitemaps of all the urls of your store automatically (cron), in all the languages of your store (multilingual), ' mod='lgcanonicalurls'}&nbsp;
                            {l s='for all your stores (multistore) and including product, categories and manufacturer images.' mod='lgcanonicalurls'}
                        </div>
                        <div class="lg-rating">
                            <span class="lg-rating">{l s='Rating' mod='lgcanonicalurls'}:</span>
                            <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/stars_9_peq.png"/>
                        </div>
                        <div class="lg-button">
                            <span>{l s='More information' mod='lgcanonicalurls'}</span>
                        </div>
                    </a>
                </div>
            </div>
            {* MODULE 3 *}
            <div class="col-lg-4">
                <div class="lg-module-block">
                    <a href="https://addons.prestashop.com/{$iso|escape:'htmlall':'UTF-8'}/legal/8734-eu-cookie-law-complies-gdpr-banner-cookie-blocker.html" target="_blank">
                        <div class="lg-title">
                            <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/ico_lgcookieslaw.jpg"/>
                            <span class="lg-module-name">
                                {l s='EU Cookie Law Complies GDPR (Banner + Cookie Blocker)	Module' mod='lgcanonicalurls'}
                            </span>
                        </div>
                        <div class="lg-description">
                            {l s='This module allows you to fully comply with the GDPR/LOPD Cookies Section. ' mod='lgcanonicalurls'}&nbsp;
                            {l s='Display a responsive and custom warning banner and disable cookies when users enter your website until you obtain their consent.' mod='lgcanonicalurls'}
                        </div>
                        <div class="lg-rating">
                            <span class="lg-rating">{l s='Rating' mod='lgcanonicalurls'}:</span>
                            <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/stars_10_peq.png"/>
                        </div>
                        <div class="lg-button">
                            <span>{l s='More information' mod='lgcanonicalurls'}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="lg-background-image">
                <span class="lg-vertical-text">
                    <a href="https://addons.prestashop.com/es/22_linea-grafica" target="_blank">
                        {l s='Discover all our modules' mod='lgcanonicalurls'}
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>