{*
*  Please read the terms of the CLUF license attached to this module(cf "licences" folder)
*
* @author    Línea Gráfica E.C.E. S.L.
* @copyright Lineagrafica.es - Línea Gráfica E.C.E. S.L. all rights reserved.
* @license   https://www.lineagrafica.es/licenses/license_en.pdf https://www.lineagrafica.es/licenses/license_es.pdf https://www.lineagrafica.es/licenses/license_fr.pdf
*}
<div class="lg-block">
    <div class="pull-left">
        <div class="lg-block-icon">
            {*<a class="readme" href="{$base_url|escape:'htmlall':'UTF-8'}readme/readme_{$iso|escape:'htmlall':'UTF-8'}.pdf" target="_blank">*}
            <a class="readme" href="{$base_url|escape:'htmlall':'UTF-8'}readme/readme_en.pdf" target="_blank">
                <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/ico_readme.png"/>
                <span class="text">{l s='Readme' mod='lgcanonicalurls'}</span>
            </a>
        </div>
        <div class="lg-block-icon">
            <a class="support" href="https://addons.prestashop.com/es/Write-to-developper?id_product=21749" target="_blank">
                <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/ico_support.png">
                <span class="text">{l s='Support' mod='lgcanonicalurls'}</span>
            </a>
        </div>
        <div class="lg-block-icon">
            <a class="opinion" href="https://addons.prestashop.com/en/ratings.php" target="_blank">
                <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/ico_opinion.png">
                <span class="text">{l s='Leave a comment' mod='lgcanonicalurls'}</span>
            </a>
        </div>
    </div>
    <div class="pull-right">
        <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/logo_lgaddons.png"/>
        <div class="lg-block-icon right">
            <a class="see-modules" href="https://addons.prestashop.com/es/22_linea-grafica" target="_blank">
                <img src="{$base_url|escape:'htmlall':'UTF-8'}views/img/publi/ico_see_modules.png">
                <span class="text">{l s='See modules' mod='lgcanonicalurls'}</span>
            </a>
        </div>
    </div>
</div>