/**
 * We offer the best and most useful modules PrestaShop and modifications for your online store.
 *
 * We are experts and professionals in PrestaShop
 *
 * @author    PresTeamShop.com <support@presteamshop.com>
 * @copyright 2011-2021 PresTeamShop
 * @license   see file: LICENSE.txt
 * @category  PrestaShop
 * @category  Module
 */

div#onepagecheckoutps div#stores-container.row {
    margin-left: 10px !important;
    margin-right: 10px;
    background: transparent;
    padding: 5px;
}

div#carrier_area div#pts_modal_cps {
    position: relative;
    top: 0;
}

#stores-container h2 {
    padding-bottom: 0 !important;
}

#stores-container .form-group {
    padding: 10px 0;
    margin: 0;
    width: 100%;
}

#stores-container .form-group .alert {
    margin: 0 10px;
}

/* modal */
#pts_modal_stores {
    margin: auto;
    width: auto;
    z-index: 1041;
}

#pts_modal_stores {
    top: 0 !important;
}

#pts_modal_stores .modal-dialog {
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

/* opc compatibility */
#onepagecheckoutps div.cps_disabled, div#delivery-addresses > .address-item.cps_disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

#onepagecheckoutps div.cps_disabled > .container_card,
div#delivery-addresses > .address-item.cps_disabled > header,
div#delivery-addresses > .address-item.cps_disabled > footer {
    pointer-events: none;
}

#onepagecheckoutps #onepagecheckoutps_step_two_container #id_store_carrier_step,
#id_store_carrier_step {
    width: 100%;
    height: 35px !important;
    border-radius: 5px 0 0 5px !important;
}

#onepagecheckoutps #onepagecheckoutps_step_two_container #see_map,
#see_map {
    height: 35px !important;
    border-radius: 0 5px 5px 0 !important;
}
.cps_hide {
    display: none !important;
}