/**
 * We offer the best and most useful modules PrestaShop and modifications for your online store.
 *
 * We are experts and professionals in PrestaShop
 *
 * @author    PresTeamShop.com <support@presteamshop.com>
 * @copyright 2011-2021 PresTeamShop
 * @license   see file: LICENSE.txt
 * @category  PrestaShop
 * @category  Module
 */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(156, 156, 156, .6);
}
#map {
    min-height: 318px  !important;

}
#pts_modal_stores {
    top: 0 !important;
    padding: 0px !important;
    overflow-y: hidden;
}

#pts_modal_stores input {
    background: none;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px !important;
    color: inherit;
    font-size: 12px;
    padding: 5px;
    height: auto !important;
}

#pts_modal_stores .modal-dialog .modal-header {
    text-transform: uppercase;
}

#pts_modal_stores .modal-dialog .modal-header button,
#pts_modal_stores .modal-dialog .modal-header button i {
    color: #555555;
}

#pts_modal_stores .modal-dialog {
    top: 0px !important;
    padding: 0px !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
}
#pts_modal_stores .modal-content {
    padding: 0px !important;
}

#pts_modal_stores .modal-dialog .modal-body,
#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list,
#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_map {
    padding: 0px !important;
}
#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list span {
    margin-left: 0px;
}

#pts_modal_stores .modal-dialog .modal-body {
    height: calc(100vh - 123px);
    overflow: auto;
}

#pts_modal_stores .modal-dialog .modal-footer {
    margin: 0px;
    padding: 15px;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .card {
    background-color: #FFFFFF;
    margin-bottom: 0px !important;
    border: none !important;
    box-shadow: none !important;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list {
    height: calc(100vh - 119px);
    max-height: calc(100vh - 119px);
    overflow: auto;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content{
    padding: 0px;
    border-bottom: 1px solid #DDDDDD;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #DDDDDD;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content i {
    font-size: 12px !important;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content span {
    font-weight: bold;
    color: #555555;
    line-height: 13px;
    font-size: 13px;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content span.schedule {
    display: inline-block;
    margin-bottom: 15px;
}
#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content .schedule-content > .row{
    margin-bottom: 8px;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content .schedule-content {
    padding-left: 15px;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content .schedule-content div{
    font-weight: normal;
    color: #555555;
    line-height: 13px;
    font-size: 13px;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content .schedule-content div.day{
    font-weight: bold;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content {
    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .card.selected .header-content,
#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .card.selected .body-content {
    background-color: #E3F6E8 !important;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content label.pts-radio{
    position: relative;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content label.pts-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content label.pts-radio .radiokmark {
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #FFF;
    border: 3px solid #555;
    /*transition: background .3s, border .3s;*/
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content label.pts-radio .radiokmark:after {
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
    left: 24px;
    top: 0px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: opacity .2s, top .3s;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content label.pts-radio:hover input[type="radio"] ~ .radiokmark {
    background-color: #DDD;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content label.pts-radio input[type="radio"]:checked ~ .radiokmark {
    background-color: #3A9A56;
    border: 1px solid #3A9A56;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content label.pts-radio input[type="radio"]:checked ~ .radiokmark:after {
    top: 19px;
    opacity: 1;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list a.header-content-link{
    text-decoration: none !important;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content a.header-content-link i {
    float: right;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content a.header-content-link i,
#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content a.header-content-link h5,
#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content a.header-content-link span{
    color: #555555;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content a.header-content-link {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .header-content a.header-content-link h5.store_name {
    margin-bottom: 0px;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content {
     background-color: #fbfbfb;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_map {
    height: auto;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_map #map{
    height: calc(100vh - 123px);
}
#pts_modal_stores .modal-dialog .modal-footer button{
    background: #428bca !important;
    color: #FFF !important;
    text-transform: uppercase;
}

#pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_map #map #pac-input {
    display: block;
    top: 10px !important;
    height: 40px !important;
}

@media (max-width: 991px) {
    #pts_modal_stores .modal-dialog{
        height: calc(100vh - 123px) !important;
        max-height: calc(100vh - 123px);
        margin: 0px;
        top: 0px !important;
    }
    #pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list {
        height: auto;
        max-height: 100%;
    }
    #pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content .schedule-content .day{
        margin-bottom: 5px;
    }
    #pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_list .body-content .schedule-content .hour{
        padding-left: 22px;
    }
    #map {
        min-height: 209px !important;
    }
    #pts_modal_stores .modal-dialog .modal-body #stores-map-container #stores_map #map #pac-input {
        display: none;
    }
}

@media (max-width: 320px) {
    #map {
        min-height: 209px !important;
    }
}
