/**
 * NOTICE OF LICENSE
 *
 * This file is licenced under the Software License Agreement.
 * With the purchase or the installation of the software in your application
 * you accept the licence agreement.
 *
 * You must not modify, adapt or create derivative works of this source code
 *
 *  @author    Outvio OU
 *  @copyright 2017-2018 Outvio OU
 *  @license   Outvio OU
 */
.points-list {
	/*width: 100%;*/
	z-index: 3;
	padding-bottom: 9px;
}
.points-list select {
	width: auto;
	height: 36px;
	max-width: 100%;
}
/*
.points-list select:focus {
	max-width: 200px;
	width: auto;
}
*/
.points-list select option {
	font-size: 9px;
}
.points-list select, .points-list option { width: __; }

#order .map-container {
}

.map-container {
	position: relative;
}

.gmap {
 	height: 100%;
	/*height: 650px;*/
	min-height: 510px;
	margin-bottom: 30px;
	min-width: 100%;
}

#map {
 	height: 100%;
	/*height: 650px;*/
	min-height: 510px;
	margin-bottom: 30px;
}

body#checkout section.checkout-step.-reachable.-clickable .content {
	display:block;
}

body#checkout section.checkout-step.-reachable.-clickable.-complete .content {
	display: none;
}

body#checkout section.checkout-step.-reachable.-clickable.js-current-step .content {
	display:block;
}





body#checkout .gm-style .gm-style-iw-t::after, body#order .gm-style .gm-style-iw-t::after, body#order-opc .gm-style .gm-style-iw-t::after {
	background: none;
	box-shadow: none;
}

#order .gm-style-iw-d h3, #order-opc .gm-style-iw-d h3 {
	margin-top: 0px;
}

.gm-style-iw-d h3 {
	color:#003333;
	font-size: 12px;
	margin-bottom: 0px;
}
.gm-style-iw-d p {
	font-size: 11px;
	margin-bottom: 0px;
}

.gm-style-iw button img{
	display: none !important;
}

.gm-style-iw button {
	opacity: 1;
	top:21px !important;
	right: 27px !important;
	background-image: url(../img/checkbox.svg) !important;
	background-color: #003333;
}

.gmap-search::focus {
	border-color: #fff;
	border:none;
}

.gmap-search {
	line-height: 32px;
	margin-left: 6px;
	border:none;

	position: absolute;
	top:0;
	left: 0;
	display: block;
	padding-left: 45px;
	background-color: #fff;
	opacity: 0.9;
	z-index:999;

}

.pac-container {
	position: absolute;
	z-index: 2;
	top: 48px;
	left: 18px;
	border:none;

}
.pac-container:before {
	content: url(../img/search_glass.png) !important;
	width: 32px;
	height: 32px;
	position:absolute;
	top:6px;
	left:12px;
	z-index:1000;
	display: block;
	opacity: 0.9;
}
.delivery_options .delivery_option {
	position: relative;
}


#order-opc .pac-container {
	position: absolute;
	z-index: 2;
	top: 48px;
	left: 9px;
	border:none;
}
#order .pac-container {
	position: absolute;
	z-index: 2;
	top: 48px;
	left: 9px;
	border:none;
}

.row.carrier-extra-content {
	position: relative;
}
/*.delivery-options-list {*/
	/*display: block;*/
/*}*/
/*.outvio-preloader {*/
	/*height: 300px;*/
	/*margin-left: -25px;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	/*width: 100%;*/
	/*vertical-align: middle;*/
	/*display: none;*/
/*}*/
/*.wait .delivery-options-list {*/
	/*display: none;*/
/*}*/
/*.wait .outvio-preloader {*/
	/*display: flex;*/
/*}*/
/*.row.carrier-extra-content .preloader svg{*/
	/*width: 100%;*/
/*}*/

.gm-style .gm-style-iw-t::after {
/*
    background-image: url(../img/pin_parcellocker.svg) !important;
    background-size: 50px 30px;
    display: inline-block;
    width: 50px;
    height: 30px;
    content:"";
*/	
	/*
	content:url(../img/pin_parcellocker.svg) !important;
	transform: scale(2.1) !important;
	left:-23px;
	top:6px;
	box-shadow: none !important;
	*/
	/*width: 120%;*/
}




body#checkout .gm-style-iw.gm-style-iw-c, body#order .gm-style-iw.gm-style-iw-c, body#order-opc .gm-style-iw.gm-style-iw-c {
	/*width:95%;*/
	padding: 12px 27px !important;
	padding-right: 90px !important;
	height: 75px;
	/*bottom:-357px;*/
	/*top:271px;*/
	max-height: 390px !important;
	background-color: #ffffff !important;
	opacity:0.9;
	/*max-width:573px !important;*/
	border-radius: 0px !important;
	overflow-y: auto;
	overflow-x: hidden;
	transform: none;
	display: none;
	top:unset;
}
@media screen and (max-width: 460px) {
	body#checkout .gm-style-iw.gm-style-iw-c, body#order .gm-style-iw.gm-style-iw-c, body#order-opc .gm-style-iw.gm-style-iw-c {

	padding: 9px 12px !important;
	padding-right: 50px !important;
	}
}	
/*
@media screen and (min-width:991px) and (max-width: 1199px) {
	body#checkout .gm-style-iw.gm-style-iw-c, body#order .gm-style-iw.gm-style-iw-c, body#order-opc .gm-style-iw.gm-style-iw-c {

		left:-70px;
	}
}

@media screen and (min-width:768px) and (max-width: 990px) {
	body#checkout .gm-style-iw.gm-style-iw-c, body#order .gm-style-iw.gm-style-iw-c, body#order-opc .gm-style-iw.gm-style-iw-c {

		left:-110px;
	}
}

@media screen and (min-width:7px) and (max-width: 767px) {
	body#checkout .gm-style-iw.gm-style-iw-c, body#order .gm-style-iw.gm-style-iw-c, body#order-opc .gm-style-iw.gm-style-iw-c {
		left:-110px;
	}
}
*/