{*
 * NOTICE OF LICENSE
 *
 * This source file is subject to a commercial license from SAS Comptoir du Code
 * Use, copy, modification or distribution of this source file without written
 * license agreement from the SAS Comptoir du Code is strictly forbidden.
 * In order to obtain a license, please contact us: contact@comptoirducode.com
 *
 * @package   cdc_googletagmanager
 * @author    Vincent - Comptoir du Code
 * @copyright Copyright(c) 2015-2020 SAS Comptoir du Code
 * @license   Commercial license
 *}
<script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>

<script data-keepinline="true">
  window.renderBadge = function() {
    var ratingBadgeContainer = document.createElement("div");
    document.body.appendChild(ratingBadgeContainer);
    window.gapi.load('ratingbadge', function() {
      window.gapi.ratingbadge.render(ratingBadgeContainer, {
        "merchant_id": {$GCR_MERCHANT_ID},
        "position": "{$GCR_BADGE_POSITION}"
      });
    });
  }
</script>
