<!--{*
 * Infinite scroll premium
 *
 * @author    Studio Kiwik
 * @copyright Studio Kiwik 2014-2017
 * @license   http://licences.studio-kiwik.fr/infinitescroll
 *}-->
			<div class="clear"></br></div>
			<form class="defaultForm  form-horizontal">
				<div class="panel" id="fieldset_0">						
					<div class="panel-heading">
						<i class="icon-info"></i> {$module->displayName|escape:'htmlall':'UTF-8'}</div>												
					<div class="form-group">
						<img class="kiwik-footer-logo" src="{$module_path|escape:'htmlall':'UTF-8'}/views/img/kiwik-round.png" style="height:50px;">
						{$module->displayName|escape:'htmlall':'UTF-8'} version 1.1.13.
                        <a href="http://addons.prestashop.com/23_kiwik" class="kiwik-link">Studio Kiwik</a>,
						<a href="http://www.prestashop.com/fr/agences-web-partenaires/or/kiwik" class="prestashop-link">agence partenaire Prestashop</a>
					</div>
				</div>									
			</form>