.ets_cfu_ul_files {
    margin: 0;
    padding: 0;
}
.ets_cfu_ul_files .ets_cfu_li {
    list-style: none;
}
.form_group_contact .alert {
    padding: 12px 10px!important;
    border: 2px solid transparent!important;
}
select#ets_cfu_id_contact {
    width: auto!important;
}
#growls.default {
    right: 10px;
    top: 50px;
}
.mce-flow-layout-item.mce-last {
    margin-right: 2px;
}
#list-ets_cfu_logs .statitics_form_action a.btn.btn-default {
    margin-top: 5px;
    margin-bottom: 5px;
}
#list-ets_cfu_logs .statitics_form_action {
    text-align: center;
}
#table-log.table.log th:last-child {
    text-align: center;
}
input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
}
.action_col .btn.btn-default {
    margin: 2px 0;
}
#tag-generator-panel-text-maxlength + p.help-block {
    margin-top: 0;
    font-style: italic;
}
.form_group_contact .alert-info {
    color: #136070!important;
    background-color: #d3f1f7!important;
    border-color: #c2ebf4!important;
}
.form_group_contact .alert {
    padding: 12px 0 12px 55px!important;
    background-color: #fff!important;
    position: relative!important;
    color: #363a41!important;
}
.form_group_contact.general_settings.form_hook td label {
    font-weight: normal;
}
.ets_cfu_help_block.help-block {
    width: 100%;
    display: block;
    clear: both;
    color: #999;
}
form.tag-generator-panel td label {
    cursor: pointer;
}
.form-group.ets_cfu_field_set > .col-lg-9 {
    padding-left: 0;
}
.form_group_contact .alert-info {
    border-color: #25b9d7!important;
}
.panel.statics_form .form-group-wapper {
    padding-bottom: 0;
    padding-top: 0;
}
table#table-log {
    margin-bottom: 20px;
}
#module_form .form_group_contact .alert-info:before {
    content: "\E88F" !important;
    background-color: #dff5f9!important;
    color: #25b9d7!important;
    display: inline-block!important;
    font-family: Material Icons!important;
    font-weight: 400!important;
    font-style: normal!important;
    display: inline-block!important;
    line-height: 1!important;
    text-transform: none!important;
    letter-spacing: normal!important;
    vertical-align: middle!important;
    word-wrap: normal!important;
    white-space: nowrap!important;
    direction: ltr!important;
    -webkit-font-smoothing: antialiased!important;
    text-rendering: optimizeLegibility!important;
    -moz-osx-font-smoothing: grayscale!important;
    -webkit-font-feature-settings: "liga"!important;
    font-feature-settings: "liga"!important;
    position: absolute!important;
    top: 0!important;
    bottom: 0!important;
    left: 0!important;
    width: 46px!important;
    width: 2.875rem!important;
    height: 100%!important;
    text-align: center!important;
    font-size: 25.008px!important;
    font-size: 1.563rem!important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.ets_cfu_ul.form-group {
    list-style: none;
    padding: 0;
}
.ets_cfu_page_url {
    font-size: inherit;
    font-style: italic;
}
.ctf_action .btn.btn-warning {
    margin-left: 4px;
}
.ctf_action > span {
    display: flex;
    display: -webkit-flex;
}
.button:focus,
.button:active {
    outline: none!important;
}
ul.ets_cfu_mail_menu {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: -46px -50px;
    float: left;
    border-right: 1px solid #ddd;
    width: 180px;
    font-size: 12px;
}
.ets_cfu_mail_menu li.ets_cfu_item {
    border-bottom: 1px solid #ddd;
    padding: 12px 20px;
    cursor: pointer;
}
.mce-container, .mce-container *, .mce-widget, .mce-widget * {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    white-space: normal;
}
.col-lg-9 ul.ets_cfu_ul.form-group {
    margin-bottom: 5px;
}
.ets_cfu_group_wrapper {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
li.ets_cfu_item.active {
    background-color: #307fb0;
    color: #fff;
    position: relative;
}
li.ets_cfu_item.active:before {
    position: absolute;
    content: "";
    left: 99.7%;
    top: 50%;
    border-left: 6px solid #307fb0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin-top: -5px;
}
.ets_cfu_form_wrapper .ets_cfu_form_email:before {
    content: "";
    position: absolute;
    left: 154px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ddd;
}
.mobile .bootstrap .page-head {
    top: 2.5rem;
}
.ets_cfu_group_wrapper h3.ets_cfu_title {
    margin: 15px 0 0!important;
    background: #fff;
    padding: 5px 15px!important;
    height: auto!important;
    border-top: 1px solid #DBEAEC!important;
    color: #666!important;
    border-left: 1px solid #DBEAEC!important;
    text-decoration: none;
    position: relative;
    width: 100%;
    border-right: 1px solid #DBEAEC!important;
}

#content.bootstrap {
    padding-right: 15px;
}
#TB_window .ets_cfu_input_text.ets_cfu_input {
    display: none;
}
#content.bootstrap .panel-heading .panel-heading-action a.list-toolbar-btn, #content.bootstrap h3:not(.modal-title) .panel-heading-action a.list-toolbar-btn {
    border-left: 1px solid #DBEAEC;
}
.form-group.translatable-field .col-lg-9 {
    width: 83.33%;
}
#content.bootstrap .panel-heading, #content.bootstrap h3:not(.modal-title) {
    border-bottom: 1px solid #DBEAEC;
    margin: -20px -20px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#content.bootstrap #dash_version, #content.bootstrap .message-item-initial .message-item-initial-body, #content.bootstrap .panel, #content.bootstrap .timeline .timeline-item .timeline-caption .timeline-panel {
    box-shadow: none!important;
    border: 1px solid #DBEAEC;
}
.admincontactformultimatedashboard .form_dashboard-card{
    margin-left: -10px;
    margin-right:  -10px;
}
.ets_cfu_input {
    border: 1px dashed #ccc;
    padding: 10px;
    margin: 10px 0 0;
    background-color: #fff;
    position: relative;
    display: flex;
    display: -webkit-flex;
    min-height: 58px;
    align-items: center;
    -webkit-align-items: center;
}
div#TB_ajaxWindowTitle img, div#TB_ajaxWindowTitle br {
    display: none;
}
#TB_table_cell p.description {
    clear: both;
    font-style: italic;
    color: #999;
}
#TB_ajaxContent .translatable-field .col-lg-10 {
    padding-left: 0;
}
.ets_cfu_rows {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.ets_cfu_input.ui-sortable-helper {
    width: 400px!important;
}
.ets_cfu_input:hover {
    cursor: move;
}
.ets_cfu_block_short_code {
    border-left: 1px solid #eee;
    padding: 0 30px 10px;
    margin-bottom: 20px;
    text-align: left;
    height: 100%;
}
h4.ets_cfu_group_title, .ets_cfu_title {
    color: #5148a5!important;
    font-family: Open sans, sans-serif!important;
    font-weight: 600!important;
    text-decoration: underline;
    font-size: 14px!important;
    margin-bottom: 30px;
}
.ets_cfu_block_short_code h3.ets_cfu_title {
    line-height: 1;
}
.ets_cfu_form_wrapper .ets_cfu_form_email {
    width: 70%;
    padding: 0 30px 0 120px;
    position: relative;
}
ul.ets_cfu_mail_menu {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: -46px -140px;
    float: left;
    border-right: 1px solid #ddd;
    width: 180px;
    font-size: 12px;
}

.ets_cfu_form_wrapper .ets_cfu_block {
    width: 30%;
    position: absolute;
    left: 70%;
    height: 100%;
}
.ets_cfu_block_short_code h3.ets_cfu_title {
    border: none!important;
    display: inline-block;
    margin: 0 0 30px!important;
    text-transform: none!important;
    font-weight: bold;
    color: #555;
}
.ets_cfu_block_short_code ul.ets_cfu_block_ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.ets_cfu_block_short_code li.ets_cfu_block_li {
    display: inline-block;
    margin-right: 6px;
        margin-bottom: 10px;
}

select[name="tagtype"] {
    width: 120px;
}
.ets_cfu_form_popup .ets_cfu_wrapper {
    display: inline-block;
    position: relative;
}
.ets_form_tab_header .active {
    background-color: #fff;
    color: #00aff0;
    border: 1px solid #DBEAEC;
    border-bottom: 1px solid #fff;
}
.tag-generator-panel td label {
    font-weight: normal;
}
.style21 .ets_cfu_col.col1, .style21 .ets_cfu_col.col2,
.style22 .ets_cfu_col.col1, .style22 .ets_cfu_col.col3,
.style23 .ets_cfu_col.col2, .style23 .ets_cfu_col.col3 {
    width: 25%;
}
.style21 .ets_cfu_col.col3,
.style22 .ets_cfu_col.col2,
.style23 .ets_cfu_col.col1 {
    width: 50%;
}
.style4 .ets_cfu_col {
    width: 25%;
}
.panel-heading-action > a.list-toolbar-btn {
    min-height: 40px;
    min-width: 40px;
}
.ets_cfu_input_generator .ets_cfu_form_data {
    font-weight: bold;
    font-size: 14px;
    color: #444;
}
.ets_cfu_col:not(:first-child) {
    border-left: 1px solid #ddd;
    border-right: none;
}

.tag-generator-panel legend {
    font-size: 13px;
}
.ets_cfu_btn_input {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.ets_cfu_btn_input .settings_icon {
    padding: 5px 10px;
    min-width: 20px;
    display: block;
    position: relative;
    cursor: pointer;
}

.ets_cfu_btn_input:hover .settings_icon {
    opacity: 0;
    visibility: hidden;
}
.ets_cfu_btn_input .settings_icon_content {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    display: flex;
    display: -webkit-flex;
    text-align: left;
    color: #777;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    top: 0;
    opacity: 0;
    visibility: hidden;
    right: 0;
}
.ets_cfu_btn_input:hover .settings_icon_content {
    opacity: 1;
    visibility: visible;
}
.ets_cfu_btn_input:hover {
    z-index: 2;
}
.settings_icon_content > span {
    padding: 5px 0;
    display: inline-block;
    text-align: center;
    font-size: 0;
    cursor: pointer;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.ets_cfu_btn_input:hover .settings_icon_content > span {
    width: 32px;
}
.ets_cfu_form_popup h3.ets_cfu_title {
    background-color: #307fb0;
    padding: 5px 30px!important;
    height: auto!important;
    font-weight: 600;
    color: #fff!important;
    text-decoration: none!important;
    margin: -30px -30px 30px!important;
    text-align: center;
    font-family: Open sans, sans-serif;
}
.settings_icon_content > span:hover {
    background-color: #00aff0;
    color: #fff;
}
.settings_icon_content > span:not(:last-child) {
    border-right: 1px solid #eee;
}
span.ets_cfu_btn_copy_input {
    transition-delay: 0.2s;
}
span.ets_cfu_btn_edit_input {
    transition-delay: 0.4s;
}
.ets_cfu_btn_input:hover .settings_icon_content > span {
    width: 35px;
        transition: all 0.3s;
}
.settings_icon_content > span i {
    margin-right: 0;
    min-width: 12px;
    line-height: 16px;
    font-size: 12px;
}
.ets_cfu_input_generator .ets_cfu_help_block {
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
}
.ets_cfu_input_generator i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-right: 1px solid #ccc;
    padding-right: 15px;
    font-size: 18px;
    line-height: 30px;
}
.ets_cfu_input_generator {
    width: 100%;
    position: relative;
    text-align: left;
    padding-left: 45px;
}

label[for="tag-generator-panel-radio-values"] {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.cfu-top-menu .icon-home:before{
    content: "\f201";
    font-family: FontAwesome, sans-serif;
}
span.ets_cfu_close_popup {
    font-size: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 25px;
}
input.ets_cfu_file + .ctf-short-code {
    float: none;
    display: inline-block;
    margin-left: 10px;
}
#TB_ajaxWindowTitle .ets_cfu_input-img {
    display: inline-block;
}
.ets_cfu_input_recaptcha .ets_cfu_google_captcha {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 5px;
    font-size: 12px;
}
.bootstrap .btn.btn-default:focus i,
.bootstrap .btn.btn-default:active i {
    color: #fff;
}
.ets_cfu_input_recaptcha .ets_cfu_google_captcha i {
    font-size: 16px;
}
.ets_cfu_setting_wrapper .panel-heading {
    display: none;
}
.ets_cfu_group_wrapper h3.ets_cfu_title:before {
    content: "\F013";
    font-family: Fontawesome, sans-serif;
    margin-right: 5px;
}
.ets_cfu_menu_left {
    border-left: none;
    border-right: 1px solid #DBEAEC;
    border-left: 1px solid #DBEAEC;
    border-top: 1px solid #DBEAEC;
    border-bottom: 1px solid #DBEAEC;
    display: inline-block;
        position: relative;
    float: left;
    padding: 0;
    margin-bottom: 0!important;
    z-index: 1;
    background: #fff;
    width: 200px;
    margin-top: -1px!important;
}
.ets_cfu_setting_wrapper .cfu-content-block {
    margin-top: -1px;
    margin-left: -1px;
    width: calc(100% + 1px);
    width: -webkit-calc(100% + 1px);
}
.cfu-top-menu + .ets_cfu_errors {
    margin-bottom: -50px;
    margin-top: 60px;
}
.ets_cfu_setting_wrapper {
    width: calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    float: left;
}
.ets_cfu_menu_left a,
.bootstrap .ets_cfu_menu_left a {
    color: #777;
    padding: 10px 15px;
    display: block;
}
.ets_cfu_wrapper {
    display: flex;
    display: -webkit-flex;
}
.ets_cfu_menu_left a:hover {
    color: #777;
}
ul.ets_cfu_menu_left li {
    border-bottom: 1px solid #DBEAEC;
}
.ets_cfu_menu_left li {
    cursor: pointer;
    display: inline-block;
    list-style: outside none none;
    padding: 0;
    background-color: #fff;
    line-height: 22px;
    position: relative;
    font-size: 13px;
    color: #777;
    width: 100%;
}
.ets_cfu_menu_left li.active {
    background-color: #5148a5;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.ets_cfu_menu_left li.active a{
    color: #fff!important;
}
.ets_cfu_menu_left li.active:after {
    content: "";
    border-left: 8px solid #5148a5;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -8px;
}
.dashboard-card-content .percentage {
    width: 100%;
    height: 4px;
    background-color: #eee;
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
}
.dashboard-card-content .percentage .percentage_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.ets_cfu_dashboard-logs ul {
    list-style: none;
    padding-left: 0;
}
span.log_date {
  color: #999;
  font-style: italic;
  margin-left: 5px;
}
.dashboard-card a.dashboard-card-link:hover {
    color: #333;
}
.ets_cfu_dashboard-logs h5,
.ets_cfu_admin_chart h4.ets_cfu_title_chart {
    font-weight: 600;
    font-size: 14px;
    font-family: Open sans, sans-serif;
    margin-bottom: 20px;
}

/**/
.dashboard-card.card-blue span.percentage_content,
.dashboard-card.card-blue .dashboard-card-link {
    background: linear-gradient(to right, #45c0ff,#0174af);
    background: -webkit-linear-gradient(to right, #45c0ff,#0174af);
}
.dashboard-card.card-blue .dashboard-card-content span.color {
    color: #0173af;
}
/**/
.dashboard-card.card-green span.percentage_content,
.dashboard-card.card-green .dashboard-card-link {
    background: linear-gradient(to right, #57d68d,#24b461);
    background: -webkit-linear-gradient(to right, #57d68d,#24b461);
}
.dashboard-card.card-green .dashboard-card-content span.color {
    color: #25b461;
}
/**/
.dashboard-card.card-brown span.percentage_content,
.dashboard-card.card-brown .dashboard-card-link {
    background: linear-gradient(to right, #ffbc65,#b66701);
    background: -webkit-linear-gradient(to right, #ffbc65,#b66701);
}
.dashboard-card.card-brown .dashboard-card-content span.color {
    color: #b66701;
}
/**/
.dashboard-card.card-yellow span.percentage_content,
.dashboard-card.card-yellow .dashboard-card-link {
    background: linear-gradient(to right, #ddd864,#cec601);
    background: -webkit-linear-gradient(to right, #ddd864,#cec601);
}
.dashboard-card.card-yellow .dashboard-card-content span.color {
    color: #cdc600;
}
/**/
.dashboard-card.card-pink span.percentage_content,
.dashboard-card.card-pink .dashboard-card-link {
    background: linear-gradient(to right, #ff9bbd,#f7437f);
    background: -webkit-linear-gradient(to right, #ff9bbd,#f7437f);
}
.dashboard-card.card-pink .dashboard-card-content span.color {
    color: #f7447e;
}
/**/
.dashboard-card-link {
    background: linear-gradient(to right, #45c0ff,#0174af);
    background: -webkit-linear-gradient(to right, #45c0ff,#0174af);
    display: block;
    color: #fff!important;
    padding: 5px 10px;
}    
.dashboard-card-content h2 {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 36px;
    font-family: Open sans, sans-serif;
}
.dashboard-card-content .fa {
    color: #666666;
    font-size: 36px;
}
.dashboard-card {
    display: inline-block;
    width: 20%;
    float: left;
    padding: 0 15px;
}
.dashboard-card-content {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #DBEAEC;
    border-radius: 5px;
}
a.dashboard-card-link:after {
    content: "\f0a9";
    font-family: Fontawesome, sans-serif;
    margin-left: 5px;
    display: inline-block;
}
span.ets_cfu_close_popup:before {
    content: "";
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
ul.ets_cfu_ul.email_to.form-group {
    list-style: none;
    padding: 0;
}
span.ets_cfu_close_popup:after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
.ets_cfu_admin_filter_chart_settings > div label {
    margin-right: 10px;
}
.ets_cfu_form_popup,
.ets_cfu_row_group,
.ets_cfu_form_group,
.ets_cfu_form_load .ets_cfu_add_input,
.ets_cfu_form_load .ets_cfu_btn,
.ets_cfu_input_group {
    display: none;
}
.ets_cfu_form_popup {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10000;
}
.ets_cfu_btn_drag_drop:before{content:"\f0b2"}
.ets_cfu_btn_delete:before{content:"\f1f8"}
.ets_cfu_btn_copy:before{content:"\f0c5"}
.ets_cfu_btn_edit:before {
    content: "\f044";
}

.ets_cfu_btn > span:before {
    font-family: Fontawesome, sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    display: block;
}
.ets_cfu_back_popup{
    display: none!important;
}
#TB_window .ets_cfu_back_popup {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0;
    left: 20px;
    display: block!important;
    position: absolute;
    top: 15px;
    background: transparent;
    border: none;
}
#TB_window .ets_cfu_back_popup::before {
    content: "\f112";
    font-family: Fontawesome, sans-serif;
    font-size: 14px;
    margin-right: 3px;
}
.ets_cfu_form_popup.active {
    display: block;
}
.ets_cfu_table {
    display: table;
    height: 100%;
    width: 100%;
}
.ets_cfu_table_cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.ets_cfu_form_load {
    background-color: #fff;
    width: 900px;
    padding: 30px;
    margin: 0 auto;
    max-width: 96%;
    border-radius: 7px;
}
.ets_cfu_title_box b {
    font-size: 13px;
}
#table-contact th:nth-child(5) span.title_box,
th.ctf_action {
    text-align: center;
}
.ets_cfu_input_box {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    max-width: 100%;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 0 auto;
    position: relative;
}
.ets_cfu_input_box > div {
    display: flex;
    display: -webkit-flex;
    width: 16.666667%;
    border-right: 1px solid #dbeaec;
    text-align: center;
    min-height: 70px;
    color: #555;
    position: relative;
    justify-content: center;
    -webkit-justify-content: center;
    border-bottom: 1px solid #dbeaec;
    align-items: center;
    -webkit-align-items: center;
}
.ets_cfu_input_box a {
    color: #307fb0;
    padding: 10px;
    display: block;
    width: 100%;
        font-weight: 700;
        font-size: 13px;
}
.ets_cfu_input_box > div:hover a, .ets_cfu_input_box a:hover {
    color: #ff8a00;
}
.ets_cfu_input_box a i {
    display: block;
    font-size: 24px;
    margin-bottom: 4px;
}
.ets_cfu_form_popup .ets_cfu_row {
    width: 100px;
    max-width: 100%;
}
.ets_cfu_box {
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 0 10px 30px 0;
    position: relative;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    padding: 0 5px;
}
.ets_cfu_action {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 0 15px 10px;
    margin-bottom: 0;
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    border-top: 1px solid #ddd;
    bottom: -1px;
    padding-top: 10px;
}
.ets_cfu_form_popup .ets_cfu_box .ets_cfu_col {
    height: 39px;
    padding: 0;
    background: #b8e8ff;
    border: 1px solid #a9ddf6;
    margin: 0 1px;
}
.ets_cfu_form_popup .ets_cfu_box {
    min-height: 100px;
    padding: 15px 0 15px;
    border-radius: 0;
    width: 33.33%;
    position: relative;
    border: 1px solid #dbeaec;
    transition: all 0.35s;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    display: -webkit-flex;
    float: left;
    margin: 0 -1px -1px 0;
    -webkit-transition: all 0.35s;
}
span.ets_cfu_title_box {
    padding: 8px 15px 0;
    white-space: nowrap;
    transition: all 0.35s;
    font-size: 12px;
    border-radius: 3px;
    z-index: 100;
    min-height: 42px;
    display: none;
    color:#307fb0;
}
.ets_cfu_form_popup span.ets_cfu_title_box {
    display: block;
    width: 100%;
}
.ets_cfu_input_box a.disabled {
    cursor: not-allowed;
}
.ets_cfu_form_popup .ets_cfu_box:hover .ets_cfu_title_box{
    opacity: 1;
    visibility: visible;
        color: #ff8a00;
}
.ets_cfu_box.style31 .ets_cfu_col.col1 {
    width: 33.33%;
}
.ets_cfu_box.style31 .ets_cfu_col.col2 {
    width: 66.6667%;
}
.ets_cfu_box.style32 .ets_cfu_col.col1 {
    width: 66.6667%;
}
.ets_cfu_box.style32 .ets_cfu_col.col2 {
    width: 33.33%;
}

.form-group.form_group_contact.form.ets_cfu_add_contact {
    margin-bottom: 0;
}
.ets_cfu_box:hover .ets_cfu_btn {
    opacity: 1;
    visibility: visible;
}
.ets_cfu_btn {
    position: absolute;
    bottom: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    left: -1px;
    margin-bottom: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
.ets_cfu_row {
    display: flex;
    display: -webkit-flex;
}
.ets_cfu_box.style2 .ets_cfu_col {
    width: 33.33%;
}
.ets_cfu_box .ets_cfu_col {
    padding: 25px 15px 35px;
    text-align: center;
    position: relative;
}
.ets_cfu_form_empty h4.ets_cfu_form_title {
    font-size: 38px;
    font-family: Arial, sans-serif;
}
.ets_cfu_form_empty {
    text-align: center;
    font-size: 15px;
    position: relative;
    margin-top: 80px;
    display: block;
}
span.ets_cfu_add_input {
    cursor: pointer;
    color: #00aff0;
    display: block;
    border: 1px dashed #ccc;
    background-color: #fafafa;
    padding: 19px 15px;
    margin-top: 10px;
}
.ets_cfu_input:hover, span.ets_cfu_add_input:hover {
    border-color: #aaa;
}
.ets_cfu_box.style1 .ets_cfu_col {
    width: 100%;
}
.ets_cfu_box.style3 .ets_cfu_col {
    width: 50%;
}
.ets_cfu_btn > span {
    font-size: 0;
    width: 34px;
    height: 24px;
}
a.btn.btn-default.view_location {
    margin-right: 5px;
}

#form-contact, #form-message {
    float: left;
    min-width: 100%;
}

.ctf-popup-tablecell .panel {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

span.browser-icon.chrome {
    background-image: url(../img/chrome.png);
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 3px;
    background-position: center;
    background-size: cover;
    vertical-align: -2px;
    background-repeat: no-repeat;
}

span.browser-icon.edge {
    background-image: url(../img/edge.png);
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 3px;
    background-position: center;
    background-size: cover;
    vertical-align: -2px;
    background-repeat: no-repeat;
}

span.browser-icon.firefox {
    background-image: url(../img/firefox.png);
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 3px;
    background-position: center;
    background-size: cover;
    vertical-align: -2px;
    background-repeat: no-repeat;
}

span.browser-icon.opera {
    background-image: url(../img/opera.png);
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 3px;
    background-position: center;
    background-size: cover;
    vertical-align: -2px;
    background-repeat: no-repeat;
}

span.browser-icon.safari,
.browser-icon.iphone {
    background-image: url(../img/safari.png);
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 3px;
    background-position: center;
    background-size: cover;
    vertical-align: -2px;
    background-repeat: no-repeat;
}

td.statitics_form_action {
    width: 240px;
}

.dropdown-item.product-edit {
    clear: both;
    display: block;
    padding: 0 15px;
    line-height: 26px;
}

.ctf_admin_chart_label {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 18px;
    color: #333;
}

.ets_form_tab_header > span[data-tab="black_list"]:before {
    content: "\f235";
    font-family: Fontawesome, sans-serif;
    margin-right: 5px;
}

.ets_cfu_admin_filter_chart_settings > div.ets_cfu_admin_filter_cotactform {
    min-width: 25%;
}

.ets_cfu_admin_filter_chart_settings {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.ets_cfu_admin_filter_chart_settings > div.ets_cfu_admin_filter_cotactform label {
    min-width: 88px;
}

.ets_form_tab_header > span[data-tab="chart"]:before {
    content: "\f080";
    font-family: Fontawesome, sans-serif;
    margin-right: 5px;
}

.ets_form_tab_header > span[data-tab="view-log"]:before {
    content: "\f1da";
    font-family: Fontawesome, sans-serif;
    margin-right: 5px;
}

.ets_cfu_admin_filter_chart_settings > div {
    display: flex;
    display: -webkit-flex;
    white-space: nowrap;
    margin-right: 20px;
    line-height: 30px;
    min-width: 15%;
}

.ets_successfull_ajax {
    background-color: #78d07d;
    color: #fff;
    padding: 10px 25px;
    position: fixed;
    right: 73px;
    top: 68px;
    z-index: 100000;
}

button[name="etsCfuSubmitFilterChart"] {
    margin-right: 10px;
}

.ets_cfu_admin_filter_button a {
    line-height: 20px !important;
}

.ctf_title {
    width: 150px;
}

td.ctf_message a {
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
    background: transparent;
}

.description.mail-tag strong span.mail-tag {
    background-color: #f9f2f4;
    border-radius: 2px;
    color: #c7254e;
    display: inline-block;
    font-weight: normal;
    margin: 0 3px;
    padding: 0 5px 1px;
}

.panel-heading-action > a.list-toolbar-btn .process-icon-new {
    line-height: 39px !important;
}

.wpcfu-list-item input[type="checkbox"] {
    display: inline-block;
    margin-right: 6px !important;
    vertical-align: -2px;
}

.ctf_shortcode {
    width: 200px;
}

.ctf_form_url {
    width: 500px;
}

.ctf_sort {
    width: 110px;
}

.ctf_message {
    width: 124px;
}

.ctf_id {
    min-width: 58px;
}

.ctf_active {
    width: 90px;
}

.ctf_title {
    min-width: 190px;
}

.ctf_action {
    width: 100px;
    text-align: center;
}

.help-block span {
    background-color: #f9f2f4;
    padding: 0 5px;
    margin-right: 2px;
    border-radius: 5px;
    color: #d04c77;
}

.mce-tinymce {
    width: 100%;
}

#content.bootstrap .panel .panel-heading i:before {
    margin-right: 4px;
}

a.btn.btn-warning:active, a.btn.btn-warning:focus {
    background-color: #e6a304;
}

.dragGroup .positions {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 0 5px;
    color: #aaa;
    width: 43px;
    text-shadow: #fff 1px 1px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, .2) 0 1px 3px inset;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

#form-contact i.process-icon-new {
    line-height: 40px !important;
}

#form-contact a.list-toolbar-btn {
    min-width: 42px;
    min-height: 42px;
}

body #content.bootstrap .panel-heading .panel-heading-action {
    top: 0;
}

.ets_successfull_ajax:before {
    content: "\f00c";
    font-family: Fontawesome, sans-serif;
    margin-right: 10px;
    margin-left: -10px;
    display: inline-block;
}

.ets_form_tab_header span[data-tab="other_setting"]:before {
    content: "\f013";
    font-family: Fontawesome, sans-serif;
    margin-right: 5px;
    display: inline-block;
}

.ets_form_tab_header span[data-tab="google"]:before {
    content: "\f1a0";
    font-family: Fontawesome, sans-serif;
    margin-right: 5px;
    display: inline-block;
}
.admincontactformultimateintegration .form-wrapper .form-group-wapper {
    border: none;
    padding: 20px;
}
#form-message .panel-heading:before {
    content: "\f086";
    font-family: Fontawesome, sans-serif;
    margin-right: 5px;
    font-weight: normal;
}

#form-contact .panel-heading:before {
    content: "\f003";
    font-family: Fontawesome, sans-serif;
    margin-right: 4px;
    font-weight: normal;
}

.ets_form_tab_header span[data-tab="template"]:before {
    content: "\f15b";
    font-family: Fontawesome, sans-serif;
    margin-right: 5px;
    display: inline-block;
}

.ets_form_tab_header span[data-tab="export_import"]:before {
    content: "\f0ed";
    font-family: Fontawesome, sans-serif;
    margin-right: 5px;
    display: inline-block;
}

.bootstrap .dropdown-menu-right {
    left: auto !important;
    margin-top: 35px;
    right: 0;
    transform: none !important;
    -webkit-transform: none !important;
}

.panel.view-message .success {
    margin-bottom: 15px;
}

.form-wrapper textarea[name="message_reply"] {
    min-height: 150px;
}

.wpcfu-list-item input[type="radio"] {
    margin-right: 7px;
    vertical-align: -2px;
}

#form-contact-preview h3 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}

.wpcfu-form-control-wrap .select_arrow {
    border-left: 1px solid #ccc;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

.ets_form_tab_header span[data-tab="form"]:before {
    content: "\f1ea";
    font-family: Fontawesome, sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.ets_form_tab_header span[data-tab="mail"]:before {
    content: "\f0e0";
    font-family: Fontawesome, sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.ets_form_tab_header span[data-tab="message"]:before {
    content: "\f0f3";
    font-family: Fontawesome, sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.ets_form_tab_header span[data-tab="seo"]:before {
    content: "\f0c1";
    font-family: Fontawesome, sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.ets_form_tab_header span[data-tab="general_settings"]:before {
    content: "\f013";
    font-family: Fontawesome, sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.ets_form_tab_header span[data-tab="thank_you"]:before {
    content: "\f2b4";
    font-family: Fontawesome, sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.wpcfu-form-control-wrap .select_arrow::before {
    border-bottom: 2px solid #999;
    border-left: 2px solid #999;
    content: "";
    display: inline-block;
    height: 12px;
    left: 13px;
    position: absolute;
    top: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 12px;
}

.ets_form_tab_header .active:after {
    content: "";
    height: 2px;
    position: absolute;
    background-color: #00aff0;
    top: -1px;
    width: 100%;
    left: 0;
}

.replies i {
    font-size: 16px;
}

.ctf_view_message:before {
    content: "\f06e";
    font-family: FontAwesome, sans-serif;
    margin-right: 5px;
}

.message-delete .material-icons {
    display: none;
}

.message-delete::before {
    content: "\f014";
    font-family: FontAwesome, sans-serif;
    margin-right: 5px;
}

.action-reply-message {
    background-color: #2eacce;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 11px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2px 18px 2px 9px;
    vertical-align: middle;
    white-space: nowrap;
}

.contact-form-7-demos > li {
    display: inline-block;
    list-style: outside none none;
    margin: 5px;
}

.wpcfu-captcha {
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: inline-block;
    height: 32px;
    padding: 4px 10px;
    vertical-align: -2px;
    width: 90px;
}

.label, label {
    color: #232323;
}

.custom_choosefile {
    position: relative;
}

.custom_choosefile {
    display: flex;
    display: -webkit-flex;
    position: relative;
    width: 100%;
}

.wpcfu-form-control-wrap {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

span.file_type_des {
    display: block;
    margin-top: 5px;
    clear: both;
    font-style: italic;
    font-size: 12px;
}

.bootstrap .form-control,
.bootstrap input[type="text"],
.bootstrap input[type="search"],
.bootstrap input[type="password"],
.bootstrap select {
    height: 34px;
    font-weight: normal;
}
.bootstrap textarea, textarea{
    min-height: 100px!important;
}
#replay-message-form .bootstrap {
    margin-top: 10px;
    padding-top: 10px;
}

#replay-message-form .module_error.alert.alert-danger {
    margin-bottom: 0;
}

.wpcfu-form-control-wrap select {
    -moz-appearance: none;
    -appearance: none;
    -webkit-appearance: none;
}

.pa-captcha-refesh {
    margin: 0 7px;
}

.wpcfu-list-item label {
    font-weight: normal;
}

.custom_choosefile .button_choosefile {
    align-items: center;
    -webkit-align-items: center;
    background-color: #2fb5d2;
    color: #fff;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    padding: 0 10px;
    pointer-events: none;
    position: absolute;
    right: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.wpcfu-form-control.wpcfu-file.form-control {
    min-width: 100%;
}

.panel-heading .action-reply-message i {
    font-size: 12px !important;
}

span.action-reply-message:hover {
    background-color: #0077a4;
    color: #fff;
}

button:focus, button:active {
    outline: medium none !important;
}

.admincontactformultimatestatistics .ets_form_tab_header{
    right: -1px;
}
.admincontactformultimateintegration .ets_form_tab_header{
    right: -1px;
    top: -41px;
}
.bootstrap .btn-default:focus,
.bootstrap .btn-default:active {
    background: #00aff0;
    color: #fff;
    outline: none!important;
    border-color: #00aff0;
}
.bootstrap .btn.active, .bootstrap .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading {
    padding-left: 15px !important;
    line-height: 42px !important;
    min-height: 42px;
}

th.form_col {
    width: 150px;
}

th.subject_col {
    width: 170px;
}

th.date_col {
    width: 265px;
}

.bootstrap .date_col .date_range .input-group:first-child {
    float: left;
    margin-right: 15px;
}

.integration .panel-heading,
.edit_contact_form .panel .panel-heading {
    margin-left: -20px !important;
    margin-right: -20px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 20px !important;
}

.ctf7_backend_help a:hover {
    text-decoration: underline !important;
}

.bootstrap a.ctf_view_message {
    color: #777;
}

.bootstrap a.ctf_view_message:hover,
.preview-contact:hover {
    color: #00aff0;
}

.panel.ctf7_backend_help h4 {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}
.panel.ctf7_backend_help a {
    border-bottom: 1px solid;
    text-decoration: none!important;
}
.panel.ctf7_backend_help p:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #666;
    display: inline-block!important;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
}
.ctf7_backend_help {
    line-height: 22px;
}

.view-message .message-from {
    border-bottom: 1px solid #eee;
    margin: -3px -20px 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#form-message-preview #message .panel-heading {
    color: #444;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    height: auto;
    line-height: 60px !important;
    padding-left: 16px;
    padding-right: 16px;
    text-shadow: none;
    text-transform: none;
}

.process-icon-reply {
    display: inline-block;
    float: left;
}

.process-icon-reply::before {
    content: "\f112";
    line-height: 30px;
}

.bootstrap a.product-edit:hover {
    color: #00aff0;
}

.bootstrap a.product-edit {
    color: #666;
}

label[for="button_font_format_B"] {
    font-weight: bold !important;
}

label[for="button_font_format_I"] {
    font-style: italic !important;
}

label[for="button_font_format_U"] {
    text-decoration: underline !important;
}

.ets_cfu_tab p {
    margin-bottom: 20px;
}

#tag-generator-list a.button {
    background: #fcfcfc none repeat scroll 0 0;
    border-color: #ccc;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #ccc;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 24px;
    line-height: 22px;
    margin: 2px 1px 6px;
    padding: 0 3px 1px;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

#tag-generator-list a.button:hover {
    background: #00aff0 none repeat scroll 0 0;
    border-color: #00aff0;
    color: #fff;
}

.ets_form_tab_header span {
    cursor: pointer;
    float: left;
    color: #808080;
    height: 42px;
    margin-left: -1px;
    line-height: 26px;
    padding: 6px 15px;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}

.cfu-top-menu li.active:before {
    width: 100%;
        opacity: 1;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
}
.cfu-top-menu {
    padding: 0;
        min-width: 900px;
    background: #307fb0;
    margin: -17px -10px 0;
    margin-left: -15px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    /* -webkit-border-radius: 5px; */
    /* -moz-border-radius: 5px; */
    position: fixed;
    /* border-radius: 5px; */
    /* border: 1px solid #d3d8db; */
    width: calc(100% - 210px);
    width: -webkit-calc(100% - 210px);
    z-index: 11;
}
.cfu-top-menu ul {
    list-style: outside none none;
    padding: 0 2px;
    overflow: hidden;
    margin: 0;
}
.cfu-top-menu li:not(.active) a:hover {
    color: #fff;
}
.cfu-top-menu li:not(.active) a:before {
    content: "";
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.cfu-top-menu li:not(.active) a:hover:before {
    opacity: 1;
}

.cfu-top-menu li:not(.active) a {
    color: #fff;
}
.cfu-top-menu li {
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    position: relative;
    float: left;
}
.cfu-top-menu li.active a {
    background: #4d9dcf;
}
.cfu-top-menu a {
    color: #fff!important;
    display: block;
    font-size: 14px;
    padding:18px 15px;
    position: relative;
    text-decoration: none;
    max-height: 54px;
    height: 54px;
}
.panel-title i {
    margin-right: 8px;
}

.ets_form_tab_header + a {
    float: right;
    height: 0;
    margin-top: -28px;
}

.ets_form_tab_header + a::before {
    content: "\f06e";
    display: inline-block;
    font-family: FontAwesome, sans-serif;
    margin-right: 5px;
}
.cfu-content-block {
    box-sizing: border-box;
    float: left;
    font-size: 13px;
    margin-left: -1px;
    margin-top: 15px;
    padding: 0;
    width: 100%;
}
.ets_cfu_setting_wrapper .panel {
    margin-bottom: 0!important;
}
span.ets_cfu_tooltip {
    position: absolute;
    border: 1px solid #307fb0;
    padding: 15px;
    top: -1px;
    width: 300px;
    background-color: #307fb0;
    z-index: 10;
    color: #fff;
    border-radius: 3px;
    text-align: left;
    font-size: 12px;
    visibility: hidden;
    left: 100%;
    opacity: 0;
    margin-left: 15px;
    transition: all 0.3s;
}
span.ets_cfu_tooltip:before {
    content: "";
    width: 16px;
    height: 16px;
    background: #307fb0;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-right: -8px;
}
.ets_cfu_input_generator img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    max-height: 54px;
    max-width: 36px;
}
.ets_cfu_input_box > div:hover span.ets_cfu_tooltip {
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}
.cfu-content-block .panel {
    border: none;
}

.bootstrap .table tbody > tr > td {
    font-size: 13px;
}
p.ets_cfu_desc {
    color: #aaa;
    font-style: italic;
    margin-bottom: 30px;
    line-height: 2;
}
p.ets_cfu_desc span.ets_cfu_example {
    color: #ff8a00;
}
.cfu-top-block i {
    margin-right: 6px;
    float: left;
    line-height: 18px;
}
#TB_window .ets_cfu_input {
    display: none!important;
}
.process-icon-new:before {
    margin-right: 0 !important;
    line-height: 42px;
}
.form-wrapper .form-group-wapper {
    clear: both;
    background-color: #fff;
    padding: 20px 20px 30px;
    margin-left: 0;
    position: relative;
    margin-right: 0;
}
a.log_ip:not(:hover) {
    color: #00aff0!important;
}
div#content.bootstrap {
    min-width: 1150px;
    box-sizing: border-box;
}
.admincontactformultimatedashboard .cfu-top-menu ul {
    padding: 0 245px 0 25px;
    position: relative;
}
.admincontactformultimatestatistics .ets_cfu_admin_log.form-group.form_group_contact.view-log {
    display: none;
    margin-bottom: 0;
}
.edit_contact_form .form-wrapper .form-group-wapper {
    border: none;
    clear: both;
    background-color: #fff;
    min-height: 450px;
    padding: 30px 30px 80px;
    margin-left: -20px;
    position: relative;
    margin-right: -20px;
}
#data-master {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: left;
    padding: 40px 90px 50px;
    text-align: center;
    width: 100%;
}

body a:focus,
body a:active,
body a:hover {
    text-decoration: none !important;
    outline: none !important;
    -webkit-outline: none !important;
}

#message #message-content {
    margin-bottom: 25px;
}

#list-replies {
    list-style: outside none none;
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0;
}

#list-replies > li {
    border-top: 1px solid #eee;
    display: block;
    line-height: 22px;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 45px 10px 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
}
.bootstrap > .alert.alert-success button.close {
    color: #72c279;
    opacity: 1;
}
#list-replies > li.opened {
    white-space: normal;
}
.bootstrap > .alert.alert-success {
    margin-bottom: 0;
    position: fixed;
    top: 50px;
    right: 60px;
    z-index: 1110;
    min-width: 300px;
}
#list-replies > li::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    content: "";
    position: absolute;
    right: 20px;
    top: 20px;
}
.growl.growl-medium {
    width: auto;
    min-width: 300px;
}
#list-replies > li.opened::before {
    border-bottom: 5px solid #333;
    border-top: medium none;
}

.view-message .message-from {
    border-bottom: 1px solid #eee;
    margin: -3px -20px 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
.ets_form_tab_header {
    clear: both;
    float: left;
    margin-bottom: -1px;
    position: relative;
    		background: white;
   
    left: auto;
    width: auto;		
}

.ets_form_tab_header + .form-wrapper {
    border: 1px solid #ddd;
    clear: both;
    margin-top: -1px;
    padding: 30px;
    margin-bottom: 30px;
}

#tag-generator-list {
    display: block;
    margin-bottom: 10px;
}

#TB_overlay {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100050;
}

#TB_window {
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    overflow: auto;
    z-index: 1000;
    right: 0;
    height: 100%;
}
div#TB_table {
    display: table;
    width: 100%;
    height: 100%;
}
div#TB_table_cell {
    display: table-cell;
    vertical-align: middle;
}
div#TB_content {
    width: 800px;
    margin: 30px auto;
    background-color: #fff;
    position: relative;
    border-radius: 7px;
}
#TB_title {
    background: #307fb0;
    border-bottom: 1px solid #ddd;
    height: 50px;
    margin-bottom: 30px;
        border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#TB_ajaxWindowTitle {
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    padding: 0 29px 0 10px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: calc(100% - 39px);
    width: -webkit-calc(100% - 39px);
}

#TB_closeWindowButton {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 0;
    height: 50px;
    left: auto;
    outline: medium none;
    padding: 0;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: color 0.1s ease-in-out 0s, background 0.1s ease-in-out 0s;
    -webkit-transition: color 0.1s ease-in-out 0s, background 0.1s ease-in-out 0s;
    width: 50px;
}

.tag-generator-panel .form-table label {
    clear: both;
    display: block;
    color: #777;
}

.tag-generator-panel .form-table fieldset label {
    clear: none;
    margin-top: 0;
}

.form-table input[type="checkbox"],
.form-table input[type="radio"] {
    margin-right: 5px;
}

#TB_closeWindowButton::after {
    background-color: #fff;
    content: "";
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    -webkit-transform: translate3d(-50%, -50%, 0px);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    width: 2px;
}

#TB_closeWindowButton::before {
    background-color: #fff;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    -webkit-transform: translate3d(-50%, -50%, 0px);
    width: 20px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

#TB_closeWindowButton:hover::after, #TB_closeWindowButton:hover::before {
    background-color: #fff;
}

.form-table label[for="tag-generator-panel-captcha-theme-basic"] {
    margin-bottom: 8px;
}

#TB_ajaxContent {
    clear: both;
    height: auto !important;
    line-height: 1.4em;
    padding: 2px 30px 0;
    text-align: left;
    margin-left: 0;
}

.tag-generator-panel {
    position: relative;
}

.formloading::before {
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

body::after {
    background-size: cover;
    color: #777;
    content: "";
    font-family: FontAwesome, sans-serif;
    font-size: 30px;
    height: 50px;
    left: 50%;
    position: fixed;
    top: 50%;
    border-top: 4px solid #25b9d7;
    border-radius: 50%;
    width: 50px;
    opacity: 0;
    visibility: hidden;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    transition: transform 60s linear;
    -webkit-transition: transform 60s linear;
    z-index: 100;
    border-bottom: 4px solid #25b9d7;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.formloading::after {
    transform: rotate(36000deg);
    -webkit-transform: rotate(36000deg);
    opacity: 1;
    visibility: visible;
}

.integration .panel-footer,
.edit_contact_form .panel-footer {
    background-color: inherit !important;
}

@keyframes loading {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes loading {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.formloadingReply .icon.process-icon-reply::before {
    color: #777;
    content: "\f110";
    font-family: FontAwesome, sans-serif;
    font-size: 19px;
    display: inline-block;
    width: 26px;
    height: 26px;
    z-index: 100;
    margin-left: 3px;
    background: transparent!important;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -webkit-animation: loading 3s infinite; /* Safari 4.0 - 8.0 */
    animation: loading 3s infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
.bootstrap .btn-default:focus i:before, 
.bootstrap .btn-default:active i:before{
    color: #fff;
}
.formloadingReply #module_form_submit_btn_reply:hover .icon.process-icon-reply::before {
    color: #fff;
}

#TB_ajaxContent,
#TB_ajaxContent * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tag-generator-panel .control-box {

    margin: 0;
    padding: 0;
}
#TB_window .ets_cfu_input_submit.ets_cfu_input {
    display: none;
}
.tag-generator-panel .control-box > fieldset legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f7fcfe none repeat scroll 0 0;
    border-color: #dfdfdf #dfdfdf #dfdfdf #00a0d2;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    line-height: 1.4em;
    margin: 4px 0;
    padding: 4px 12px;
    width: 100%;
}
#TB_ajaxWindowTitle i {
    display: none;
}
.tag-generator-panel .insert-box {
    background: #f7f7f7;
    clear: both;
    margin: 20px -30px 0 -30px;
    padding: 20px 30px;
    position: relative;
    border-top: 1px solid #eee;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
legend a {
    color: #00aff0;
    text-decoration: none;
}

legend a:hover {
    color: #0077a4;
    text-decoration: underline;
}
.ets_cfu_btn > span:last-child {
    border-right: 1px solid #ddd;
}


.tag-generator-panel textarea {
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 100%;
}

.tag-generator-panel span.description {
    clear: both;
    width: 100%;
    display: block;
    font-style: italic;
    color: #999;
}
.translatable-field .col-lg-9 {
    padding-left: 0;
}
.ets_cfu_input_groups textarea {
    min-height: 100px;
}
.tag-generator-panel input[type="text"] {
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 31px;
    margin-bottom: 0;
    padding: 0 10px;
    width: 100%;
}

#TB_ajaxContent fieldset {
    border: 0 none;
    padding: 0;
}

.tag-generator-panel .form-table tr td {
    padding: 7px 0;
}

.description.mail-tag {
    clear: both;
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
}

.alert.alert-info .ctf-short-code {
    border-radius: 0 !important;
    height: 28px !important;
    padding: 0 5px !important;
}

.ctf-popup-wapper-admin {
    opacity: 0;
    visibility: hidden;
    align-content: center;
    -webkit-align-content: center;
    display: flex;
    display: -webkit-flex;
    height: 100%;
    left: 0;
    position: fixed;
    overflow: auto;
    top: 0;
    width: 100%;
    z-index: 99999;
    display: none;
}

.ctf-popup-wapper-admin.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.fuc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 1 !important;
    overflow: auto;
    padding: 0 15px;
    position: fixed;
    top: 0;
    visibility: visible !important;
    width: 100%;
    z-index: 9999999;
}

.ctf-popup-tablecell {
    margin: 30px auto 0;
    width: 900px;
    max-width: 96%;
    position: relative;
    z-index: 99999999;
    max-height: 100%;
}

.mailtag {
    margin-right: 5px;
}

.AdminContactForm7contactform {
    min-width: 1199px;
}

.ctf-popup-wapper-admin.show {
    align-items: center;
    -webkit-align-items: center;
    display: flex !important;
    display: -webkit-flex !important;
    opacity: 1;
    visibility: visible;
    z-index: 10000;
}

.ets_cfu_tab.source_code {
    padding: 50px 20px 10px;
}

.tag-generator-panel .form-table td > label {
    color: #777;
    display: block;
    margin-top: 5px;
}

.ets_cfu_tab.preview, .ets_cfu_tab.source_code {
    background-color: #fafcfd;
    border: 1px solid #ddd;
    clear: both;
    max-width: 100%;
    padding: 30px;
    width: 100%;
}

.ets_cfu_tab.preview > p {
    background-color: #fff;
    border: 1px solid #eee;
    margin: 0;
    padding: 30px;
}

li[data-id="source_code"] > span::before {
    content: "\f121";
    font-family: FontAwesome, sans-serif;
    margin-right: 4px;
}

li[data-id="preview"] span:before {
    content: "\f06e";
    font-family: FontAwesome, sans-serif;
    margin-right: 4px;
}

.ets_cfu_tab textarea {
    background-color: #fff;
}

.ets_cfu_tab.preview label {
    margin-bottom: 20px;
}

.ets_cfu_tab_source li {
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    float: left;
    padding: 7px 12px;
    position: relative;
    text-transform: uppercase;
}

.ets_cfu_tab_source li.active::before {
    background-color: #fafcfd;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: auto;
    width: 100%;
    z-index: 1;
}

.ets_cfu_tab_source li:first-child {
    border-right: 1px solid #ddd;
}

.ets_cfu_tab_source {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0;
    display: inline-block;
    float: left;
    list-style: outside none none;
    margin-bottom: -1px !important;
    margin-right: 0;
    margin-top: 0 !important;
    padding: 0;
    right: 0;
}

.message .star i {
    color: #999;
    opacity: 0.6;
}

.message .star:hover i {
    color: orange;
    opacity: 1;
}

.message .star input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 1;
}

.message .star.star-on i::before {
    content: "\f005";
}

.message .star.star-on i {
    color: orange;
    opacity: 1;
}

#replay-message-form button i {
    display: block;
    float: none !important;
    font-size: 20px;
    line-height: 30px;
}

#replay-message-form button i::before {
    display: block;
    line-height: 26px !important;
}

.bootstrap .form_group_contact.form select[multiple] {
    height: 215px;
}

#module_form_submit_btn_back {
    float: none !important;
    margin-bottom: 10px;
}

.message .star i::before {
    content: "\f006";
}

.ets_cfu_tab_source + a {
    float: right;
    margin-top: 5px;
}

.ets_cfu_tab_source + a::before {
    content: "\f08e";
    font-family: FontAwesome, sans-serif;
    margin-right: 6px;
    vertical-align: -1px;
}

.message-more-action .message_readed {
    display: inline-block;
    margin-right: 5px !important;
}

#bulk_action_message {
    margin: 15px 0;
    width: auto;
}

.bootstrap .close {
    font-size: 0;
    line-height: 14px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.bootstrap .close::before {
    content: "+";
    font-size: 24px;
}

.no-reaed .message-subject {
    color: #333 !important;
    font-weight: 600;
}

#table-message {
    margin-bottom: 10px;
}

.message-more-action {
    white-space: nowrap;
}

.message .star {
    display: inline-block;
    vertical-align: 1px;
}

.wpcfu-submit {
    background-color: #2eacce;
    border: 1px solid #2eacce;
    color: #fff;
    min-width: 70px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.wpcfu-form-control.wpcfu-file.form-control {
    height: auto;
    max-width: 100%;
}

.ets_cfu_tab.preview .wpcfu-form-control-wrap {
    display: block;
    margin-top: 5px;
    font-weight: normal;
}

.ctf-popup-content #form-contact-preview {
    font-size: 13px;
    padding: 20px 30px;
}

.wpcfu-captcha.form-control {
    display: inline-block;
    width: 90px;
}

.ctf-popup-content {
    background-color: #fff;
    margin: 20px auto;
    padding: 0;
    position: relative;
    float: left;
    text-align: left;
    width: 100%;
}

#form-message-preview {
    float: left;
    max-height: 100%;
    overflow: auto;
    width: 100%;
}

.ctf_close_popup {
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px #666;
    -webkit-box-shadow: 0 0 3px 1px #666;
    cursor: pointer;
    font-size: 0;
    height: 26px;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 26px;
    z-index: 1;
}

.ctf_close_popup:before {
    content: "";
    width: 14px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
}

.ctf_close_popup:after {
    content: "";
    height: 14px;
    width: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
}

.view-message .panel-heading {
    height: auto !important;
    line-height: 40px;
    min-height: 60px;
}

.tag-generator-panel .insert-box input.tag {
    background-color: #ffffff;
    box-shadow: none;
}

#list-contactform td {
    min-height: 20px;
}
.panel-content .manage_item {
    padding: 5px 15px 10px;
}
.dashboar_traffix .row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.ets_cfu_dashboard-logs {
    min-height: 100%;
    position: relative;
    vertical-align: top;
    display: block;
    float: left;
    width: 100%;
    padding-bottom: 30px;
}
table#table-contact {
    border-spacing: 0;
    width: 100%;
}
.insert-box .translatable-field, .insert-box > input[type="text"] {
    width: calc(100% - 96px);
    width: -webkit-calc(100% - 96px);
}
.source_code .col-lg-2 {
    width: 10%;
}
.ets-cfu-box img {
    transition: all 0.2s;
}

.ets-cfu-box:hover img {
    transform: scale(1.05);
}
.source_code .col-lg-9 {
    width: 90%;
}
.ets_cfu_dashboard-logs li {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.6;
}
.ets_cfu_col > .ets_cfu_add_input:first-child:not(:last-child),
.ets_cfu_col_box > .ets_cfu_add_input:first-child:not(:last-child),
.ets_cfu_col_box + span.ets_cfu_add_input,
.ets_cfu_input + span.ets_cfu_add_input {
    position: absolute;
    bottom: 2px;
    z-index: 1;
    padding: 5px 15px;
    border: none;
    visibility: hidden;
    background: transparent;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.ets_cfu_box .ets_cfu_col:hover .ets_cfu_add_input{
    opacity: 1!important;
    visibility: visible!important;
}
.form_hook .col-lg-9 {
    border-top: 1px solid #ddd;
    max-width: 75%;
    padding: 0;
    width: 450px;
}

#form-contact-preview label {
    line-height: 24px;
    margin-bottom: 10px;
    width: 100%;
}

.form_hook .col-lg-9 .checkbox {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 9px 8px;
}

.table-responsive-row .alert.alert-warning {
    margin-top: 15px;
}

.form_hook .col-lg-9 .checkbox:last-child {
    border-bottom: none;
}

.ets_cfu_tab.preview label {
    max-width: 100%;
    width: 100%;
}

.short-code {
    position: relative;
}

.short-code .ctf-short-code {
    cursor: pointer;
    text-align: center;
    width: auto !important;
}

.short-code .ctf-short-code:hover {
    background: #fcfcfc none repeat scroll 0 0;
    box-shadow: 0 0 1px 1px #ddd;
    -webkit-box-shadow: 0 0 1px 1px #ddd;
}

.text-copy {
    background-color: #50db46;
    border-radius: 3px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    font-size: 10px;
    line-height: 16px;
    padding: 0 4px 1px;
    position: absolute;
    right: -30px;
    top: 7px;
}

.text-copy.copied {
    -webkit-animation-name: copirun;
    -webkit-animation-duration: 1s;
    animation-name: copirun;
    animation-duration: 1s;
}

@keyframes copirun {
    0% {
        opacity: 0;
        right: -30px;
        visibility: visible;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        right: 10px;
        visibility: visible;
    }
}

@-webkit-keyframes copirun {

    0% {
        opacity: 0;
        right: -30px;
        visibility: visible;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        right: 10px;
        visibility: visible;
    }
}

.tag-generator-panel .numeric,
.tag-generator-panel .date.option {
    border: 1px solid #ccc;
    height: 31px;
    margin-left: 4px;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.tag-generator-panel .form-table {
    width: 100%;
}

.tag-generator-panel .form-table, .tag-generator-panel .form-table * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tag-generator-panel select {
    border: 1px solid #ccc;
    cursor: pointer;
    height: 31px;
    min-width: 100px;
}
.edit_contact_form .panel .panel-footer {
    margin-top: 0;
}
.button.insert-tag {
    background: #2eacce none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 31px;
    padding: 0 10px;
    text-transform: uppercase;
    border-radius: 3px;
}
.ets_cfu_li .ets_cfu_email_from, .ets_cfu_li .ets_cfu_bcc,
.ets_cfu_li .ets_cfu_additional_headers {
    padding-left: 0;
    padding-right: 10px;
}
.tag-generator-panel .insert-box .submitbox {
    float: left;
    height: 26px;
    padding: 0;
    width: 100%;
}

.tag-generator-panel .insert-box .submitbox input[type="button"] {
    float: right;
}

#TB_ajaxContent p {
    padding: 5px 0;
}

.tag-generator-panel .insert-box .description label {
    cursor: text;
}

.tag-generator-panel .insert-box .description label {
    cursor: text;
}

.tag-generator-panel .control-box > fieldset legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f7fcfe none repeat scroll 0 0;
    border-color: #dfdfdf #dfdfdf #dfdfdf #00a0d2;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    line-height: 1.4em;
    margin: 4px 0 10px;
    padding: 8px 12px;
    width: 100%;
}
.manage_form_items .panel.ets-cfu-panel {
    height: 100%;
}
.row.manage_form_items > div {
    margin-bottom: 30px;
    padding: 0 15px;
}
.admincontactformultimatedashboard .row.manage_form_items > div {
    padding: 0 15px;
}
.admincontactformultimatedashboard #content.bootstrap .panel{
    border: 1px solid #DBEAEC;
    background-color: #fff;
    box-shadow: none;
}
.ets-cfu-panel .panel-content a.ets_cfu_statistics_link {
    bottom: 0;
    position: absolute;
    left: 0;
    font-size: 12px;
    color: #666666;
}
.ets_cfu_admin_chart {
    padding-bottom: 30px;
    position: relative;
}
.dashboard-card-content .value2 {
    font-size: 13px;
    font-weight: normal;
}
ul.ets_cfu_ul .ets_cfu_li + .ets_cfu_li {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    clear: both;
    padding-top: 10px;
}
.bootstrap .form-horizontal .col-lg-9 .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}
ul.ets_cfu_ul.email_to.form-group .ets_cfu_email_to {
    margin-left: 0;
    padding-left: 0;
    padding-right: 10px;
}
.ets-cfu-panel .panel-content a.ets_cfu_statistics_link:after {
    letter-spacing: -3px;
    transform: skew(0);
    vertical-align: -1px;
    display: inline-block;
    content: "\f101";
    margin-left: 3px;
    font-family: Fontawesome, sans-serif;
}
.ets_cfu_form_load .ets_cfu_input-img {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    height: 60px;
}
.checkbox, .post-categories, .zerosize, fieldset {
    margin: 0;
    padding: 0;
}

#TB_ajaxContent fieldset {
    border: 0 none;
}

.tag-generator-panel table.form-table th {
    font-size: 13px;
    padding: 4px 10px 4px 0;
    width: 120px;
    color: #777;
}

.hidden, .js .closed .inside, .js .hide-if-js, .js .wp-core-ui .hide-if-js, .js.wp-core-ui .hide-if-js, .no-js .hide-if-no-js, .no-js .wp-core-ui .hide-if-no-js, .no-js.wp-core-ui .hide-if-no-js {
    display: none;
}
.insert-box .ets_cfu_input_textarea.ets_cfu_input {
    margin: 0 0 15px 0;
    background: #fff;
}
.ets_cfu_col_box.ui-sortable {
    min-height: 10px;
}
.table .action-disabled {
    color: #c05c67;
}

.table .action-enabled {
    color: #78d07d;
}

.btn + .dropdown-toggle-split::after {
    margin-left: 0;
}

.btn-group .btn + .dropdown-toggle-split:not([class*="outline"]) {
    margin-left: 1px;
}

#form-contact-preview-wapper {
    display: none;
}

#form-contact-preview-wapper.show {
    display: block;
}

.preview-contact {
    cursor: pointer;
}

.ets_cfu_tab_source li.active {
    background-color: #fafcfd;
}

.ets_cfu_tab {
    display: none;
}

.ets_cfu_tab.active {
    display: block;
}

.bootstrap.panel {
    clear: both;
}

.mailtag.code {
    background: #f9f2f4 none repeat scroll 0 0 !important;
    border: medium none !important;
    border-radius: 5px !important;
    color: #c7254e !important;
    display: inline-block;
    padding: 1px 5px !important;
    text-align: center;
    line-height: 20px;
}
.ets_cfu_form_wrapper {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
        position: relative;
}
.ets_cfu_block_short_code .ets_cfu_block_li {
    margin-bottom: 15px;
}
.ctf-short-code, .ets_cfu_block_li{
    border-radius: 0 !important;
    display: block;
    padding: 3px 5px !important;
    text-align: center;
    margin: 3px;
    float: left;
    line-height: 20px;
}
span.ets_cfu_tag_shortcode {
    margin-left: 5px;
}

.textarea-autosize {
    min-height: 100px;
}

.product-edit:first-child i {
    margin-right: 4px;
    vertical-align: -2px;
}

.dropdown-item.product-edit .icon.icon-external-link {
    font-size: 12px;
    margin-right: 3px;
}

.mce-tinymce iframe {
    min-height: 250px;
}

.btn.product-edit:focus {
    box-shadow: none;
}

.form-group.button_font_format .checkbox-all {
    display: none;
}

.textarea-autosize.wpcfu-form {
    min-height: 200px;
}

.ctf_export_option {
    border: 1px solid #eee;
    line-height: 30px;
    margin-right: 15px;
    padding: 15px 30px 20px;
    vertical-align: middle;
    width: calc(50% - 15px);
    width: -webkit-calc(50% - 15px);
}

.ctf_import_option {
    border: 1px solid #eee;
    line-height: 28px;
    margin-left: 15px;
    padding: 15px 30px 30px;
    width: calc(50% - 15px);
    width: -webkit-calc(50% - 15px);
}

.ctf_export_form_content {
    display: flex;
    display: -webkit-flex;
    padding: 0 15px;
}

.etsCfuImportContactSubmit {
    display: inline-block;
    position: relative;
}

.ctf_import_option .etsCfuImportContactSubmit i {
    color: #fff;
    line-height: 40px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 45px;
    z-index: 0;
}

.ctf_export_form_content .btn.mm_export_menu:hover,
.ctf_export_form_content .btn.cft_import_menu:hover {
    background: #5148a5;
}

.ctf_import_option_updata {
    margin-bottom: 15px;
}

.cft_import_option_clean label {
    margin-bottom: 0;
    font-weight: normal;
}

.cft_import_option_button {
    margin-top: 15px;
}

.cft_import_option_button .etsCfuImportContactSubmit i::before {
    content: "\f066";
    font-family: FontAwesome, sans-serif;
}

.ctf_import_option .cft_import_menu {
    padding-left: 40px !important;
}

.export_title {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: -30px;
    margin-right: -30px;
    padding-bottom: 15px;
    padding-left: 30px;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.ctf_export_form_content .mm_export_menu,
.ctf_export_form_content .cft_import_menu {
    background-color: #5148a5;
    font-size: 13px;
    padding: 10px 18px;
    color: #fff;
    border-color: #5148a5;
}

.mm_export_menu i {
    margin-right: 7px;
    color: #fff !important;
}
.btn.btn-default.mm_export_menu::before {
    /*content: "\f019";
    font-family: FontAwesome;
    margin-right: 4px;*/
}

.rang-min {
    float: left;
    min-height: 30px;
    min-width: 1px;
}

.rang-max {
    float: right;
    min-height: 30px;
    min-width: 1px;
}

.links b {
    background-color: #2eacce;
    border: 1px solid #2eacce;
    color: #fff;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    margin-right: 3px;
    text-align: center;
    width: 22px;
}

.links > a {
    border: 1px solid #ddd;
    color: #999;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    margin-bottom: 6px;
    margin-right: 2px;
    margin-top: 3px;
    text-align: center;
    width: 22px;
}

.message-attachements {
    float: right;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#table-message .message-message {
    padding-right: 34px !important;
    position: relative;
}

.rang-value {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.ctf_title {
    width: 150px;
}

#form-contact {
    float: left;
}
#list-replies li .content-reply-full {
    display: none;
}

#list-replies li.opened .content-reply-full {
    display: block;
}

#list-replies li.opened .content-reply {
    display: none;
}

.customer_message {
    float: right;
}

.ctf7_attachments {
    border-top: 1px solid #EEEEEE;
    padding: 15px 0;
}

.ctf7_attachments > div {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.ctf7_attachments > ul {
    padding: 0 10px;
}

#list-attachments > li {
    padding: 5px 0;
}

.ets_pagination {
    display: inline-block;
}
button.clear-log.btn.btn-default {
    float: right;
}
#message-content h3 {
    margin: 5px 0 10px !important;
    border: none !important;
    font-weight: 600;
    padding-left: 0 !important;
}
ul.ets_cfu_filter {
    display: flex;
    display: -webkit-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 7px;
}
li.ets_cfu_item_filter {
    margin-left: -1px;
}
th.reply_col {
    text-align: center;
    width: 100px;
}


.bootstrap .tagify-container>span {
    padding: 3px 5px;
    margin: 5px 3px;
}
li.ets_cfu_item_filter.active a {
    background-color: #5148a5;
    color: #fff;
    border-color: #5148a5;
}
.ets_cfu_filter > li:first-child a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.ets_cfu_filter > li:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ets_cfu_filter a {
    background-color: transparent;
    z-index: 1!important;
    box-shadow: none!important;
    line-height: 24px;
    color: #999;
    min-width: 60px;
    font-size: 11px;
    padding: 2px 11px;
    font-weight: 600;
    border: 1px solid #eee;
    margin: 0;
    display: inline-block;
}
.ets-cfu-panel .panel-title {
    font: 400 12px/1.42857 Open Sans, Helvetica, Arial, sans-serif;
    color: #555;
    border: none;
    font-size: 1.2em;
    line-height: 2.2em;
    height: auto;
    text-transform: uppercase;
    border-bottom: 1px solid #DBEAEC;
    display: block;
    margin: -20px -20px 15px;
    padding: 5px 20px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
span.ets-cfu-messages {
    width: 24px;
    height: 24px;
    margin-top: -8px;
    display: inline-block;
    position: absolute;
    left: 50%;
    background: red;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 1px;
    margin-left: 11px;
}
.ets-cfu-box {
    display: block;
    border: 1px solid #c6dadc;
    margin-bottom: 6px;
    margin-top: 6px;
    min-height: 100px;
    text-align: center;
    border-radius: 5px;
}
.ets_cfu_add_form_contact button.btn {
    background-color: transparent;
    border: 1px solid #ccc;
}
button.ets_cfu_add_input.btn:hover,
button.ets_cfu_add_row.btn:hover {
    background-color: #00aff0;
    color: #fff!important;
    border-color: #00aff0;
}
.ets-cfu-box .ets-cfu-box-content {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color:#555;
    height: 132px;
}
.row.manage_form_items {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.ets-cfu-box h4.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0 0;
    margin-bottom: 0;
}

.ets-cfu-panel .panel-content a {
    color: #363A41;
}

.ets-cfu-panel .panel-content a:hover,
.ets-cfu-panel .panel-content a:active,
.ets-cfu-panel .panel-content a:focus {
    color: #00aff0;
}

@media (max-width: 1450px) {
    .ct_form_url {
        display: none;
    }
    .ets-cfu-box h4.title {
        font-size: 12px;
        font-weight: normal;
    }
    .cfu-content-block {
        font-size: 12px;
    }
    .dashboard-card-content .fa {
      font-size: 30px;
    }
    .panel-content .manage_item {
        padding: 5px 10px 0;
    }
    .ctf-short-code, .mailtag.code {
        padding: 5px 3px !important;
        width: 130px !important;
    }
    .cfu-content-block {
        width: 100%;
    }
    .ets-cfu-box-content > img {
      display: inline-block;
      max-height: 45px;
    }
    .ets-cfu-box .ets-cfu-box-content {
      height: 110px;
    }
    th.date_col {
        width: 140px;
    }

    #form-message {
        float: left;
    }

    #table-message .message-message {
        padding-right: 10px !important;
    }

    th.date_col {
        width: 100px;
    }
}

@media (max-width: 1330px) {
    .ctf_message {
        display: none;
    }
    .bootstrap .date_col .date_range .input-group:first-child {
        margin-right: 0;
    }

    #submitFilterButtonMessage {
        margin-bottom: 5px;
    }
    .cfu-top-menu a{
        padding: 18px 10px;
        font-size: 13px;
    }
    .date_col .input-group.fixed-width-md {
        max-width: 90px;
    }
    .cfu-top-menu {
        position: relative;
        width: calc(100% + 30px);
        width: -webkit-calc(100% + 30px);
    }
    .cfu-top-menu-height {
        display: none;
    }
}
@media (min-width: 1024px){
    div#content.bootstrap {
        min-width: 1160px;
    }
    .page-sidebar-closed .cfu-top-menu {
        width: calc(100% + 30px);
        width: -webkit-calc(100% + 30px);
    }
}
@media (max-width: 1199px){
    .cfu-top-menu a {
        padding: 18px 9px;
        font-size: 12px;
    }
}
@media (max-width: 1023px){
    .cfu-top-menu{
        width: 100%;
    }
    .cfu-top-menu a {
        padding: 18px 10px;
    }
}
@media (min-width: 768px) {
    .wpcfu-form-control.wpcfu-file.form-control {
        min-width: 330px;
    }
}
@media (max-width: 991px){
    .cfu-top-menu {
        position: static;
        width: calc(100% + 20px);
        width: -webkit-calc(100% + 20px);
        min-width: 0;
    }
    div#content.bootstrap {
        min-width: 950px;
    }
    .cfu-top-menu-height{
        display: none;
    }
    table {
        display: table!important;
    }
    .bootstrap .table thead>tr>th {
        display: table-cell;
    }
    .bootstrap .table tbody>tr>td {
        display: table-cell;
        width: auto!important;
        padding: 5px!important;
        white-space: normal!important;
        text-overflow: unset;
        overflow: visible;
        text-align: center!important;
    }
    .bootstrap .table-responsive-row tr{
        display: table-row!important;
        float: none!important;
            width: auto!important;
    }
    .bootstrap .table-responsive-row thead tr:first-child th {
        width: auto!important;
    }
    .ctf_title {
        min-width: 0;
    }
    .bootstrap .table .ct_form_url {
        display: none!important;
    }
    thead, tbody {
        display: table-row-group!important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .dashboard-card {
        width: 33.33%;
        margin-bottom: 30px;
    }
    .bootstrap .manage_item {
        width: 33.33%;
    }
}
@media (max-width: 767px){
    .dashboard-card {
        width: 50%;
        margin-bottom: 30px;
    }
    .cfu-top-menu-height {
        display: none;
    }
    .admincontactformultimatedashboard .cfu-top-menu ul {
        padding: 0 0 0 25px;
    }
}
.bootstrap .tagify-container>span>a {
    color: #fff;
}


/*hongs*/
.cfu-top-menu li.active a,
.button.insert-tag:hover,
button.ets_cfu_add_input.btn:hover, 
.bootstrap .table td.dragHandle .dragGroup:hover,
button.ets_cfu_add_row.btn:hover,
.settings_icon_content > span:hover,
.bootstrap .btn.btn-default:hover,
.bootstrap .btn.btn-primary:hover,
.action-reply-message:hover,
.bootstrap .btn-default:focus, 
.bootstrap .tagify-container>span,
.bootstrap .btn-default:active,
.ets_form_tab_header .active:after {
    background: #fa5f93!important;
    border-color: #fa5f93;
}
button.ets_cfu_add_input.btn:hover, button.ets_cfu_add_row.btn:hover{
    border-color: #fa5f93 ;
}
.ets_form_tab_header .active,
.ets_cfu_input_box > div:hover a, .ets_cfu_input_box a:hover,
.ets_cfu_form_popup .ets_cfu_box:hover .ets_cfu_title_box,
.bootstrap a:hover,
.description.mail-tag strong span.mail-tag,
.bootstrap a.product-edit:hover,
.ets-cfu-panel .panel-content a:hover, 
.ets-cfu-panel .panel-content a:active, 
.ets-cfu-panel .panel-content a:focus,
p.ets_cfu_desc span.ets_cfu_example,
.bootstrap a.ctf_view_message:hover, 
.preview-contact:hover,
.message .star:hover i,
.message .star.star-on i,
.bootstrap .table thead>tr>th span.title_box a.active,
#content.bootstrap .panel-heading .panel-heading-action a.list-toolbar-btn:hover, 
#content.bootstrap h3:not(.modal-title) .panel-heading-action a.list-toolbar-btn:hover,
span.ets_cfu_add_input:hover{
    color: #fa5f93 ;
}
.ctf-short-code, .ets_cfu_block_li {
    background: #ffe9f0!important;
    border: 1px dotted #fa5f93!important;
    color: #fa5f93 !important;
    cursor: pointer;
    font-weight: normal;
}
.ctf-short-code:hover, .ets_cfu_block_li:hover {
    box-shadow: 0 0 4px 0 #f1cdda;
}
/*tims*/
.cfu-top-menu,
#TB_title,
li.ets_cfu_item.active,
.button.insert-tag,
.action-reply-message,
.bootstrap .btn.btn-primary,
.ets_cfu_form_popup h3.ets_cfu_title {
    background: #5148a5;
    border-color: #5148a5;
}
span.ets_cfu_add_input,
.ets_cfu_input_box a,
.bootstrap a,
span.ets_cfu_title_box{
    color:  #5148a5;
}
.tag-generator-panel .control-box > fieldset legend,
li.ets_cfu_item.active:before{
    border-left-color: #5148a5;
}
.bootstrap .switch a {
    border: 1px solid #5148a5;
    background-color: #5148a5;
}
/**/
.ets_cfu_form_popup .ets_cfu_box .ets_cfu_col {
    background: #D8D8FE;
    border: 1px solid #B0AFFD;
}

#message-content img {
    max-width: 100%;
}

/* Quang update */
.update_field{
    display: none;
}

.are_edit .update_field{
    display: block;
}
.are_edit .insert_field{
    display: none;
}
.tag-generator-panel .numeric{
    width: 170px;
}

ul.heade_if_form{
    padding: 0;
    display: inline-block;
    list-style-type: none;
    margin: 0;
}
ul.heade_if_form li{
    display: inline-block;
}
ul.heade_if_form li + li{
    margin-left: 15px;
}
ul.heade_if_form li strong{
    margin-right: 7px;
}
.translatable-field {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

@media (max-width: 1199px){
    .form-group.form_group_contact.mail.mail2 {
        padding-left: 60px;
    }
    .ets_cfu_form_wrapper .ets_cfu_form_email {
        padding: 0 30px 0 180px;
    }
    .translatable-field .col-lg-9 {
        width: 83.33%;
    }
    .translatable-field .col-lg-9 input {
        margin: 0!important;
    }
    .edit_contact_form .form-wrapper .form-group-wapper{
        padding-top: 0;
    }
    ul.ets_cfu_mail_menu {
    margin: -16px -200px -46px;
}
}
.adminmodules.mobile ul.ets_cfu_mail_menu {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: -46px -200px;
    float: left;
    border-right: 1px solid #ddd;
    width: 180px;
    font-size: 12px;
}
.adminmodules.mobile .ets_cfu_form_wrapper .ets_cfu_form_email {
    padding: 0 30px 0 180px;
}
.tag-generator-panel .numeric.in_textarea{
    margin-left: 0;
}