.wpcfu-form-control-wrap input[type="text"], .wpcfu-form-control-wrap input[type="email"] {
    border: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 30px;
    padding: 0 10px;
    width: 100%;
}

.wpcfu-form-control-wrap textarea {
    border: 1px solid #ddd;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    width: 100%;
}















