/* RIGHT TO LEFT */
.tdk-verticalmenu {
  position: relative;
  z-index: 99; }
  .tdk-verticalmenu .navbar-nav {
    float: none; }
  .tdk-verticalmenu .navbar-default {
    border: none;
    z-index: 999;
    background: none;
    margin-bottom: 0; }
    .tdk-verticalmenu .navbar-default .navbar-collapse {
      padding: 0; }
    .tdk-verticalmenu .navbar-default .navbar-nav > li > a:hover, .tdk-verticalmenu .navbar-default .navbar-nav > li > a:focus {
      margin-top: 0; }
  .tdk-verticalmenu .disable-menu .dropdown-menu, .tdk-verticalmenu .disable-menu .caret {
    display: none !important; }
  .tdk-verticalmenu.tdk-menubackend .dropdown-menu {
    left: 100%;
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100); }
  .tdk-verticalmenu .megamenu > li {
    height: auto;
    width: 100%;
    float: none; }
    .tdk-verticalmenu .megamenu > li > a {
      padding: 10px 30px 10px 0px; }
      .tdk-verticalmenu .megamenu > li > a:before {
        font-family: "Material Icons";
        content: "chevron_right";
        font-size: 13px;
        color: #aab2bd;
        padding: 0 5px 0 5px;
        font-weight: normal;
        float: left; }
      .tdk-verticalmenu .megamenu > li > a:after {
        clear: both;
        content: '';
        display: inherit; }
      .tdk-verticalmenu .megamenu > li > a:hover {
        color: #ff6346; }
      .tdk-verticalmenu .megamenu > li > a.dropdown-toggle::after {
        border: none; }
    .tdk-verticalmenu .megamenu > li.dropdown > .caret {
      border: medium none;
      cursor: pointer;
      height: 40px;
      line-height: 40px;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      text-align: center; }
      .tdk-verticalmenu .megamenu > li.dropdown > .caret:before {
        content: "add";
        font-family: "Material Icons";
        color: black;
        font-size: 20px;
        font-weight: normal; }
    .tdk-verticalmenu .megamenu > li.open-sub > .caret:before {
      content: "remove"; }
  .tdk-verticalmenu .megamenu li {
    width: 100%;
    border-bottom: 1px solid #EBEEF2;
    z-index: 1;
    position: relative; }
    .tdk-verticalmenu .megamenu li:last-child {
      border-bottom: none; }
    .tdk-verticalmenu .megamenu li:hover > .dropdown-menu {
      display: block;
      top: 0px;
      left: 100%; }
    .tdk-verticalmenu .megamenu li.dropdown .dropdown-menu li {
      border: none; }
    .tdk-verticalmenu .megamenu li.dropdown.active a {
      color: #ff6346;
      background: none; }
      .tdk-verticalmenu .megamenu li.dropdown.active a:before {
        color: #ff6346; }
    .tdk-verticalmenu .megamenu li.dropdown.active li a {
      color: #353d41; }
      .tdk-verticalmenu .megamenu li.dropdown.active li a:hover {
        color: #ff6346; }
    .tdk-verticalmenu .megamenu li .dropdown-mega {
      position: absolute;
      display: block;
      top: 0px;
      left: 100%;
      min-height: 100%;
      min-width: 160px;
      margin: 0;
      float: none;
      padding: 10px 15px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      background: white; }
      .tdk-verticalmenu .megamenu li .dropdown-mega li {
        border-bottom: none; }
  .tdk-verticalmenu .megamenu.left > li > a {
    padding: 10px 0px 10px 30px; }
    .tdk-verticalmenu .megamenu.left > li > a:before {
      content: "chevron_left";
      float: right; }
    .tdk-verticalmenu .megamenu.left > li > a .menu-title {
      float: right; }
  .tdk-verticalmenu .megamenu.left > li.dropdown > .caret {
    right: auto;
    left: 0; }
  .tdk-verticalmenu .megamenu.left li:hover > .dropdown-menu {
    right: 100%;
    left: auto; }
  .tdk-verticalmenu .megamenu.left li .dropdown-mega {
    right: 100%;
    left: auto; }
  .tdk-verticalmenu .megamenu.left li.parent:hover .dropdown-menu.cols1 {
    left: -215px; }
  .tdk-verticalmenu .megamenu.left li.parent:hover .dropdown-menu.cols2 {
    left: -420px; }
  .tdk-verticalmenu .megamenu.left li.parent:hover .dropdown-menu.cols3 {
    left: -620px; }
  .tdk-verticalmenu .megamenu.left li.parent:hover .dropdown-menu.cols4 {
    left: -820px; }
  .tdk-verticalmenu .dropdown-menu {
    min-height: 100%;
    margin: 0;
    float: none;
    padding: 10px 15px; }
    .tdk-verticalmenu .dropdown-menu.cols1 {
      width: 215px; }
    .tdk-verticalmenu .dropdown-menu.cols2 {
      width: 420px; }
    .tdk-verticalmenu .dropdown-menu.cols3 {
      width: 620px; }
    .tdk-verticalmenu .dropdown-menu.cols4 {
      width: 820px; }
    .tdk-verticalmenu .dropdown-menu ul.links li {
      border: none;
      margin: 0; }
      .tdk-verticalmenu .dropdown-menu ul.links li a {
        padding: 5px 0 5px 14px; }
    .tdk-verticalmenu .dropdown-menu .widget-heading {
      color: #384044;
      font-size: 16px;
      text-transform: uppercase;
      padding: 10px 0 10px 14px;
      margin: 0;
      line-height: 20px;
      font-weight: 500;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }
    .tdk-verticalmenu .dropdown-menu .widget-products .product-container {
      height: auto;
      padding: 5px;
      width: 33.3333%;
      margin: 0; }
    .tdk-verticalmenu .dropdown-menu .widget-products .image {
      border: 1px solid #ebeef2;
      display: inline-block; }
      .tdk-verticalmenu .dropdown-menu .widget-products .image a {
        display: inline-block;
        padding: 0; }
        .tdk-verticalmenu .dropdown-menu .widget-products .image a:before {
          padding: 0; }
    .tdk-verticalmenu .dropdown-menu .widget-products .product-name {
      text-align: center;
      padding: 0; }
    .tdk-verticalmenu .dropdown-menu .widget-products .nb-comments {
      display: none; }
    .tdk-verticalmenu .dropdown-menu .widget-products .comments_note {
      display: inline-block;
      font-size: 13px; }
    .tdk-verticalmenu .dropdown-menu .widget-products .price.product-price {
      font-size: 15px; }
    .tdk-verticalmenu .dropdown-menu .widget-products .price-percent-reduction {
      display: none; }
    .tdk-verticalmenu .dropdown-menu .html-aboutus .widget-html {
      padding: 10px; }
      .tdk-verticalmenu .dropdown-menu .html-aboutus .widget-html .widget-inner {
        border-top: 1px dashed #ebeef2;
        padding-top: 10px; }
  .tdk-verticalmenu .tdk-widget .menu-title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px; }

/********************TDK:: CSS for slidebar menu BEGIN**********************************/
.verticalmenu.active-button .dropdown-menu {
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  position: relative; }
.verticalmenu.active-hover .dropdown-menu {
  /*display: none;*/ }

@media (max-width: 991px) {
  .tdk-verticalmenu > .block_content {
    display: none; }

  .tdk-verticalmenu.active > .block_content {
    display: block; }
  .tdk-verticalmenu.active .open-sub > .dropdown-menu {
    background-color: white; }
    .tdk-verticalmenu.active .open-sub > .dropdown-menu .dropdown-menu {
      border: none;
      padding: 0 10px; }
  .tdk-verticalmenu.active .megamenu li .dropdown-menu, .tdk-verticalmenu.active .megamenu li .dropdown-mega {
    display: none;
    position: initial !important; }
  .tdk-verticalmenu.active .megamenu > li > a {
    padding: 10px 30px 10px 0px; }
    .tdk-verticalmenu.active .megamenu > li > a:before {
      float: left;
      content: "chevron_right"; }
    .tdk-verticalmenu.active .megamenu > li > a .menu-title {
      float: left; }
  .tdk-verticalmenu.active .megamenu > li.dropdown > .caret {
    right: 0;
    left: auto; }
  .tdk-verticalmenu.active .dropdown-menu, .tdk-verticalmenu.active .dropdown-mega {
    width: 100% !important; }
    .tdk-verticalmenu.active .dropdown-menu .dropdown-submenu .caret, .tdk-verticalmenu.active .dropdown-mega .dropdown-submenu .caret {
      position: absolute;
      top: 5px;
      right: 0; }
      .tdk-verticalmenu.active .dropdown-menu .dropdown-submenu .caret:before, .tdk-verticalmenu.active .dropdown-mega .dropdown-submenu .caret:before {
        content: "add";
        font-family: "Material Icons";
        color: black;
        font-size: 20px;
        font-weight: normal; }
    .tdk-verticalmenu.active .dropdown-menu .dropdown-submenu.open-sub > .caret:before, .tdk-verticalmenu.active .dropdown-mega .dropdown-submenu.open-sub > .caret:before {
      content: "remove"; }
    .tdk-verticalmenu.active .dropdown-menu .dropdown-submenu .dropdown-toggle:after, .tdk-verticalmenu.active .dropdown-mega .dropdown-submenu .dropdown-toggle:after {
      border: none; } }
/********************TDK:: CSS for slidebar menu END**********************************/

/*# sourceMappingURL=menusidebar.css.map */
