.fl {float: left!important;}
.fr {float: right!important;}
.list-all-hooks a {
    margin-left: 5px;
    display: inline-block;
}
.icon-AdminTdkPlatform:before {
    content: "\f044";
}

#home_wrapper .position-cover {
    border: 1px solid #00aff0;
    box-shadow: 0 0 5px #eee;
    padding: 5px;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
}
#home_wrapper .position-cover:hover {
    box-shadow: 0 0 5px #bdbdbd;
    transition: all 0.6s ease 0s;
}
.position-area {
    min-height: 100px;
    clear: both;
}
.bootstrap .tree-panel-heading-controls {
    margin: -2px 0 20px!important;
}
.modal-body {
    /*overflow: hidden!important;*/
}
.column-controll-right .btn-group .btn {
    background-color: #bbb;
    transition: all 0.2s ease 0s;
}
.column-controll-right .btn-group .btn:hover {
    transition: all 0.3s ease 0s;
    background-color: #333;
}
.position-cover .list-position span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
    line-height: 12px;
}
.box-edit-position {
    background-color: #fff;
    box-shadow: 0 0 5px;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 300px;
    z-index: 1;
}
.position-cover .list-position i:hover {
    color: #000!important;
}
.position-name i {
    color: #fff;
}
.modal.ui-draggable {
    top:0!important;
}
.item a {
    display: table-cell;
    height: 65px !important;
    vertical-align: middle;
    padding: 0 10px 0 40px;
}
.cover-short-code {
    background-color: #f5f5f5;
    border: 1px solid transparent;
    margin: 5px 0;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s ease 0s;
    box-shadow: 0 -2px 0 #e6e6e6 inset;
    height: 65px;
    overflow: hidden;
}
.cover-short-code:hover {
    background-color: #ededed;
    transition: all 0.4s ease 0s;
    color: #333;
    box-shadow: 0 -2px 0 #bdbdbd inset;
}
.cover-short-code .icon {
    left: 20px;
    position: absolute;
    top: 35px;
}
.cover-short-code .label {
    position: relative;
    font-weight: bold;
    color: #0066CC;
    white-space:normal;
    padding: 0!important;
    margin: 0!important;
}
.cover-short-code:hover .label {
    color: #333;
    text-decoration: underline;
}
.cover-short-code:hover .icon {
    color: #333;
}

#txt-search {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border: 1px solid #ccc;
    background-color: #fff;
}
#txt-search:hover, #txt-search:focus {
    box-shadow: 0 -2px 0 #bdbdbd inset!important;
    background-color: #fff7d0;
}
.box-search-widget {
    opacity: 1;
    float: right;
    margin-right: 10px;
    margin-top: -5px;
}

#tab-new-widget {
    border-bottom: 1px solid #ddd;
    min-height: 40px;
}
#modal_form .tab-content {
    margin-top: 10px;
}
#modal_form .btn.is-checked {
    font-weight: bold;
    color: #333;
    border: 1px dashed #ddd;
}
img.icon {
    max-width: 20px;
}
#list-slider li {
	cursor: move;
}
.list-link-block {
    list-style-type: none;
    padding: 0;
}
.list-link-block > li {
    background-color: #f5f5f5;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}
.list-link-block > li .btn-remove-block-link {
	display: block;
}
.list-link-block > li:hover .btn-remove-block-link {
	display: block;
}
.link_group{
    background-color: #f5f5f5;
}
.link_group .form-group{
    margin-bottom: 5px;
}
.form-group.link_group{
    margin-bottom: 15px;
}
.link_group > .form-group:first-child{
    margin-top: 10px;
}
.link_group > .form-group .form-group{
    margin-bottom:0px;
}
.link_group > .form-group:last-child{
    margin-bottom: 10px;
}
.latest-blog-category {
    background-color: #fefefe;
    border: 1px solid #ccc;
    padding: 10px 0;
}
.latest-blog-category ol, .latest-blog-category li {
	list-style-type: none;
}
.list-font-awesome {
    clear: both;
    margin: 10px 0 !important;
    padding: 0;
}
.list-font-awesome > li, .preview-widget {
    border: 1px solid #bdbdbd;
    cursor: pointer;
    float: left;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    text-align: center;
    width: 30px;
}
.list-font-awesome .selected, .list-font-awesome > li:hover {
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.preview-widget {

}
.dropdown-menu-right .selected {
    background-color: #bdbdbd;
}
#s-image{margin: 10px 0;}
.open-content i{
    margin-left:7px;
}
span.open-content {
    cursor : pointer;
}
.row-actived>a{
    text-align: center;
    display: block;
}

.product-container .row-preactive, .element-list .btn-add-column{
    display: none;
}
.admintdkplatformdetails #home_wrapper {
    margin: 20px auto;
}
.admintdkplatformdetails .gridLeft-block-content{
    min-height: 300px;
    height: auto;
    overflow: auto;
}
.admintdkplatformdetails .column-action a{
    color: #ededed
}
/*
.admintdkplatformdetails .column-row .cover-column{
    margin-right: -5px;
    margin-left: -5px;
}
*/
.admintdkplatformdetails .cover-column{

}
.admintdkplatformdetails .column-row .content{
    /*
	padding: 20px;
	*/
	padding: 30px 10px 10px 10px;
}
.admintdkplatformdetails .plist-eremove{
    color: red
}


#product-demo-sample{
    margin-bottom: 30px;
}
#product-demo-sample .item-demo{
    margin: 10px 0;
}
#product-demo-sample .item-demo .block-image{
    height: 290px;
    overflow: hidden;
    position: relative;
    border: 1px solid #c9ccd3;
}
#product-demo-sample .item-demo .block-image::before{
    content: '';
    position: absolute;
    z-index: 8;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    background: #00000082;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#product-demo-sample .item-demo .block-image img{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px
    z-index: 7;
}
#product-demo-sample .item-demo .block-image a{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    font-size: 13px;
    padding: 5px 10px;
    opacity: 0;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#product-demo-sample .item-demo .block-image:hover a,
#product-demo-sample .item-demo .block-image:hover:before{
    opacity: 1;
}
#product-demo-sample .item-demo .block-name{
    text-align: center;
    font-size: 13px;
    background-color: #4D576E;
    color: #fff;
    padding: 10px;
    border-bottom: solid 1px #fff;
    border-radius: 0 0 5px 5px;
}


@media (min-width: 575px) and (max-width: 991px){ 
    #product-demo-sample > [class*="col-"]:nth-child(2n + 1){
        clear: both;
    }
}
@media (min-width: 992px) and (max-width: 1199px){ 
    #product-demo-sample > [class*="col-"]:nth-child(3n + 1){
        clear: both;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){ 
    #product-demo-sample > [class*="col-"]:nth-child(4n + 1){
        clear: both;
    }
}
@media (min-width: 1400px) and (max-width: 1699px){ 
    #product-demo-sample > [class*="col-"]{
        width: 20%;
    }
    #product-demo-sample > [class*="col-"]:nth-child(5n + 1){
        clear: both;
    }
}
@media (min-width: 1700px){ 
    #product-demo-sample > [class*="col-"]{
        width: 16.66667%;
    }
    #product-demo-sample > [class*="col-"]:nth-child(6n + 1){
        clear: both;
    }
}
@media(max-width: 576px){ 
    #product-demo-sample > [class*="col-"]{
        width: 100%;
    }
}

.tdkrow_rtl button{
    min-width: 200px !important;
    text-align: left !important;
    padding-left: 10px !important;
}

/********************TDK add border for textarea of product extra field BEGIN***************************/
#module_tdkplatform .mce-tinymce > .mce-container-body{
	border: 1px solid #c7d6db;
}
/********************TDK add border for textarea of product extra field END***************************/