{**
*
* PrestaShop module created by TDK Studio, A young & creative agency focus on Digital platform
*
* @author    TDK Studio
* @copyright 2018-9999 TDK Studio
* @license   This program is not free software and you can not resell and redistribute it
*
* CONTACT WITH DEVELOPER
* Email/Skype: info.tdkstudio@gmail.com
*
**}
{assign var=j value=$i-1}
<p><strong class="dark" style="clear:both;">{$days.$i}:</strong>&nbsp<span>{$hours.$j}</span></p>