/**
* 2007-2016 WebImpacto Consulting S.L.
*
*
*  @author    WebImpacto Consulting S.L. <info@webimpacto.net>
*  @copyright 2007-2015 PrestaShop SA
*  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*  International Registered Trademark & Property of PrestaShop SA
*
* Don't forget to prefix your containers with your own identifier
* to avoid any conflicts with others containers.
*/
#APPpopupClose {
  margin-top: 5px;
  width: 35px;
  top: 0px;
  right: 0px;
  position: absolute;
  font-size: 20px;
}
#app_advertise_fixed {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 80px;
  color: #212529;
  border-top: 1px solid #ccc;
  background-color: #ffffff;
}
#app_advertise_fixed #app_image{
    float: left;
    margin: 5px;
}
#app_advertise_fixed #app_text {
  float: left;
  position: relative;
  top: 2px;
  margin-left: 0;
  line-height: 15px;
  text-align: center;
  max-width: 230px;
}
#app_advertise_fixed #app_text .btn-primary {
  box-shadow: none !important;
  padding: 2px 10px 2px 10px !important;
  margin-top: 5px !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #FFFFFF !important;
}
