/* CSS específicos para APP */
#cookieNotice {
  display: none !important;
}
#cookiesplus-overlay {
  display: none !important;
}
#cookiesplus-modal-container {
  display: none !important;
}
#meerkat-wrap {
  display: none !important;
}
#header {
  display: none !important;
}
#footer {
  display: none !important;
}
#fbpsc {
  display: none !important;
}
body {
  margin-top: 20px !important;
}
@media (max-width: 768px) {
  #amazzing_filter {
    margin-top: 100px !important;
  }
}
/* CSS específicos para APP */
