/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				FOOTER 6
*****************************************/
.block_newsletter {
  text-align: center; }
  .block_newsletter.block {
    margin-bottom: 0.625rem; }
  @media (min-width: 768px) {
    .block_newsletter {
      max-width: 35.63rem;
      margin-left: auto;
      margin-right: auto; } }

.TdkFooterContainer .TdkPopupOver a.TdkPopupTitle {
  padding-top: 0;
  padding-bottom: 0; }
.TdkFooterContainer .TdkPopupOver .TdkPopupContent {
  bottom: 100%;
  top: auto;
  border-top: none;
  border-bottom: 1px solid #e1e1e1; }
  .TdkFooterContainer .TdkPopupOver .TdkPopupContent li {
    margin-bottom: 0; }

.TdkFooterCenter .TdkInner {
  padding-top: 0; }

.TdkFooterBottom .TdkInner {
  padding: 0; }

@media (min-width: 992px) {
  .TdkHtml.footerCopyright {
    text-align: center; } }
@media (max-width: 991px) {
  .block-social {
    text-align: center;
    margin-bottom: 1.25rem; } }
@media (min-width: 768px) and (max-width: 991px) {
  .TdkWidgetHtml.footerCopyright {
    text-align: left; }
    .rtl .TdkWidgetHtml.footerCopyright {
      text-align: right; } }
@media (max-width: 767px) {
  .TdkWidgetHtml.footerCopyright {
    text-align: center; }

  .TdkGroupSelector {
    text-align: center;
    margin-top: 0.625rem; }
    .TdkGroupSelector > div {
      display: inline-block; }
    .TdkGroupSelector .TdkPopupOver .TdkPopupContent {
      min-width: 140px; } }

/*# sourceMappingURL=footerposition1537559442.css.map */
