/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HEADER 5
*****************************************/
.TdkPopupOver {
  margin-right: 0; }
  .rtl .TdkPopupOver {
    margin-left: 0;
    margin-right: inherit; }
  .TdkPopupOver a.TdkPopupTitle {
    padding: 0; }

@media (max-width: 1199px) {
  .headerTopFlex .headerFlexEnd > div {
    padding: 0 0.625rem; }

  .TdkPopupOver a.TdkPopupTitle {
    font-size: 0.8125rem; }
  .TdkPopupOver.TdkHeaderUserInfo .TdkPopupTitle {
    width: 0.9375rem; }

  #cart-block .tdk-cart-icon {
    width: 0.9375rem; } }
@media (max-width: 991px) {
  .TdkHeaderLogo {
    text-align: center; }

  .tdk-megamenu .navbar-header .navbar-toggler {
    margin-top: 0; }

  .TdkPopupOver .TdkPopupContent {
    right: -5rem; }
    [dir="rtl"] .TdkPopupOver .TdkPopupContent {
      right: auto;
      left: -5rem; }

  .TdkPopupOver.TdkHeaderUserInfo .TdkPopupContent {
    right: -5.625rem; }
    [dir="rtl"] .TdkPopupOver.TdkHeaderUserInfo .TdkPopupContent {
      right: auto;
      left: -5.625rem; } }

/*# sourceMappingURL=headerposition1537554148.css.map */
