/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HEADER 2
*****************************************/
.TdkMegamenu .tdk-verticalmenu {
  padding: 2.5rem 0;
  display: inline-table; }
  .TdkMegamenu .tdk-verticalmenu .title_block {
    color: #272727;
    padding: 0; }
    .TdkMegamenu .tdk-verticalmenu .title_block .title-verticalmenu {
      display: none; }
  .TdkMegamenu .tdk-verticalmenu .icon-show-menu .icon-bar {
    background: #272727;
    margin-bottom: 0.3125rem;
    width: 18px;
    height: 2px; }
    .TdkMegamenu .tdk-verticalmenu .icon-show-menu .icon-bar:nth-child(2) {
      width: 1.5rem; }

.headerFlexLeft .TdkMegamenu {
  width: auto; }
  @media (min-width: 992px) {
    .headerFlexLeft .TdkMegamenu {
      margin-right: 1.25rem; }
      .rtl .headerFlexLeft .TdkMegamenu {
        margin-left: 1.25rem;
        margin-right: inherit; } }

.tdk-megamenu .navbar-header .navbar-toggler {
  margin-top: 0; }

@media (max-width: 991px) {
  .TdkMegamenu .tdk-verticalmenu {
    display: inline-block;
    width: 100%;
    padding: 1.25rem 0 0; }
    .TdkMegamenu .tdk-verticalmenu .title_block {
      background: none;
      text-align: center;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 1.25rem; }
      .TdkMegamenu .tdk-verticalmenu .title_block .icon-show-menu {
        display: none; }
      .TdkMegamenu .tdk-verticalmenu .title_block .title-verticalmenu {
        display: inline-block;
        font-size: 1rem; }
    .TdkMegamenu .tdk-verticalmenu.active .title_block {
      border-bottom: none; }

  .headerTopFlex .headerFlexLeft {
    display: inline-block; }

  .TdkHeaderLogo {
    text-align: center; } }
@media (max-width: 767px) {
  .headerNavFlex > [class*="col-"] {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .headerNavFlex .headerFlexEnd {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }

  .headerFlexEnd .currency-selector-wrapper .TdkPopupOver .TdkPopupContent {
    right: auto;
    left: 0px; }
    [dir="rtl"] .headerFlexEnd .currency-selector-wrapper .TdkPopupOver .TdkPopupContent {
      left: auto;
      right: 0px; }

  .headerContactText {
    padding-top: 1.25rem; } }

/*# sourceMappingURL=headerposition1537548727.css.map */
