/**
* 2016 keyupp.
*
*  @author    keyupp <info@keyupp.com>
*  @copyright 2016 keyupp
*  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*/

* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	}

.logocontent{width:100%; background-color:#181818 !important; color:#fff; padding:0 !important;display: table; overflow:hidden;}
.logocontent span{ font-weight:bold; font-size:18px; margin-bottom:10px; display:block;}
.logokeyupp{ width:auto; max-width:230px; padding:10px 20px; vertical-align:middle;display: table-cell;overflow:hidden; }
.logokeyupp img, .logomodule img{display: block;max-width: 100%;height: auto;}
.logocontent p{padding:0 20px;vertical-align:middle;display: table-cell;}
.logomodule{ width:auto; max-width:180px; display: table-cell; overflow:hidden;vertical-align:middle;}

@media (max-width: 900px){
.logokeyupp{  display: block; margin: 0 auto; }
.logocontent p{display: block; margin: 0 auto;}
.logomodule{  display:block; margin: 0 auto; margin-top:20px;}
}

