/* 
    Document   : css
    Created on : 27-jul-2012, 11:21:11
    Author     : berto
    Description:
        Purpose of the stylesheet follows.
*/
.hor{
  width: 25%;  
  float: left; 
}

.hor label {
    width: 65px;
}
.hor label:after {
    clear: none !Important;
}
.hor select {
    float: left;
    width: 110px;
}
.imaxCategoryradio {
	width:90%;	
}
.imaxCategoryradio:after{
	clear:both;
}
.imaxCategoryradio li {
	width:100%;
	float:left;
	margin-left:11em;
}
.imaxCategoryradio li label {
	float:left;
	width:100px;
}
.imaxCategoryradio li input{
	clear:left;
}
.color{
    color: #F00 !important;
}
.oculto{
    display: none;
}
#botones{
    margin-top: 200px;
}
#contenedor{
    width: 100%
}
#contenedor label{
    float: none;
}

#hijo1, #hijo3{
    width: 40%;
    float: left;   
}
#hijo2{
    width: 20%;
    float: left;   
}
#sortable1, #sortable2 {
    list-style-type: none;
    margin: 0;
    padding: 0 0 2.5em; 
    float: left; 
    margin-right: 10px;
    cursor: move;
	width: 100%;
}
#sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em;}


.imaxcategory {
    color: blue;
}

.imaxcategory_1 {
    padding-left: 20px !important;
    color: red;
}

.imaxcategory_2 {
    padding-left: 40px !important;
    color: green;
}

.imaxcategory_3 {
    padding-left: 60px !important;
    color: gray;
}
.imaxcategory_4 {
    padding-left: 80px !important;
    color: pink;
}

.selectExternalImport {
    width: 300px;
}
#tablaMapeos{
    width: 100%;
}

#tablaMapeos.sortable  tbody tr td {
    cursor: pointer;
}

#tablaMapeos.sortable  tbody tr.ui-sortable-helper td {
    
}

#tablaMapeos td{
    padding-right: 20px;
  /*  text-align: center;*/
}
.icon-AdminInformax:before {
     content: "\f085";
}
#tabList ul {
     list-style: none;
}
.tabItem {
     width: 90%;
}
.catOrigenLista{
    float: left;
    width: 49% ;
    margin-bottom: 20px;
    margin-top: 30px;
}
.level_0 td{
    font-weight: bold;
    color: #0063DC;
}

.level_1 td{
    color: #008000;
    padding-left: 10px;
}
.level_2 td{
    color: #7A0000;
    padding-left: 20px;
}
.level_3 td{
    color: #70B8FF;
    padding-left: 30px;
}
.level_4 td{
    color: #282828;
    padding-left: 40px;
}
.level_5 td{
    color: #282828;
    padding-left:45px;
}
.level_6 td{
    color: #282828;
    padding-left: 50px;
}
.level_7 td{
    color: #282828;
    padding-left: 55px;
}


.catOrigenLista table tr td span{
    margin-left: 10px;
}

#hijo1 .connectedSortable {
	height: 400px;
	overflow: auto;
	background-color: #ABADA4;
}

#hijo3 .connectedSortable {
	height: 449px;
	overflow: auto;
	background-color: #ABADA4;
}

#hijo1 > label {
    float: left;
    text-align: left;
}
#hijo3 > label {
    float: left;
    text-align: left;
}

.imax_marcado {
    background-color: yellow;
}

.catOrigenLista p label, ul.imaxCategoryradioSelect li label {
    float:none;
}