.module-header {
    /*background-color: #8bc954;
        border-bottom: 4px solid #71b238;
    */
    background-color: #ff5757;
    border-bottom: 4px solid #c43d3d;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.15);
    height: 70px;
    left: 0;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    font-family:"Open Sans","Helvetica","Arial","sans-serif";
    color:#fff;
}
.module-title-container {
    width:58%;
    float:left;
    margin-left:10px;
}
.module-header h2 {
    margin-bottom:0;
}
.module-header h3 {
    margin-top:0;
}
.module-toolbar {
    float:right;
    text-align: right;
    width: 40%;
}

.module-toolbar li {
    float: right;
    list-style: outside none none;
    text-align: center;
    width: 31%;
}
.module-nav li a {
    text-decoration:none;
    color:#fff;
}
.module-nav li a:hover {
    text-decoration:none;
    color:#EEE;	
}

.module-preheader {
   width: 100%; 
}

.module-preheader img{
   width: 100%; 
}

.module-footer{
    margin-top: 30px;
    width: 100%;
}
.module-footer img{
    width: 100%;
}
.module-footer-left{
    width: 63.2%;
    float: left;
}
.module-footer-right{
    width: 36.65%;
    float: left;

}
.module-newsletter{
   /* background-color: #8bc954;    */
    background-color: #ff5757;
    border-top: 4px solid #c43d3d;
    box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    font-family: "Open Sans","Helvetica","Arial","sans-serif";
    height: 70px;
    left: 0;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
}

.module-newsletter p {
    padding-left: 10px !important;
	color:#FFF;
}
.module-newsletter form p label {
    color: #fff;
    font-weight: normal;
    text-shadow: none;
}
.module-newsletter ul li{
    list-style: none;
}

.module-newsletter p.uppercase {
    text-transform: uppercase;
}

.nobootstrap {    
    min-width: 1024px !important;    
}