/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*
 *
 * Vertical menu
 */
.TdkMegamenu .tdk-verticalmenu {
  position: relative; }
  .TdkMegamenu .tdk-verticalmenu .title_block {
    margin: 0;
    color: #FFFFFF;
    width: 100%;
    line-height: 1.625rem;
    font-size: 0.8125rem;
    padding: 1.25rem 1.563rem;
    text-transform: none;
    background: #272727;
    cursor: pointer; }
  .TdkMegamenu .tdk-verticalmenu > .block_content {
    background: #FFFFFF;
    position: absolute;
    z-index: 30;
    height: auto;
    overflow: visible;
    width: 100%;
    min-width: 16.88rem;
    border-top: none;
    -moz-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 35px -10px rgba(0, 0, 0, 0.25);
    -webkit-transition: height 0.4s ease 0s;
    -moz-transition: height 0.4s ease 0s;
    -ms-transition: height 0.4s ease 0s;
    -o-transition: height 0.4s ease 0s;
    transition: height 0.4s ease 0s; }
  .TdkMegamenu .tdk-verticalmenu .icon-show-menu {
    width: 1.25rem;
    float: left;
    margin: 0.5rem 0.625rem 0 0; }
    .rtl .TdkMegamenu .tdk-verticalmenu .icon-show-menu {
      float: right; }
    .rtl .TdkMegamenu .tdk-verticalmenu .icon-show-menu {
      margin: 0.5rem 0 0 0.625rem; }
    .TdkMegamenu .tdk-verticalmenu .icon-show-menu .icon-bar {
      float: left;
      width: 0.75rem;
      height: 0.0625rem;
      background: #FFFFFF;
      margin-bottom: 0.1875rem; }
      .rtl .TdkMegamenu .tdk-verticalmenu .icon-show-menu .icon-bar {
        float: right; }
      .TdkMegamenu .tdk-verticalmenu .icon-show-menu .icon-bar:nth-child(2) {
        width: 0.9375rem; }
      .TdkMegamenu .tdk-verticalmenu .icon-show-menu .icon-bar:nth-child(3) {
        margin-bottom: 0; }

.tdk-verticalmenu.popup-menu .block_content {
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1001;
  visibility: hidden;
  overflow: hidden;
  pointer-events: auto;
  height: 0px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
.tdk-verticalmenu.popup-menu .verticalmenu {
  -webkit-animation: mega_drop_down_out .25s ease-in-out;
  animation: mega_drop_down_out .25s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top; }
.tdk-verticalmenu.popup-menu.active .block_content {
  visibility: visible;
  height: auto;
  overflow: visible; }
.tdk-verticalmenu.popup-menu.active .verticalmenu {
  -webkit-animation: mega_drop_down_in .3s ease-in-out;
  animation: mega_drop_down_in .3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top; }
@media (min-width: 1200px) {
  .tdk-verticalmenu.popup-menu:hover .block_content {
    visibility: visible;
    height: auto;
    overflow: visible; }
  .tdk-verticalmenu.popup-menu:hover .verticalmenu {
    -webkit-animation: mega_drop_down_in .3s ease-in-out;
    animation: mega_drop_down_in .3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top; } }
.tdk-verticalmenu.popup-menu:hover .block_content.is-drilldown {
  overflow: hidden; }
.tdk-verticalmenu.is-drilldown {
  overflow: hidden;
  position: relative;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }

div.verticalmenu {
  z-index: 100;
  height: 100%; }
  div.verticalmenu .navbar-collapse, div.verticalmenu .navbar-vertical {
    margin: 0;
    padding: 0; }
  div.verticalmenu .navbar-nav {
    position: static;
    float: none;
    width: 100%; }
    div.verticalmenu .navbar-nav > li {
      width: 100%;
      height: auto;
      position: relative;
      float: none; }
      div.verticalmenu .navbar-nav > li + .nav-item {
        margin-left: 0px; }
        .rtl div.verticalmenu .navbar-nav > li + .nav-item {
          margin-right: 0px;
          margin-left: inherit; }
      div.verticalmenu .navbar-nav > li > a {
        display: block;
        color: #272727;
        font-size: 0.8125rem;
        font-family: "Poppins", sans-serif;
        padding: 0.625rem 1.25rem;
        font-weight: 400;
        line-height: 1.5rem; }
      div.verticalmenu .navbar-nav > li .caret {
        display: none; }
      @media (max-width: 991px) {
        div.verticalmenu .navbar-nav > li .caret {
          display: block;
          position: relative;
          top: -2.5rem;
          cursor: pointer;
          border: none;
          text-align: center;
          border: none;
          width: 1.563rem;
          height: 1.875rem;
          float: right;
          right: 0; }
          .rtl div.verticalmenu .navbar-nav > li .caret {
            float: left; }
          .rtl div.verticalmenu .navbar-nav > li .caret {
            left: 0;
            right: auto; }
          div.verticalmenu .navbar-nav > li .caret:before {
            content: "\f105";
            font-family: "FontAwesome";
            color: #272727;
            font-size: 0.6875rem;
            font-weight: normal; } }
      div.verticalmenu .navbar-nav > li .dropdown-submenu .caret {
        top: 0; }
        @media (max-width: 991px) {
          div.verticalmenu .navbar-nav > li .dropdown-submenu .caret {
            top: -1rem; } }
      div.verticalmenu .navbar-nav > li.last a, div.verticalmenu .navbar-nav > li:last-child a {
        border: 0; }
      div.verticalmenu .navbar-nav > li:hover > a {
        color: #ee4448;
        background: #ee4448; }
        div.verticalmenu .navbar-nav > li:hover > a:hover, div.verticalmenu .navbar-nav > li:hover > a:focus {
          color: #ee4448;
          background: #ee4448;
          border-color: #e1e1e1; }
      div.verticalmenu .navbar-nav > li:hover .caret {
        color: #ee4448; }
        div.verticalmenu .navbar-nav > li:hover .caret:before {
          color: #ee4448; }
      div.verticalmenu .navbar-nav > li.open > a {
        color: #ee4448;
        background: #ee4448; }
        div.verticalmenu .navbar-nav > li.open > a:hover, div.verticalmenu .navbar-nav > li.open > a:focus {
          color: #ee4448;
          background: #ee4448;
          border-color: #e1e1e1; }
      div.verticalmenu .navbar-nav > li.open .caret {
        color: #ee4448; }
        div.verticalmenu .navbar-nav > li.open .caret:before {
          color: #ee4448;
          top: -23px;
          content: "\f0d7"; }
      div.verticalmenu .navbar-nav > li .parent {
        position: relative; }
        div.verticalmenu .navbar-nav > li .parent > .dropdown-toggle {
          text-transform: none;
          font-weight: normal;
          color: #787878; }
          div.verticalmenu .navbar-nav > li .parent > .dropdown-toggle:hover {
            color: #ee4448; }
    div.verticalmenu .navbar-nav li.parent > a:after {
      position: absolute;
      content: "\f105";
      font-family: "FontAwesome";
      color: #272727;
      font-size: 0.6875rem;
      font-weight: normal;
      right: 0.75rem;
      top: 0.75rem;
      border: none; }
      @media (max-width: 991px) {
        div.verticalmenu .navbar-nav li.parent > a:after {
          display: none; } }
    div.verticalmenu .navbar-nav li.parent:hover > a:after {
      color: #FFFFFF; }
    div.verticalmenu .navbar-nav li.parent.dropdown-submenu > a:after {
      color: #787878; }
    div.verticalmenu .navbar-nav.drilldown li.parent > a::after {
      content: none; }
    div.verticalmenu .navbar-nav.drilldown > li .caret {
      display: block;
      position: relative;
      top: -2.25rem;
      cursor: pointer;
      border: none;
      text-align: center;
      width: 1.563rem;
      height: 1.875rem;
      float: right;
      right: 0; }
      .rtl div.verticalmenu .navbar-nav.drilldown > li .caret {
        float: left; }
      .rtl div.verticalmenu .navbar-nav.drilldown > li .caret {
        left: 0;
        right: auto; }
      div.verticalmenu .navbar-nav.drilldown > li .caret::before {
        content: "\f105";
        font-family: "FontAwesome";
        color: #272727;
        font-size: 1rem;
        font-weight: normal; }
        [dir="rtl"] div.verticalmenu .navbar-nav.drilldown > li .caret::before {
          content: "\f104"; }
    div.verticalmenu .navbar-nav.drilldown > li:hover > a {
      color: #FFFFFF; }
      div.verticalmenu .navbar-nav.drilldown > li:hover > a > .menu-title {
        color: #FFFFFF; }
    div.verticalmenu .navbar-nav.drilldown > li:hover .caret::before {
      color: #FFFFFF; }
    div.verticalmenu .navbar-nav.drilldown .dropdown-menu {
      position: absolute;
      top: 0;
      visibility: visible;
      z-index: -1;
      display: block;
      border: none;
      width: 100%;
      padding: 0;
      visibility: hidden;
      height: auto !important;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      left: 100%;
      float: right;
      opacity: 0;
      filter: alpha(opacity=0); }
      .rtl div.verticalmenu .navbar-nav.drilldown .dropdown-menu {
        right: 100%;
        left: auto; }
      .rtl div.verticalmenu .navbar-nav.drilldown .dropdown-menu {
        float: left; }
      div.verticalmenu .navbar-nav.drilldown .dropdown-menu ul > li {
        padding: 0; }
        div.verticalmenu .navbar-nav.drilldown .dropdown-menu ul > li > a {
          display: block;
          color: #272727;
          font-size: 0.8125rem;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          padding: 0.625rem 1.25rem;
          line-height: 1.5rem; }
          div.verticalmenu .navbar-nav.drilldown .dropdown-menu ul > li > a > .menu-title {
            color: #272727; }
        div.verticalmenu .navbar-nav.drilldown .dropdown-menu ul > li:hover > a {
          background: #ee4448;
          color: #FFFFFF; }
          div.verticalmenu .navbar-nav.drilldown .dropdown-menu ul > li:hover > a > .menu-title {
            color: #FFFFFF; }
          div.verticalmenu .navbar-nav.drilldown .dropdown-menu ul > li:hover > a .cat-pro-num {
            color: #FFFFFF; }
      div.verticalmenu .navbar-nav.drilldown .dropdown-menu.active-drilldown {
        z-index: 1;
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
        left: 0; }
        .rtl div.verticalmenu .navbar-nav.drilldown .dropdown-menu.active-drilldown {
          right: 0;
          left: auto; }
        div.verticalmenu .navbar-nav.drilldown .dropdown-menu.active-drilldown .drilldown-back {
          font-size: 0.875rem;
          color: #272727;
          cursor: pointer;
          text-transform: uppercase;
          padding: 0.625rem 1.25rem 0rem; }
          div.verticalmenu .navbar-nav.drilldown .dropdown-menu.active-drilldown .drilldown-back:before {
            content: "\f104";
            display: inline-block;
            font-family: "FontAwesome";
            font-size: 0.75rem;
            padding-right: 0.3125rem; }
            .rtl div.verticalmenu .navbar-nav.drilldown .dropdown-menu.active-drilldown .drilldown-back:before {
              padding-left: 0.3125rem;
              padding-right: inherit; }
          div.verticalmenu .navbar-nav.drilldown .dropdown-menu.active-drilldown .drilldown-back:hover {
            color: #ee4448; }
      div.verticalmenu .navbar-nav.drilldown .dropdown-menu .nav-link span {
        display: inline-block; }
      div.verticalmenu .navbar-nav.drilldown .dropdown-menu .nav-link .cat-pro-num {
        color: #787878;
        font-size: 0.75rem;
        margin-left: 0.625rem; }
        .rtl div.verticalmenu .navbar-nav.drilldown .dropdown-menu .nav-link .cat-pro-num {
          margin-right: 0.625rem;
          margin-left: inherit; }
    div.verticalmenu .navbar-nav.drilldown > li, div.verticalmenu .navbar-nav.drilldown > li .parent, div.verticalmenu .navbar-nav.drilldown .mega-col {
      position: static; }
  div.verticalmenu ul li a .menu-icon {
    display: block;
    background-position: left center !important; }
    .rtl div.verticalmenu ul li a .menu-icon {
      background-position: right center !important; }
    div.verticalmenu ul li a .menu-icon span {
      display: block;
      margin-left: 2.188rem; }
      .rtl div.verticalmenu ul li a .menu-icon span {
        margin-right: 2.188rem;
        margin-left: inherit; }
    div.verticalmenu ul li a .menu-icon .menu-desc {
      display: none; }
  div.verticalmenu ul li a .menu-title {
    display: block;
    color: #272727; }
  div.verticalmenu ul li a .sub-title {
    font-size: 0.8125rem; }
  div.verticalmenu ul li a:hover, div.verticalmenu ul li a:focus {
    color: #ee4448;
    background: #FFFFFF; }
    div.verticalmenu ul li a:hover .menu-title, div.verticalmenu ul li a:focus .menu-title {
      color: #ee4448; }
  div.verticalmenu .dropdown-menu {
    left: -9999px;
    top: -9999px;
    right: auto;
    border: 2px solid #ee4448;
    min-height: 6.25rem;
    height: 100% !important;
    min-width: 13.44rem;
    padding: 1.25rem 1.75rem;
    background: #FFFFFF;
    margin: 0px;
    text-align: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35); }
    .rtl div.verticalmenu .dropdown-menu {
      text-align: right; }
    div.verticalmenu .dropdown-menu ul li {
      padding: 0.25rem 0rem;
      line-height: normal;
      list-style: none;
      display: block;
      float: none; }
      div.verticalmenu .dropdown-menu ul li + .nav-item {
        margin-left: 0px; }
        .rtl div.verticalmenu .dropdown-menu ul li + .nav-item {
          margin-right: 0px;
          margin-left: inherit; }
      div.verticalmenu .dropdown-menu ul li a {
        color: #787878;
        font-size: 0.75rem;
        font-weight: 400;
        padding: 0; }
        div.verticalmenu .dropdown-menu ul li a .menu-title {
          color: #787878;
          text-transform: none; }
        div.verticalmenu .dropdown-menu ul li a:hover {
          color: #ee4448; }
          div.verticalmenu .dropdown-menu ul li a:hover .menu-title {
            color: #ee4448; }
    div.verticalmenu .dropdown-menu p {
      line-height: 1.125rem;
      font-size: 0.75rem; }
    div.verticalmenu .dropdown-menu .tdk-menu-video {
      width: 100%; }
      div.verticalmenu .dropdown-menu .tdk-menu-video iframe {
        margin-bottom: 0.625rem; }
    div.verticalmenu .dropdown-menu .dropdown-toggle:hover {
      color: #000000; }
    div.verticalmenu .dropdown-menu .dropdown-toggle {
      font-weight: bold;
      text-transform: uppercase;
      line-height: normal;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-size: 0.75rem; }
    div.verticalmenu .dropdown-menu .action {
      display: none; }
  div.verticalmenu .widget-heading {
    color: #000000;
    text-transform: uppercase;
    font-weight: 600; }

div.active-hover ul > li:hover > .dropdown-menu {
  left: 100%;
  top: -1px;
  opacity: 1;
  filter: alpha(opacity=100);
  display: inline-table; }
  .rtl div.active-hover ul > li:hover > .dropdown-menu {
    right: 100%;
    left: auto; }
  div.active-hover ul > li:hover > .dropdown-menu.active-drilldown {
    top: 0; }

/*# sourceMappingURL=menusidebar.css.map */
