span.nbr_unread {
    background: #4ac7e0;
    min-width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0px 5px !important;
    border-radius: 50%;
}