
<p>Click on the following link to download the documentation of this module: <a target="_blank" href="{$link}">Download documentation</a></p>
<p>Below are some notes you should pay attention to while using <strong>Contact Form Ultimate:</strong></p>
<h4>Contact Forms</h4>

<p>When creating a new contact form, if you click on <strong>"Add new input field/row to create your contact form"</strong> link and select an input field, by default this input field will be put on a full-width row (1 column).</p>
<p>To add reCAPTCHA input field, you need to enable reCAPTCHA first. Navigate to <strong>"Settings > Integration > reCAPTCHA"</strong>, enable reCAPTCHA option and enter your key pair.</p>
<p>For how to get reCAPTCHA site key and secret key, please read our module documentation</p>
<p>To be able to reply customer messages directly on back office, you need your customer email address. When building a contact form, make sure to add an email input field and mark it as required field.</p>

<h4>Email configurations</h4>

<p>To get the info from your contact form to the email send to admin or auto responder email, please copy and paste the respective mail-tags into <strong>"Message body"</strong> field in <strong>"Contact Forms > Mail"</strong> subtab</p>
<p>To receive attachment file from your customer via email, please navigate to <strong>"Contact Forms > Mail"</strong> and check the <strong>"File attachment"</strong> box.</p>
<p>To receive attachment file from your customer via “Messages” tab, please navigate to <strong>"Contact Forms > Settings"</strong> and turn on the <strong>"Save attachments"</strong> option.</p>