/**
*
* PrestaShop module created by TDK Studio, A young & creative agency focus on Digital platform
*
* @author    TDK Studio
* @copyright 2018-9999 TDK Studio
* @license   This program is not free software and you can't resell and redistribute it
*
* CONTACT WITH DEVELOPER
* Email/Skype: info.tdkstudio@gmail.com
* 
**/
/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*******************TDK CSS FOR QUICKLOGIN FORM BEGIN*****************************/
.tdkql-dropdown-wrapper {
  display: block;
  padding: 1.25rem 1.25rem 0 1.25rem;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.dropdown .tdkql-dropdown-wrapper,
.dropup .tdkql-dropdown-wrapper {
  margin-top: 3.125rem; }
.dropdown.open .tdkql-dropdown-wrapper,
.dropup.open .tdkql-dropdown-wrapper {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100); }

.dropdown.open .tdkql-dropdown-wrapper {
  margin-top: 0.625rem; }

.dropup.open .tdkql-dropdown-wrapper {
  margin-bottom: 0.625rem; }

.tdkql-form {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .tdkql-form.tdkql-form-inactive {
    position: absolute;
    visibility: hidden;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0); }
  .tdkql-form.full-width {
    width: 100%; }
    .tdkql-form.full-width .tdkql-calllogin {
      display: block;
      font-size: 0.875rem;
      margin-top: 1.25rem;
      text-align: center; }

.tdkql-quicklogin-form {
  position: relative;
  overflow: hidden;
  max-width: 37.5rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .tdkql-quicklogin-form.html {
    max-width: 100%; }

.tdkql-form-bt {
  width: 100%;
  background: #272727;
  text-transform: uppercase; }
  .tdkql-form-bt:hover {
    background: #ee4448; }
  .tdkql-form-bt .tdkql-icon {
    margin: 0; }

.tdkql-login-form.tdkql-form-inactive {
  right: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }
  .rtl .tdkql-login-form.tdkql-form-inactive {
    left: 0;
    right: auto; }
.tdkql-login-form.tdkql-form-active .tdkql-login-title {
  margin-top: 1.25rem; }

.tdkql-register-form.tdkql-form-inactive {
  left: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%); }
  .rtl .tdkql-register-form.tdkql-form-inactive {
    right: 0;
    left: auto; }
.tdkql-register-form.tdkql-form-active .tdkql-register-title {
  margin-top: 1.25rem;
  font-size: 1.5rem; }

.tdkql-callregister {
  display: block;
  text-align: center;
  margin: 2.5rem 0 0.625rem; }
  .tdkql-callregister.tdkql-inactive {
    display: none; }

.tdkql-resetpass-form,
.tdkql-calllogin,
.tdkql-loading,
.tdkql-icon {
  display: none; }

.tdkql-cssload-speeding-wheel {
  margin: 0 auto;
  border: 2px solid #FFFFFF;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-animation: cssload-spin 800ms infinite linear;
  -moz-animation: cssload-spin 800ms infinite linear;
  -ms-animation: cssload-spin 800ms infinite linear;
  animation: cssload-spin 800ms infinite linear; }

.tdkql-form-content input {
  border: 1px solid transparent; }
.tdkql-form-content .leo-has-error input {
  border-color: red; }
.tdkql-form-content label {
  margin-bottom: 0.3125rem;
  font-weight: 400;
  color: #666666;
  line-height: 1.42857143; }
.tdkql-form-content .form-group {
  margin-bottom: 0.9375rem; }
  .tdkql-form-content .form-group .input-group-addon {
    border-style: solid !important;
    border-color: #d8d8d8 !important;
    border-width: 1px 1px 1px 0; }
.tdkql-form-content input.form-control {
  height: 2.563rem;
  font-size: 0.8125rem;
  color: #999999;
  background: none;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0.3125rem 0.9375rem 0.3125rem 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -ms-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; }
  .rtl .tdkql-form-content input.form-control {
    padding: 0.3125rem 0 0.3125rem 0.9375rem; }
  .tdkql-form-content input.form-control:-webkit-autofill {
    -moz-box-shadow: inset 0 0 0 30px white;
    -webkit-box-shadow: inset 0 0 0 30px white;
    -o-box-shadow: inset 0 0 0 30px white;
    -ms-box-shadow: inset 0 0 0 30px white;
    box-shadow: inset 0 0 0 30px white; }
  .tdkql-form-content input.form-control::-webkit-input-placeholder {
    color: #999999; }
  .tdkql-form-content input.form-control::-moz-placeholder {
    color: #999999; }
  .tdkql-form-content input.form-control:-moz-placeholder {
    color: #999999; }
  .tdkql-form-content input.form-control:-ms-input-placeholder {
    color: #999999; }
  .tdkql-form-content input.form-control:focus {
    border-color: #ee4448;
    outline: 0; }
.tdkql-form-content input.tdkql-rememberme {
  vertical-align: -0.125rem; }
.tdkql-form-content .form-control-label {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left; }
  .rtl .tdkql-form-content .form-control-label {
    text-align: right; }

.tdkql-form-mesg {
  display: none;
  margin: 0; }
  .tdkql-form-mesg label {
    text-align: left; }
    .rtl .tdkql-form-mesg label {
      text-align: right; }

.full-width .tdkql-login-title .title-both {
  display: none; }
.full-width .tdkql-login-title .title-only {
  display: block; }

.tdkql-login-title .title-both {
  display: none; }
.tdkql-login-title .title-only {
  display: block; }

.tdkql-quicklogin-modal .modal-header {
  border: none; }
.tdkql-quicklogin-modal .modal-dialog {
  max-width: 35.63rem; }
.tdkql-quicklogin-modal .modal-body {
  padding-left: 3.75rem;
  padding-right: 3.75rem; }
  @media (max-width: 991px) {
    .tdkql-quicklogin-modal .modal-body {
      padding-right: 0.625rem;
      padding-left: 0.625rem; } }
.tdkql-quicklogin-modal .tdkql-login-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 2.5rem; }
.tdkql-quicklogin-modal .modal-footer {
  display: none; }

/*******************TDK CSS FOR QUICKLOGIN SLIDEBAR BEGIN*****************************/
body .tdkql-active-slidebar {
  overflow: hidden;
  padding-right: 1.063rem; }
  .rtl body .tdkql-active-slidebar {
    padding-left: 1.063rem;
    padding-right: inherit; }
  body .tdkql-active-slidebar.tdkql_is_gen_rtl {
    padding-right: 0;
    padding-left: 1.063rem; }
body main {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.tdkql-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000000;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
  -moz-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
  -ms-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
  -o-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
  transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s; }
  .tdkql-mask.active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }

.tdkql-slidebar-wrapper {
  max-width: 37.5rem;
  margin: 0 auto; }

.tdkql-slidebar {
  z-index: 999;
  position: fixed;
  background: #FFFFFF;
  padding: 1.25rem;
  visibility: hidden;
  display: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .tdkql-slidebar.slidebar_left, .tdkql-slidebar.push_slidebar_left {
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
    .tdkql-slidebar.slidebar_left.active, .tdkql-slidebar.push_slidebar_left.active {
      visibility: visible;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  .tdkql-slidebar.slidebar_right, .tdkql-slidebar.push_slidebar_right {
    display: block;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
    .tdkql-slidebar.slidebar_right.active, .tdkql-slidebar.push_slidebar_right.active {
      visibility: visible;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  .tdkql-slidebar.slidebar_top, .tdkql-slidebar.push_slidebar_top {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
    .tdkql-slidebar.slidebar_top.active, .tdkql-slidebar.push_slidebar_top.active {
      visibility: visible;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
  .tdkql-slidebar.slidebar_bottom, .tdkql-slidebar.push_slidebar_bottom {
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
    .tdkql-slidebar.slidebar_bottom.active, .tdkql-slidebar.push_slidebar_bottom.active {
      visibility: visible;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
  .tdkql-slidebar.push_slidebar_left .tdkql-slidebar-top, .tdkql-slidebar.slidebar_left .tdkql-slidebar-top, .tdkql-slidebar.push_slidebar_right .tdkql-slidebar-top, .tdkql-slidebar.slidebar_right .tdkql-slidebar-top, .tdkql-slidebar.push_slidebar_bottom .tdkql-slidebar-top, .tdkql-slidebar.slidebar_bottom .tdkql-slidebar-top {
    display: block; }
  .tdkql-slidebar.push_slidebar_top .tdkql-slidebar-bottom, .tdkql-slidebar.slidebar_top .tdkql-slidebar-bottom {
    display: block; }

.tdkql-slidebar-top {
  margin-bottom: 0.625rem; }

.tdkql-slidebar-top,
.tdkql-slidebar-bottom {
  display: none;
  text-align: right; }
  .rtl .tdkql-slidebar-top, .rtl
  .tdkql-slidebar-bottom {
    text-align: left; }

/*******************TDK CSS FOR SOCIALLOGIN BEGIN *****************************/
.tdkql-social-modal-mesg {
  display: none;
  text-align: center; }
  .tdkql-social-modal-mesg.active {
    display: block; }
    .tdkql-social-modal-mesg.active span {
      display: block;
      border-top-color: #e1e1e1;
      border-bottom-color: #e1e1e1; }
  .tdkql-social-modal-mesg.success i {
    color: #5cb85c; }
  .tdkql-social-modal-mesg.error-email a, .tdkql-social-modal-mesg.error-login a {
    color: #f0ad4e; }

.tdkql-social-modal .modal-dialog {
  margin: 15.63rem auto; }
.tdkql-social-modal .modal-content {
  @inclue rounded-corners(0); }

.social-login-bt {
  color: #FFFFFF;
  border-color: transparent;
  margin-top: 0.3125rem; }

.tdkql-social-login {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  text-align: center; }
  .tdkql-social-login .tdkql-social-login-title {
    text-transform: none;
    font-size: 0.8125rem;
    font-weight: 400;
    margin-bottom: 0.9375rem;
    text-align: center;
    display: inline-block; }
    .tdkql-social-login .tdkql-social-login-title:before, .tdkql-social-login .tdkql-social-login-title:after {
      content: "";
      display: inline-block;
      background: #e1e1e1;
      width: 70px;
      height: 1px; }
    .tdkql-social-login .tdkql-social-login-title span {
      padding: 0 0.625rem;
      vertical-align: -0.125rem; }
  .tdkql-social-login .social-login-bt {
    margin-bottom: 0.625rem;
    display: block;
    width: 100%;
    position: relative;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    padding: 0.625rem 0.625rem 0.625rem 3.438rem; }
    .rtl .tdkql-social-login .social-login-bt {
      padding: 0.625rem 3.438rem 0.625rem 0.625rem; }
    .tdkql-social-login .social-login-bt .fa {
      position: absolute;
      top: 50%;
      width: 2.813rem;
      text-align: center;
      left: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .rtl .tdkql-social-login .social-login-bt .fa {
        right: 0;
        left: auto; }
    .tdkql-social-login .social-login-bt.facebook-login-bt {
      background: #3b5998; }
      .tdkql-social-login .social-login-bt.facebook-login-bt .fa {
        border-right: 1px solid #4163a9; }
        .rtl .tdkql-social-login .social-login-bt.facebook-login-bt .fa {
          border-left: 1px solid #4163a9;
          border-right: inherit; }
      .tdkql-social-login .social-login-bt.facebook-login-bt:hover {
        background: #314a92; }
    .tdkql-social-login .social-login-bt.google-login-bt {
      background: #e74c3c; }
      .tdkql-social-login .social-login-bt.google-login-bt .fa {
        border-right: 1px solid #de372a; }
        .rtl .tdkql-social-login .social-login-bt.google-login-bt .fa {
          border-left: 1px solid #de372a;
          border-right: inherit; }
      .tdkql-social-login .social-login-bt.google-login-bt:hover {
        background: #ea362f; }
    .tdkql-social-login .social-login-bt.twitter-login-bt {
      background: #1DA1F2; }
      .tdkql-social-login .social-login-bt.twitter-login-bt .fa {
        @incldue rtl-border-right(1px solid #1589d1); }
      .tdkql-social-login .social-login-bt.twitter-login-bt:hover {
        background: #3ca6e8; }

.show-bt-txt .social-login-bt span {
  margin-right: 0.625rem; }
  .rtl .show-bt-txt .social-login-bt span {
    margin-left: 0.625rem;
    margin-right: inherit; }

/*******************TDK CSS FOR SOCIALLOGIN END *****************************/
/******************TDK CSS FOR TAB NAVIGATION BEGIN ***************/
.tdkql-action-bt {
  float: left;
  width: 50%;
  text-align: center; }

.tdkql-action {
  overflow: auto;
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid #e1e1e1; }
  .tdkql-action.tdkql-inactive {
    display: none; }
  .tdkql-action.tdkql-active {
    display: block; }

.tdkql-bt {
  color: #ddd;
  cursor: pointer; }

.tdkql-bt.tdkql-active {
  color: #000000; }

/*# sourceMappingURL=front.css.map */
