{**
 * We offer the best and most useful modules PrestaShop and modifications for your online store.
 *
 * We are experts and professionals in PrestaShop
 *
 * @author    PresTeamShop.com <support@presteamshop.com>
 * @copyright 2011-2021 PresTeamShop
 * @license   see file: LICENSE.txt
 * @category  PrestaShop
 * @category  Module
 *}

<div class="col-xs">&nbsp;</div>
<div class="col-xs-12">
    <div class="clearfix clear">
        <div class="panel panel-default" id="pts_content_credits">
            <div class="panel-heading">
                <span class="panel-title">
                    <i class='fa-pts fa-pts-certificate fa-pts-1x'></i>
                    <span id="helper-credits-developed">User guides</span>
                </span>
            </div>
            <div class="panel-body nopadding">
                <div class="">
                    <div class="clear clearfix">
                        <span>
                            <a target="_blank" href="{$paramsBack.MODULE_DIR|escape:'htmlall':'UTF-8'}docs/guides/index_es.html">
                                <i class="fa-pts fa-pts-link"></i>
                                <span id="helper-credits-spanish">User guide module (Spanish)</span>
                            </a>
                        </span>
                        <br class="clear clearfix" />
                        <span>
                            <a target="_blank" href="{$paramsBack.MODULE_DIR|escape:'htmlall':'UTF-8'}docs/guides/index_en.html">
                                <i class="fa-pts fa-pts-link"></i>
                                <span id="helper-credits-english">User guide module (English)</span>
                            </a>
                        </span>
                    </div>
                </div>
                <br class="clear clearfix" />
                
            </div>
        </div>
    </div>
</div>