#lgcookieslaw_banner {
    display: none;
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    color: #fff;
}
#lgcookieslaw_banner a {
    text-decoration: none;
    margin-left: 7px;
    cursor: pointer;
}
.lgcookieslaw_container {
    padding-top: 15px;
    display: block;
}
.lgcookieslaw_message {
    display: block;
    width: 80%;
    float: left;
}
.lgcookieslaw_button_container {
    display: block;
    width: 20%;
    float: left;
}
.lgcookieslaw_button_container div:first-child {
    display: block;
    width: 50%;
    text-align: right;
    float: left;
}
.lgcookieslaw_button_container div:last-child {
    display: block;
    width: 50%;
    text-align: left;
    float: left;
}
#lgcookieslaw_accept {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 50px;
    cursor: pointer;
    font-size: 1.143rem;
    text-transform: uppercase;
    background-color: #efefef!important;
}

@media only screen and (max-width: 600px) {
    .lgcookieslaw_container {
        padding-top: 15px;
        display: block;
    }
    .lgcookieslaw_message {
        display: block;
        width: 100%;
        float:left;
        margin-bottom: 15px;
    }
    .lgcookieslaw_button_container {
        display: block;
        width: 100%;
        float: left;
    }
    .lgcookieslaw_button_container div:first-child {
        display: block;
        width: 50%;
        text-align: right;
        float: left;
    }
    .lgcookieslaw_button_container div:last-child {
        display: block;
        width: 50%;
        text-align: left;
        float: left;
    }
}

#lgcookieslaw-modal {
    background: #fff;
}
.lgcookieslaw-modal-body {
    padding: 15px;
    display: block;
    position: relative;
    overflow: auto;
    border-top: 4px solid #8BC954;
}
.lgcookieslaw-section {
    padding: 15px;
    display: block;
    float: left;
    width: 100%;
    border: 1px solid #e4e3e3;
    margin-bottom: 15px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.lgcookieslaw-section-name {
    display: block;
    float: left;
    width: 80%;
    font-weight: bold;
    padding: 10px 15px;
}

.lgcookieslaw-section-description {
    display: block;
    float: left;
    width: 100%;
    padding: 10px 15px;
}

.lgcookieslaw-section-checkbox {
    display: block;
    float: left;
    width: 20%;
    text-align: right;
    padding-right:25px;
}

.lgcookieslaw-modal-footer {
    display: block;
    width: 100%;
    position: relative;
    bottom: 0px;
    border: 0px;
    border-top: 1px solid #e4e3e3;
    padding: 15px;
    overflow: auto;
}

.lgcookieslaw-section-description ul li {
    color: #5c5c5c;
    position: relative;
    width: 100%;
    display: inline-block;
    z-index: 1;
    margin: 6px 0;
    line-height: 1em;
}

.lgcookieslaw-section-description ul li:before {
    /*font-family: ff_icons,Helvetica,Arial,sans-serif;*/
    content: "\2714";
    color: #8BC954;
    font-size: 1em;
    position: absolute;
    top: 0px;
    left: -18px;
    z-index: 2;
    width: 12px;
    height: 12px;
}

.lgcookieslaw_switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.lgcookieslaw_slider_option_left, .lgcookieslaw_slider_option_right {
    position: absolute;
    display: inline-block;
    line-height: 34px;
    font-weight: bold;
}

.lgcookieslaw_slider_option_left {
    left: -35px
}

.lgcookieslaw_slider_option_right {
    left: 70px;
}

.lgcookieslaw_switch input {
    opacity: 0!important;
    width: 0!important;
    height: 0!important;
}

.lgcookieslaw_switch div.checker, .lgcookieslaw_switch div.checker span, .lgcookieslaw_switch div.checker input {
    width: 0!important;
    height: 0!important;
}

.lgcookieslaw_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.lgcookieslaw_slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .lgcookieslaw_slider {
    background-color: #8BC954;
}

input:focus + .lgcookieslaw_slider {
    box-shadow: 0 0 1px #8BC954;
}

/*
input:checked + .lgcookieslaw_slider_disabled {
    background-color: #CCCCCC!important;
}
*/

input:checked + .lgcookieslaw_slider:before, .lgcookieslaw_slider_checked:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.lgcookieslaw_slider.round {
    border-radius: 34px;
}

.lgcookieslaw_slider.round:before {
    border-radius: 50%;
}

.lgcookieslaw-modal-footer-left {
    width: 50%;
    float: left;
    text-align: left;
    overflow: auto;
}

.lgcookieslaw-modal-footer-right {
    width: 50%;
    float: left;
    text-align: right;
    overflow: auto;
}
#lgcookieslaw-close {
    cursor: pointer;
    background: none;
}

#lgcookieslaw-save {
    color: #fff;
    background: #8BC954;
}

@media only screen and (max-width: 600px) {
    #lgcookieslaw_banner .container {
        padding: 15px!important;
    }
    .lgcookieslaw-modal-footer-left {
        width: 100%;
        float: right;
        text-align: center;
    }
    .lgcookieslaw-modal-footer-right {
        width: 100%;
        float: left;
        text-align: center;
    }
    .lgcookieslaw-section-name {
        width: 50%;
    }
    .lgcookieslaw-section-checkbox {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {
    #lgcookieslaw_banner .container {
        width: 60%!important;
        max-width: 100%!important;
        margin: auto;
    }
}
