.lgcookieslaw_banner {
    background-color: rgba(112,112,112,0.7);
    border-color: 112,112,112,0.7;
    border-left: 1px solid 112,112,112,0.7;
    border-right: 1px solid 112,112,112,0.7;
    color: #FFFFFF !important;
    -webkit-box-shadow: 0px 1px 5px 0px #707070;
    -moz-box-shadow:    0px 1px 5px 0px #707070;
    box-shadow:         0px 1px 5px 0px #707070;
    
    bottom:0;
    
}
#lgcookieslaw_banner .lgcookieslaw_message a {
    color: #FFFFFF !important;
    border-bottom: 1px solid #FFFFFF;
}
.lgcookieslaw-modal-body {
    border-top: 4px solid #000000;
}
.lgcookieslaw_banner a.lgcookieslaw_btn {
    border-color: #000000 !important;
    background: #000000 !important;
    color: #3b3b3b !important;
}
.lgcookieslaw_banner a:hover.lgcookieslaw_btn {
    border-color: ;
    background: ;
    color:  !important;
}
/* New module*/

.lgcookieslaw-section-description ul li:before {
    color: #000000!important;
}
input:checked + .lgcookieslaw_slider, .lgcookieslaw_slider_checked {
    background-color: #000000!important;
}
input:focus + .lgcookieslaw_slider, .lgcookieslaw_slider_checked {
    box-shadow: 0 0 1px #000000!important;
}
#lgcookieslaw-save {
    background: #000000!important;
}

