<script type="text/javascript">
    {literal}
    var seur_ajaxcall_url = '{/literal}{$url_module}{literal}&ajax=1';
    var seur_url = '{/literal}{$url_module}{literal}';
    {/literal}
</script>
    <div class=" headerSeur">
    <div class="logoSeur"><img src="{$img_path|escape:'htmlall':'UTF-8'}logo_seur.png"></div>
    <div class="linkSeur header_manual"><a href="">{l s="Descargar manual" mod="seur"}</a></div>
    <div class="linkSeur header_www"><a href="">{l s="Ir a www.seur.com" mod="seur"}</a></div>
    <div class="clearfix"></div>
</div>