<table>
    <tr>
        <td style="width:32%; text-align:left;">
            {$company}<br>
            {$street_type} {$street_name} N {$street_number}<br>
            {$state}  {$postalcode}<br>
            {$cif}
        </td>
        <td style="width:32%; text-align:center;">
            <br>
            <br>
            INFORME DE DETALLE<br>
            DE ENVIOS Y BULTOS<br>
            DELEGACION {$franchise}
        </td>
        <td style="width:32%; text-align:right;">
            FECHA: {$date}<br>
            HORA: {$hour}<br><br>
            REMITENTE 1/1<br>
        </td>
    </tr>
</table>