<div style="text-align:center; clear:both">
    <div class="acciones-masivas">
            <span class="texto-acciones-masivas">{l s='Massive acctions' mod='seur'}
                            <select class="select-acciones-masivas" name="massive_change" id="massive_change">
                                <option value=""></option>
                                <option value="print_labels">{l s='Print Labels' mod='seur'}</option>
                                <option value="manifest">{l s='Generate Manifest' mod='seur'}</option>
                            </select>
                        <button class="boton-masivas btn btn-default btn-disk" id="exec-acciones-masivas">{l s='Execute massives' mod='seur'}</button>
            </span>
    </div>
</div>