/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HOME 4
*****************************************/
#TdkFeaturedServiceBlock {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 5.625rem; }
  @media (max-width: 991px) {
    #TdkFeaturedServiceBlock {
      margin-bottom: 1.875rem; } }
  #TdkFeaturedServiceBlock .groupFeaturedService {
    margin-bottom: 0; }
    #TdkFeaturedServiceBlock .groupFeaturedService:before {
      display: none; }
  @media (max-width: 767px) {
    #TdkFeaturedServiceBlock .TdkFeaturedService {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }

.TdkInstagram .owl-item {
  padding: 0; }
.TdkInstagram .subTitleWidget {
  text-align: center;
  color: #272727;
  margin-top: 1.875rem; }
  .TdkInstagram .subTitleWidget a {
    color: #ee4448; }
    .TdkInstagram .subTitleWidget a:hover {
      text-decoration: underline; }
      .TdkInstagram .subTitleWidget a:hover:before, .TdkInstagram .subTitleWidget a:hover:after {
        display: none; }

.TdkWidgetHtml.contentDiscountText {
  position: relative; }
  .TdkWidgetHtml.contentDiscountText:before {
    top: 0;
    content: "";
    position: absolute;
    background: #e1e1e1; }
  @media (min-width: 768px) {
    .TdkWidgetHtml.contentDiscountText {
      padding: 11.88rem 0 0; }
      .TdkWidgetHtml.contentDiscountText:before {
        width: 0.0625rem;
        height: 9.375rem; } }
  @media (max-width: 991px) {
    .TdkWidgetHtml.contentDiscountText {
      padding: 2.813rem 0 0; }
      .TdkWidgetHtml.contentDiscountText:before {
        width: 0.0625rem;
        height: 1.875rem; } }

.TdkLatestBlog .slick-list {
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #e1e1e1;
  overflow: hidden; }
.TdkLatestBlog .slick-slide {
  padding-left: 0;
  padding-right: 0; }
  .TdkLatestBlog .slick-slide.slick-active.slick-active-last .TdkBlogContainer:before {
    display: none; }
.TdkLatestBlog .TdkBlogContainer {
  padding: 2.5rem;
  position: relative; }
  .TdkLatestBlog .TdkBlogContainer:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 1px;
    height: 1000%;
    background: #e1e1e1;
    right: 0; }
    .rtl .TdkLatestBlog .TdkBlogContainer:before {
      left: 0;
      right: auto; }
  @media (max-width: 991px) {
    .TdkLatestBlog .TdkBlogContainer {
      padding: 1.25rem 0.625rem; } }
  .TdkLatestBlog .TdkBlogContainer .blogPostContent {
    padding-bottom: 5rem;
    position: relative; }
  .TdkLatestBlog .TdkBlogContainer .blogReadmore {
    position: absolute;
    bottom: 0; }

.TdkBlockTestimonials .title {
  display: none; }

/*# sourceMappingURL=profile1537546798.css.map */
