/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HOME 1
*****************************************/
.TdkInstagram {
  background: #f3f3f3; }
  .TdkInstagram .TdkTitleBlock {
    padding: 3rem 0 0; }
    .TdkInstagram .TdkTitleBlock:before {
      display: none; }
  .TdkInstagram .owl-carousel .owl-item {
    padding: 0; }
  .TdkInstagram .TdkBlockContent {
    margin: 0; }

.tdk-popup-clone .fancybox-close {
  left: 0.9375rem;
  right: auto; }
  [dir="rtl"] .tdk-popup-clone .fancybox-close {
    right: 0.9375rem;
    left: auto; }

.TdkSlideShow {
  margin: 0; }

@media (max-width: 991px) {
  .TdkWidgetImage.TdkBannerAdvm0 {
    margin: 0; } }

/*# sourceMappingURL=profile1535489239.css.map */
