/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*****************************************
				HOME 6
*****************************************/
.TdkWidgetImage.TdkBannerAdvv6 {
  text-align: center; }
  @media (min-width: 768px) {
    .TdkWidgetImage.TdkBannerAdvv6 {
      position: relative; }
      .TdkWidgetImage.TdkBannerAdvv6 .TdkImageDescription {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
  .TdkWidgetImage.TdkBannerAdvv6 .contentShowCollection {
    min-height: 15.13rem; }
    @media (max-width: 991px) {
      .TdkWidgetImage.TdkBannerAdvv6 .contentShowCollection {
        padding: 9% 5%; } }
    .TdkWidgetImage.TdkBannerAdvv6 .contentShowCollection .title {
      font-size: 1.563rem;
      line-height: 2.25rem;
      margin-bottom: 1.875rem; }
      .TdkWidgetImage.TdkBannerAdvv6 .contentShowCollection .title:before {
        left: 0;
        right: 0;
        margin: 0 auto; }
    .TdkWidgetImage.TdkBannerAdvv6 .contentShowCollection .subTitle {
      margin-bottom: 0.625rem; }
    .TdkWidgetImage.TdkBannerAdvv6 .contentShowCollection .description {
      margin-left: auto;
      margin-right: auto; }
    .TdkWidgetImage.TdkBannerAdvv6 .contentShowCollection .btn.TdkBtnShopnow {
      font-size: 0.875rem; }

#TdkFeaturedServiceBlock {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 5.625rem; }
  @media (max-width: 991px) {
    #TdkFeaturedServiceBlock {
      margin-bottom: 1.875rem; } }
  #TdkFeaturedServiceBlock .groupFeaturedService {
    margin-bottom: 0; }
    #TdkFeaturedServiceBlock .groupFeaturedService:before {
      display: none; }
  @media (max-width: 767px) {
    #TdkFeaturedServiceBlock .TdkFeaturedService {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }

@media (min-width: 992px) {
  .page-index #TdkMainPage #content {
    padding-left: 3.125rem;
    padding-right: 3.125rem; }

  .TdkSlideShow {
    margin-bottom: 5.625rem; } }
@media (max-width: 991px) {
  .tdk-dropdown-cart.defaultcart {
    right: 0; }
    .rtl .tdk-dropdown-cart.defaultcart {
      left: 0;
      right: auto; } }

/*# sourceMappingURL=profile1537556477.css.map */
