/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* PANELTOOL */
/**********************************/
.fancybox-skin .tdk-paneltool {
  display: none; }

.paneltool {
  position: fixed;
  top: 0.3125rem;
  width: 235px;
  z-index: 99999;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  right: -235px;
  	/*&.multiproductdetailtool{
  		&.active{
  	    	z-index: 1000;
  	  	}
  	  	.panelbutton{
  			top: 170px;
  			&:before{
  				content: '';
  				position: absolute;
  				width: 50px;
  				height: 50px;
  				top: -25px;
  				z-index: 9;
  				margin: auto;
  				background: url("../../../../assets/img/modules/tdkplatform/img/label-new.png") no-repeat;
  				background-size: 100%;
  				@include rtl-left-right(-25px,auto);
  				@include animation(heartbeat 1s infinite);
  			}
  		}
  	    .panelcontent {
  		  	min-height: 130px;
  		    height: 100%;
  		    overflow-y: auto;
  		}
  	    .group-input{
  	      	margin-bottom: 20px;
  	      	&.layout{
  		        .product-detail-demo{
  		           	display: block;
  		          	float: left;
  		          	width: 100%;
  		          	position: relative;
  		          	font-size: 14px;
  				    color: $body-color;
  				    position: relative;
  				    @include rtl-padding(5px,0,5px,15px);
  				    &:before{
  				      	content: "\f067";
  				      	font-family: $font-icon;
  				      	font-size: 9px;
  				      	position: absolute;
  				      	top: 10px;
  				      	@include rtl-left(0);
  
  				    }
  				    &.active{
  				      color: $theme-color-default;
  				    }
  				    &:hover{
  				    	color: $theme-color-default;
  				    }
  		        }
  	      	}
  	      	span{
  		      	cursor: pointer;
  		    }
  	    }
  	    label{
  		    font-size: $base-font-size;
  		    text-transform: uppercase;
  		    font-weight: bold;
  		    line-height: 1.4;
  		    @include rtl-text-align-left();
  		    span{
  		      	vertical-align: middle;
  		      	@include rtl-margin-right(10px);
  		    }
  	  	}
  	}*/ }
  .rtl .paneltool {
    left: -235px;
    right: auto; }
  .paneltool .tdk-dynamic-update-side {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 0.625rem;
    border: 1px solid;
    padding: 0.3125rem;
    font-size: 0.6875rem; }
    .paneltool .tdk-dynamic-update-side.current-sidebar {
      color: #ee4448; }
  .paneltool.themetool {
    top: 70px; }
    .paneltool.themetool.active {
      z-index: 999999; }
    .paneltool.themetool .panelbutton {
      width: 50px;
      height: 50px;
      left: -50px; }
      .rtl .paneltool.themetool .panelbutton {
        right: -50px;
        left: auto; }
    .paneltool.themetool .panelcontent {
      min-height: 130px;
      height: 100%;
      overflow-y: auto; }
    .paneltool.themetool .group-input {
      margin-bottom: 20px; }
      .paneltool.themetool .group-input.layout .tdk-dynamic-update-layout {
        display: block;
        float: left;
        width: 100%;
        padding: 0.625rem 0 0.625rem 0.625rem;
        position: relative;
        font-size: 14px; }
        .paneltool.themetool .group-input.layout .tdk-dynamic-update-layout:before {
          content: "+"; }
      .paneltool.themetool .group-input span {
        cursor: pointer; }
    .paneltool.themetool .panelinner .group-input:last-child {
      margin-bottom: 0px; }
    .paneltool.themetool label {
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left; }
      .rtl .paneltool.themetool label {
        text-align: right; }
      .paneltool.themetool label span {
        margin-right: 0.625rem;
        vertical-align: middle; }
        .rtl .paneltool.themetool label span {
          margin-left: 0.625rem;
          margin-right: inherit; }
    .paneltool.themetool .tdk-dynamic-update-header {
      display: block;
      padding: 0.625rem;
      font-size: 0.6875rem;
      text-transform: uppercase; }
      .paneltool.themetool .tdk-dynamic-update-header.current-header {
        color: #ee4448; }
  .paneltool.active {
    right: 0;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    .rtl .paneltool.active {
      left: 0;
      right: auto; }
    .paneltool.active .panelbutton {
      color: #FFFFFF; }
  .paneltool .panelcontent {
    background: #f2f2f2;
    width: 235px;
    min-height: 340px; }
    .paneltool .panelcontent > div {
      padding: 0.9375rem; }
  .paneltool.editortool .panelbutton {
    top: 290px; }

.panelbutton {
  background: #000;
  position: absolute;
  top: 165px;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  color: #787878;
  font-size: 1.625rem;
  left: -50px;
  border-left: none;
  width: 50px;
  height: 50px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
  .rtl .panelbutton {
    right: -50px;
    left: auto; }
  .rtl .panelbutton {
    border-right: none;
    border-left: inherit; }
  .panelbutton.label-customize {
    display: none; }

#tdk-paneltool {
  background: #F5F5F5;
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 9999;
  left: -320px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  -o-box-shadow: 0 1px 3px #999;
  -ms-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: left, right, top, bottom, width, margin;
  -moz-transition-property: left, right, top, bottom, width, margin;
  transition-property: left, right, top, bottom, width, margin;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }
  .rtl #tdk-paneltool {
    right: -320px;
    left: auto; }
  .rtl #tdk-paneltool {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: inherit; }
  #tdk-paneltool h4 {
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold; }
  #tdk-paneltool .accordion-group {
    margin-bottom: 0.3125rem; }
  #tdk-paneltool .panel-body {
    max-height: 500px;
    overflow-y: auto; }
  #tdk-paneltool .block-panelcontent {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 600px; }
  #tdk-paneltool form .group-input {
    margin-bottom: 0.625rem; }
  #tdk-paneltool select {
    padding: 0.3125rem; }
  #tdk-paneltool .nav-tabs > li:after, #tdk-paneltool .nav-tabs > li:before {
    display: none; }

/* Select Skin */
.tdk-dynamic-theme-skin {
  float: left;
  margin-left: 0.3125rem;
  width: 24px;
  height: 24px;
  margin-top: 0.625rem;
  cursor: pointer;
  border: 2px solid transparent; }
  .rtl .tdk-dynamic-theme-skin {
    float: right; }
  .rtl .tdk-dynamic-theme-skin {
    margin-right: 0.3125rem;
    margin-left: inherit; }
  .tdk-dynamic-theme-skin.skin-default {
    background-color: #ee4448;
    text-indent: -99999px;
    border: 2px solid #ee4448; }
  .tdk-dynamic-theme-skin.current-theme-skin {
    border-color: #000000; }

/* Select Layout*/
.tdk-dynamic-update-layout:hover {
  color: #ee4448; }
.tdk-dynamic-update-layout.current-layout-mod {
  color: #ee4448; }

/* Enable Float Header */
.btn_enable_fheader {
  background-color: #25292C;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
  width: 100px;
  height: 36px;
  position: relative;
  border-radius: 18px; }

.enable_fheader {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background-color: #504C4C;
  margin-top: 3px;
  border-radius: 50%; }
  .enable_fheader span {
    position: relative;
    z-index: 9; }
  .enable_fheader:first-child {
    float: left;
    margin-left: 3px; }
  .enable_fheader:last-child {
    float: right;
    margin-right: 3px; }
  .enable_fheader.btn_no:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3px;
    left: 4px;
    border-radius: 18px;
    background-color: #ee4448;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden; }
  .enable_fheader.btn_yes:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3px;
    right: 4px;
    border-radius: 18px;
    background-color: #ee4448;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden; }
  .enable_fheader.current.btn_no:before {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    left: 67px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s; }
  .enable_fheader.current.btn_yes:after {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    right: 67px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s; }

/* Box Patterns */
.box-patterns div {
  display: block;
  width: 38px;
  height: 38px;
  float: left;
  cursor: pointer;
  margin: 6px;
  border: 1px solid #ccc; }
  .rtl .box-patterns div {
    float: right; }
  .box-patterns div.active {
    border-color: red; }

.colorpicker {
  z-index: 99999; }

/* Customize body */
#customize-body input[type="text"], #customize-body select {
  border: 1px solid #E2E2E2;
  color: #FFFFFF;
  font-size: 0.6875rem;
  margin: 0 0.3125rem 0 0;
  padding: 2px 3px;
  width: 65px;
  height: auto;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
#customize-body select {
  color: #666666; }
#customize-body .accordion-group label {
  color: #666666;
  font-size: 0.6875rem;
  font-weight: normal; }
  #customize-body .accordion-group label.subtitle {
    font-weight: bold;
    font-size: 0.75rem;
    color: #333;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 4px;
    margin-top: 0.625rem;
    display: inline-block;
    width: 100%;
    text-transform: uppercase; }
#customize-body .accordion-group .input-group .input-group-addon {
  padding: 0;
  background: transparent;
  border: none;
  float: right;
  margin-top: 2px;
  width: 20px; }
  .rtl #customize-body .accordion-group .input-group .input-group-addon {
    float: left; }
#customize-body .panel-heading {
  padding: 0.3125rem 0.375rem;
  font-weight: bold;
  font-size: 0.6875rem; }
  #customize-body .panel-heading a {
    display: block; }
#customize-body .nav-tabs > li:nth-child(2) {
  border: 1px solid #ddd; }
#customize-body .nav-tabs a {
  border: none;
  font-weight: bold;
  font-size: 0.6875rem;
  padding: 0.375rem 0.75rem;
  color: #000000; }
  #customize-body .nav-tabs a.active {
    color: #FFFFFF; }
#customize-body .form-group {
  margin-bottom: 0.625rem; }
#customize-body .accordion-inner .form-group .input-group {
  display: inline-block;
  width: 92px;
  float: left; }
  .rtl #customize-body .accordion-inner .form-group .input-group {
    float: right; }

/* wrapper */
.bi-wrapper > div {
  float: left;
  width: 25px;
  height: 25px;
  margin: 3px 4px;
  border: solid 1px #999;
  cursor: pointer; }
  .rtl .bi-wrapper > div {
    float: right; }
  .bi-wrapper > div.active {
    border-color: red; }

/* Accordion */
.accordion-group label,
.form-group label {
  display: block;
  text-align: left; }
  .rtl .accordion-group label, .rtl
  .form-group label {
    text-align: right; }

.accordion-group label {
  min-width: 100px; }

.clear-bg {
  padding: 3px 6px;
  font-size: 0.8125rem;
  color: #FFFFFF;
  margin-left: 0.3125rem; }
  .rtl .clear-bg {
    margin-right: 0.3125rem;
    margin-left: inherit; }
  .clear-bg:hover {
    background: #ee4448; }

/* Home page version */
.group-input a.tdkconfig {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 25px;
  color: #787878; }
  .group-input a.tdkconfig:before {
    content: "\f067";
    font-family: "FontAwesome";
    padding-right: 0.3125rem;
    font-size: 0.625rem; }
    .rtl .group-input a.tdkconfig:before {
      padding-left: 0.3125rem;
      padding-right: inherit; }
  .group-input a.tdkconfig.active {
    color: #ee4448; }

.group-input a.tdkconfig {
  width: 100%; }

/*# sourceMappingURL=paneltool.css.map */
