/**
*
* PrestaShop module created by TDK Studio, A young & creative agency focus on Digital platform
*
* @author    TDK Studio
* @copyright 2018-9999 TDK Studio
* @license   This program is not free software and you can't resell and redistribute it
*
* CONTACT WITH DEVELOPER
* Email/Skype: info.tdkstudio@gmail.com
* 
**/

.tdkquicklogin-tablist a:hover, .tdkquicklogin-tablist li.active a {
    border-bottom: medium none !important;
    border-top: 3px solid #25b9d7 !important;
}

.tdkquicklogin-tablist a:focus {
    border-bottom: medium none !important;
    border-top: 3px solid #25b9d7 !important;
}

#tdkquicklogin-setting .panel {
    display: none;
}
#tdkquicklogin-setting .panel.active {
    display: block;
}

#tdkquicklogin-setting .panel {
    border-radius: 0 0 5px 5px !important;
}

.nav-tabs.tdkquicklogin-tablist a:focus {
    outline: medium none;
}

