/**
*
* PrestaShop module created by TDK Studio, A young & creative agency focus on Digital platform
*
* @author    TDK Studio
* @copyright 2018-9999 TDK Studio
* @license   This program is not free software and you can't resell and redistribute it
*
* CONTACT WITH DEVELOPER
* Email/Skype: info.tdkstudio@gmail.com
* 
**/
/*******************TDK CSS FOR QUICKLOGIN FORM BEGIN*****************************/

.tdkql-dropdown-wrapper
{
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 20px 20px 0 20px;
	opacity: 0;
	visibility: hidden;
}
.dropdown .tdkql-dropdown-wrapper
{
	margin-top: 50px;
}

.dropup .tdkql-dropdown-wrapper
{
	margin-bottom: 50px;
}
.dropdown.open .tdkql-dropdown-wrapper, .dropup.open .tdkql-dropdown-wrapper
{
	opacity: 1;
	visibility: visible;
}

.dropdown.open .tdkql-dropdown-wrapper
{
	margin-top: 10px;
}

.dropup.open .tdkql-dropdown-wrapper
{
	margin-bottom: 10px;
}
.tdkql-form
{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
}

.tdkql-quicklogin-form
{
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	max-width: 600px;
	
	/*
	height: 100%;
	width: 100%;
	*/
	/*
	max-width: 600px;
	max-height: 1000px;
	*/
}

.tdkql-quicklogin-form.html
{
	max-width: 100%;
}

.tdkql-form-bt
{
	width: 100%;
}

.tdkql-quicklogin-form.update
{
	/*
	max-width: 7000px;
	max-height: 10000px;
	*/
}
.tdkql-form.tdkql-form-inactive
{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 0;	
}

.tdkql-form.tdkql-form-active
{
	/*
	transform: translateX(0);
	-moz-transform: translateX(0));
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
	
	visibility: visible;
	opacity: 1;
	*/
}

.tdkql-login-form.tdkql-form-inactive
{
	right: 0;
	transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
}

.tdkql-register-form.tdkql-form-inactive
{
	left: 0;
	transform: translateX(100%);
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-o-transform: translateX(100%);
	-ms-transform: translateX(100%);
}
.tdkql-form.full-width
{
	width: 100%;
}

.tdkql-login-form
{
	
}

.tdkql-resetpass-form
{
	display: none;
	
	/*
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-top: -160px;
	*/
}

.tdkql-resetpass-form.active
{
	/*
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
	*/
	/*
	margin-top: 10px;
	*/
}

.tdkql-callregister, .tdkql-calllogin
{
	display: none;
}

.tdkql-form.full-width .tdkql-callregister, .tdkql-form.full-width .tdkql-calllogin
{
	display: block;
}

.tdkql-loading, .tdkql-icon
{
	display: none;
}
.tdkql-form-bt .tdkql-icon
{
	margin: 0;
}
.tdkql-cssload-speeding-wheel {
	
	width: 24px;
	height: 24px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 800ms infinite linear;
		-o-animation: cssload-spin 800ms infinite linear;
		-ms-animation: cssload-spin 800ms infinite linear;
		-webkit-animation: cssload-spin 800ms infinite linear;
		-moz-animation: cssload-spin 800ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

.tdkql-form-content input
{
	border: 1px solid transparent;
}

.tdkql-form-content .tdkql-has-error input
{
	border-color: red;
}

.tdkql-form-mesg
{
	display: none;
	margin: 0;
	
	
}

.tdkql-form-mesg label
{
	text-align: left;
	
}
 
.full-width .tdkql-login-title .title-both, .tdkql-login-title .title-only
{
	display: none;
}

.full-width .tdkql-login-title .title-only, .tdkql-login-title .title-both
{
	display: block;
}

/*******************TDK CSS FOR QUICKLOGIN FORM END*****************************/

/*******************TDK CSS FOR QUICKLOGIN MODAL BEGIN*****************************/

/*******************TDK CSS FOR QUICKLOGIN MODAL END*****************************/

/*******************TDK CSS FOR QUICKLOGIN SLIDEBAR BEGIN*****************************/
body.tdkql-active-slidebar {
	overflow: hidden;
	padding-right: 17px;
}

body.tdkql_is_gen_rtl.tdkql-active-slidebar {
	padding-right: 0px;
	padding-left: 17px;
}

body.tdkql-active-push
{
	
}

body main
{	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.tdkql-mask {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	background-color: #000;
	opacity: 0;
	transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
	-webkit-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
	-moz-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
	-ms-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
	-o-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
}

.tdkql-mask.active {
	width: 100%;
	height: 100%;
	opacity: 0.7;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}
.tdkql-slidebar-wrapper
{
	max-width: 600px;
	margin: 0 auto;
	
}
.tdkql-slidebar
{
	/*
	width: 100%;
	height: 100%;
	*/
	z-index: 999;
	position: fixed;
	background: #fff;
	padding: 20px;
	/*
	-webkit-transition: -webkit-transform 0.3s linear;
	transition: transform 0.3s linear;
	-moz-transition: -moz-transform 0.3s linear;
	-ms-transition: -ms-transform 0.3s linear;
	-o-transition: -o-transform 0.3s linear;
	*/
	-webkit-transition: all 0.3s ease; 
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease; 
	
	/*
	opacity: 0;
	*/
	visibility: hidden;
	display: none;
}

.tdkql-slidebar.slidebar_left, .tdkql-slidebar.push_slidebar_left
{
	display: block;
	height: 100%;
	/* opacity: 1; */
	top: 0;
	left: 0;
	transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
}

.tdkql-slidebar.slidebar_right, .tdkql-slidebar.push_slidebar_right
{
	display: block;
	height: 100%;
	/* opacity: 1; */
	top: 0;
	right: 0;
	transform: translateX(100%);
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-o-transform: translateX(100%);
	-ms-transform: translateX(100%);
}

.tdkql-slidebar.slidebar_left.active, .tdkql-slidebar.push_slidebar_left.active, .tdkql-slidebar.slidebar_right.active, .tdkql-slidebar.push_slidebar_right.active
{
	/* visibility: visibility; */
	/*
	opacity: 1;
	*/
	visibility: visible;
	transform: translateX(0);
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-o-transform: translateX(0);
	-ms-transform: translateX(0);
}

.tdkql-slidebar.slidebar_top, .tdkql-slidebar.push_slidebar_top
{
	display: block;
	width: 100%;
	/* opacity: 1; */
	top: 0;
	left: 0;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
}

.tdkql-slidebar.slidebar_bottom, .tdkql-slidebar.push_slidebar_bottom
{
	display: block;
	width: 100%;
	/* opacity: 1; */
	bottom: 0;
	left: 0;
	transform: translateY(100%);
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-o-transform: translateY(100%);
	-ms-transform: translateY(100%);
}

.tdkql-slidebar.slidebar_top.active, .tdkql-slidebar.push_slidebar_top.active, .tdkql-slidebar.slidebar_bottom.active, .tdkql-slidebar.push_slidebar_bottom.active
{
	visibility: visible;
	/*
	opacity: 1;
	*/
	transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
}

.tdkql-slidebar-top
{
	margin-bottom: 10px;
}

.tdkql-slidebar-top, .tdkql-slidebar-bottom
{
	text-align: right;
	display: none;
}

.tdkql-slidebar.push_slidebar_left .tdkql-slidebar-top, .tdkql-slidebar.slidebar_left .tdkql-slidebar-top, 
.tdkql-slidebar.push_slidebar_right .tdkql-slidebar-top, .tdkql-slidebar.slidebar_right .tdkql-slidebar-top, 
.tdkql-slidebar.push_slidebar_bottom .tdkql-slidebar-top, .tdkql-slidebar.slidebar_bottom .tdkql-slidebar-top
{
	display: block;
}

.tdkql-slidebar.push_slidebar_top .tdkql-slidebar-bottom, .tdkql-slidebar.slidebar_top .tdkql-slidebar-bottom
{
	display: block;
}
/*******************TDK CSS FOR QUICKLOGIN SLIDEBAR END*****************************/
/*******************TDK CSS FOR SOCIALLOGIN BEGIN *****************************/
.tdkql-social-login
{
	margin-bottom: 10px;
}
.tdkql-social-modal-mesg
{
	display: none;
	text-align: center;
}
.tdkql-social-modal-mesg.active
{
	display: block;
}
.tdkql-social-modal .modal-dialog
{
	margin: 250px auto;
}

.tdkql-social-modal-mesg.error-email i, .tdkql-social-modal-mesg.error-login i
{
	color: #f0ad4e
}
.tdkql-social-modal-mesg.success i
{
	color: #5cb85c
}

.tdkql-social-modal .modal-content
{
	border-radius: 0;
}

.tdkql-social-modal-mesg.active span
{
	display: block;
	border-top-color: #414141;
	border-bottom-color: #414141;
}
.social-login-bt
{
	color: #fff;
	border-color: transparent;
	margin-top: 5px;
}
.facebook-login-bt, .facebook-login-bt:hover, .facebook-login-bt:active, .facebook-login-bt:focus
{
	background: #4C68A2;
}
.google-login-bt, .google-login-bt:hover, .google-login-bt:active, .google-login-bt:focus
{
	background: #4285f4;
}
.twitter-login-bt, .twitter-login-bt:hover, .twitter-login-bt:active, .twitter-login-bt:focus
{
	background: #53d1f8;
}

.show-bt-txt .social-login-bt span
{
	margin-right: 10px;
}
/*******************TDK CSS FOR SOCIALLOGIN END *****************************/

/******************TDK CSS FOR TAB NAVIGATION BEGIN ***************/
.tdkql-action-bt
{
	float: left;
	width: 50%;
	text-align: center;
}

.tdkql-action
{
	overflow: auto;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.tdkql-action.tdkql-inactive
{
	display: none;
}

.tdkql-action.tdkql-active
{
	display: block;
}

.tdkql-bt
{
	color: #ddd;
	cursor: pointer;
}

.tdkql-bt.tdkql-active
{
	color: #000;
}
/******************TDK CSS FOR TAB NAVIGATION END ***************/