#moo-finder {
  left: 0;
  width: 100%;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 5px 0px #ccc;

  .moo-finder-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    cursor: pointer;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 25px;
      height: 2px;
      background-color: #000000;
      top: 15px;
    }

    &:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 13px;
    }

    &:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
      right: 2px;
    }
  }

  .moo-finder-footer {
    border-color: #ccc;
    display: flex;
    justify-content: flex-end;
  }

  .mfd-results {
    border-top: 1px solid #ccc;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow: hidden scroll;
    margin: 0 !important;
    &:empty {
      display: none;
    }

    .no-results {
      font-weight: bold;
      text-align: center;
    }

    li {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 5px;

      .price {
        display: block;
        font-weight: bold;
        font-size: 1.5em;
        padding: 5px;
        text-align: center !important;
      }

    }

  }

  .load {
    position: relative;
    width: 10px;
    height: 30px;
    margin: auto;

    div, &:after, &:before {
      display: inline-block;
      position: absolute;
      left: 0px;
      width: 8px;
      background: #ccc;
      animation: load-moo-finder 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    &:after {
      content: '';
      left: 0px;
      animation-delay: -0.24s;
    }

    div {
      left: 10px;
      animation-delay: -0.12s;
    }

    &:before {
      content: '';
      left: 20px;
      animation-delay: 0;
    }

  }
}

@keyframes load-moo-finder {
  0% {
    top: 0px;
    height: 20px;
  }
  50%, 100% {
    top: 10px;
    height: 10px;
  }
}
