#myTab{
	margin-left: 120px;
}

.tree-megamenu{
	width:350px;	
	float:left;
	overflow:hidden;
	margin-right:40px;
}
td > i {
	display:block;
	font-size:11px;
}
#content .ui-widget-header{
	background: none;
	border-bottom: solid 1px #ECECEC;
	font-weight: bold;	
}
#content .ui-widget-header a{
	font-weight: bold;
}
#content .ui-widget-content{
	border: none;
}

 .megamenu-form input,  .megamenu-form select{
 	padding: 5px 6px;
 	min-width: 100px
 }
.quickdel{
	background:url(../../img/admin/edit-delete.png) no-repeat center center;
	
}
.quickedit{
	background:url(../../img/admin/edit-rename.png) no-repeat center center;
}
table.table{
	width: 99%;  
}

table.table tr td{
	border-bottom: dotted 1px #CCC
}
.quickedit, .quickdel{
	float:right;
	width:25px;
	height:16px;
	display:block;
	cursor:hand; cursor:pointer;
	overflow:hidden;
	text-indent:-999em;
	margin:0 5px;
}
.hide{
	display:none
}
.show{
	display:block
}
#ajaxloading{
	position:fixed;
	top:0;
	right:0;
	width:100%;
	z-index:1200
}
#ajaxloading > div{
	margin:12px;
}	
.megamenu-form{
	float:left;
	width: 700px;
}
.megamenu-form label {
	width: 100px !important;
}
.megamenu-form .margin-form {
	padding: 0 0 1em 110px !important;
}
.placeholder {
			outline: 1px dashed #4183C4;
			/*-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			margin: -1px;*/
		}

		.mjs-nestedSortable-error {
			background: #fbe3e4;
			border-color: transparent;
		}

		ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		ol.sortable {
			margin: 2em 0;
		}

		.sortable li {
			margin: 5px 0 0 0;
			padding: 0;
		}

		.sortable li div  {
			border: 1px solid #d4d4d4;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border-color: #D4D4D4 #D4D4D4 #BCBCBC;
			padding: 6px;
			margin: 0;
			cursor: move;
			background: #f6f6f6;
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
		}

		.sortable li.mjs-nestedSortable-branch div {
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

		}

		.sortable li.mjs-nestedSortable-leaf div {
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);

		}

		li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
			border-color: #999;
			background: #fafafa;
		}
		li.selected > div  {
			border: solid 1px #D9534F
		}
		.disclose {
			cursor: pointer;
			width: 10px;
			display: none;
		}

		.sortable li.mjs-nestedSortable-collapsed > ol {
			display: none;
		}

		.sortable li.mjs-nestedSortable-branch > div > .disclose {
			display: inline-block;
		}

		.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
			content: '+ ';
		}

		.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
			content: '- ';
		}
.tdk_load {
	background: url("../../img/admin/loading.gif") no-repeat scroll 0 0 transparent;
    display: none;
    height: 32px;
    width: 32px;
}

.table.table-green tr th{
	background: #f3f3f3;
	padding: 12px 6px	
}
.table.table-green tr td{
	padding: 9px 6px;
}
.pull-right{
	float: right;
}

/****************TDK:: delete image button BEGIN************************/
.tdkblog_del_img
{
	margin-top: 10px;
}
/****************TDK:: delete image button END************************/


/****************TDK:: form BEGIN************************/
.tdkblog-comment-link-icon
{
	font-size: 28px;
}

/****************TDK:: form END************************/
 
