{**
*
* PrestaShop module created by TDK Studio, A young & creative agency focus on Digital platform
*
* @author    TDK Studio
* @copyright 2018-9999 TDK Studio
* @license   This program is not free software and you can not resell and redistribute it
*
* CONTACT WITH DEVELOPER
* Email/Skype: info.tdkstudio@gmail.com
*
**}
<!-- @file modules\tdkplatform\views\templates\admin\tdk_platform_home\position -->
<div class="header-cover">
    <strong>Position {$position|escape:'html':'UTF-8'}</strong>
    <div class="fr">
        <div class="dropdown">
            <div class="hide box-edit-position">
                <div class="form-group">
                    <label>{l s='Position name:' mod='tdkplatform'}</label>
                    <input class="edit-name" value="" type="text" placeholder="{l s='Enter position name ' mod='tdkplatform'}"/>
                </div>
                <button type="button" class="btn btn-primary btn-save">{l s='Save' mod='tdkplatform'}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{l s='Close' mod='tdkplatform'}</button>
            </div>
            
            <a class="btn btn-default" id="dropdown-{$position|lower|escape:'html':'UTF-8'}" role="button" data-toggle="dropdown" data-target="#">
                <i class="icon-columns"></i> 
                <span class="lbl-name">{l s='Current Position:' mod='tdkplatform'} 
                    {if $default.name}{$default.name|escape:'html':'UTF-8'}{else}{l s=' Blank' mod='tdkplatform'}{/if}
                </span>
                {if $listPositions} <span class="caret"></span>{/if}
            </a>
            <ul class="dropdown-menu dropdown-menu-right list-position" role="menu" aria-labelledby="dLabel" 
                data-position="{$position|lower|escape:'html':'UTF-8'}" id="position-{$position|lower|escape:'html':'UTF-8'}"
                data-id="{$default.id|escape:'html':'UTF-8'}" data-blank-error="{l s=' Please choose or create new a position ' mod='tdkplatform'}{$position|escape:'html':'UTF-8'}">
                <li>
                    <a href="javascript:;" class="add-new-position" data-id="0">
                        <span>{l s='New ' mod='tdkplatform'}{$position|escape:'html':'UTF-8'}</span>
                    </a>
                </li>
                
                {if $listPositions}
                {foreach from=$listPositions item=val}
                    {if isset($val.id_tdkplatform_positions)}
                <li>
                    <a href="javascript:;" class="position-name" data-id="{$val.id_tdkplatform_positions|escape:'html':'UTF-8'}">
                        <span title="{$val.name|escape:'html':'UTF-8'}">{$val.name|escape:'html':'UTF-8'}</span>
                        <i class="icon-edit label-tooltip" data-id="{$val.id_tdkplatform_positions|escape:'html':'UTF-8'}" title="{l s='Edit name' mod='tdkplatform'}"></i>
                        <i class="icon-paste label-tooltip" data-id="{$val.id_tdkplatform_positions|escape:'html':'UTF-8'}" title="{l s='Duplicate' mod='tdkplatform'}" data-temp="{l s='Duplicate' mod='tdkplatform'}"></i>
                    </a>
                </li>
                    {/if}
                {/foreach}
                {/if}
            </ul>
        </div>
    </div>
</div>
<br/>
<div class="position-area">
{foreach from=$config key=hookKey item=hookData}
	{if $hookKey == "displayHome"}
    <div class="col-md-6 home-content-wrapper">
	{/if}
        <div class="hook-wrapper {$hookKey|escape:'html':'UTF-8'} {$hookData.class|escape:'html':'UTF-8'}" data-hook="{$hookKey|escape:'html':'UTF-8'}">
            <div class="hook-top">
                <div class="pull-left hook-desc">{*{$hookData.hook_name}*}</div>
                <div class="hook-info text-center">
                    <a href="javascript:;" tabindex="0" class="open-group label-tooltip" title="{l s='Expand Hook' mod='tdkplatform'}" id="{$hookKey|escape:'html':'UTF-8'}" name="{$hookKey|escape:'html':'UTF-8'}">
                        {$hookKey|escape:'html':'UTF-8'} <i class="icon-circle-arrow-down"></i>
                    </a>
                </div>
            </div>
            <div class="hook-content">
                {if isset($hookData.content)}
                {$hookData.content}{* HTML form , no escape necessary *}
                {/if}
                <div class="hook-content-footer text-center">
                    <a href="javascript:void(0)" tabindex="0" class="btn-new-widget-group" title="{l s='Add Widget in new Group' mod='tdkplatform'}" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus">
                        <i class="icon-plus"></i>
                    </a>
                </div>
            </div>
        </div>
	{if $hookKey == "displayHome"}
		</div>
	{/if}
{/foreach}
</div>
