/*.admintdksliderlayer #main .bootstrap, .admintdksliderlayer #header, .admintdksliderlayer #footer{display: none}
.admintdksliderlayer #main{margin: 0;padding: 0}
.admintdksliderlayer #content{margin: 0 !important;padding:0 !important}
.admintdksliderlayer .page-head{display: none}*/
.admintdksliderlayer #header, .admintdksliderlayer #footer, .admintdksliderlayer #nav-sidebar, .page-head{
    display: none;
}
.admintdkplatformimages #header,.admintdkplatformimages  #footer,.admintdkplatformimages #nav-sidebar,.admintdkplatformimages .page-head{
    display: none;
}
.page-sidebar #content, .admintdksliderlayer #main{margin: 0;padding: 0}
#list-imgs {
padding-left: 0;
padding-bottom: 1px;
margin-bottom: 20px;
list-style: none;
overflow: hidden;
}
#list-imgs li a{
    font-size: 11px
}
#list-imgs li {
float: left;
width: 20%;
height: 115px;
padding: 10px 5px;
margin: 0 -1px -1px 0;
font-size: 12px;
line-height: 1.4;
text-align: center;
border: 1px solid #ddd;
}
.img-row{
    overflow: hidden;
    height: 80px;
}
.typos{
    padding: 10px
}
.typos-wrap .typo {
 position: relative;
 min-height: 60px;
}
.typos-wrap .typo-big{
    min-height: 123px
}