/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28/07/2015, 04:25:05 PM
    Author     : PresTeamShop
*/
img#img_logo{
    height: 80px;
    width: 88px;
    float: left;
}

h3#tabs_menu {
    padding: 17px 0 0px !important;
}
section img {
    width: 100%;
    margin: 5px;
}

article {
    margin: 5px 0;
}

.box-content section ul {
    list-style: initial !important;
}

.img-80 {
    width: 80%;
}