<!--{*
 * Infinite scroll premium
 *
 * @author    Studio Kiwik
 * @copyright Studio Kiwik 2014-2017
 * @license   http://licences.studio-kiwik.fr/infinitescroll
 *}-->

<div class="clear clearfix" style="clear:both">		
	<div class="col-xs-12">			
		<p style="text-align:center;" class="alert alert-warning">
			{l s='SANDBOX INFINITE SCROLL ACTIVATED' mod='infinitescroll'}
		</p>
	</div>
</div>
