/**
*
* PrestaShop module created by TDK Studio, A young & creative agency focus on Digital platform
*
* @author    TDK Studio
* @copyright 2018-9999 TDK Studio
* @license   This program is not free software and you can't resell and redistribute it
*
* CONTACT WITH DEVELOPER
* Email/Skype: info.tdkstudio@gmail.com
* 
**/

.tdktoolkit-tablist a:hover, .tdktoolkit-tablist li.active a {
    border-bottom: medium none !important;
    border-top: 3px solid #25b9d7 !important;
}

.tdktoolkit-tablist a:focus {
    border-bottom: medium none !important;
    border-top: 3px solid #25b9d7 !important;
}

#tdktoolkit-setting .panel {
    display: none;
}
#tdktoolkit-setting .panel.active {
    display: block;
}

#tdktoolkit-setting .panel {
    border-radius: 0 0 5px 5px !important;
}

.nav-tabs.tdktoolkit-tablist a:focus {
    outline: medium none;
}

#subtab-AdminTdktoolkitReviews
{
	position: relative;
}

#subtab-AdminTdktoolkitReviews .notification-container
{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	line-height: .875rem;
	height: .875rem;
	vertical-align: middle;
	
	color: #fff;
	background: #fb0;
	font-size: .5625rem;
	padding: 0 .25rem;
	border-radius: .625rem;
}

#subtab-AdminTdktoolkitManagement.has-review:after
{
	content: "";
	position: absolute;
	top:0;
	right: 0;
	background: #fb0;
	border-radius: .625rem;
	height: 10px;
	width: 10px;
}
