{*
 *  Please read the terms of the CLUF license attached to this module(cf "licences" folder)
 *
 * @author    Línea Gráfica E.C.E. S.L.fontweight0
 * @copyright Lineagrafica.es - Línea Gráfica E.C.E. S.L. all rights reserved.
 * @license   https://www.lineagrafica.es/licenses/license_en.pdf
 *            https://www.lineagrafica.es/licenses/license_es.pdf
 *            https://www.lineagrafica.es/licenses/license_fr.pdf
 *}
<div id="product-lgcanonicalurls" class="panel product-tab">
    <input id="moduleLgcanonicalurls_loaded" name="moduleLgcanonicalurls_loaded" value="1" type="hidden">
    <input id="lgcanonicalurls_submitted_tabs" name="submitted_tabs[]" value="moduleLgcanonicalurls" type="hidden">
    <h3>{l s='Canonical URLs' mod='lgcanonicalurls'}</h3>
    {include '../../form-objects.tpl'}{* HTML CONTENT *}
</div>