<!--
/**
* CedCommerce
*
* NOTICE OF LICENSE
*
* This source file is subject to the End User License Agreement(EULA)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://cedcommerce.com/license-agreement.txt
*
* @author    CedCommerce Core Team <connect@cedcommerce.com>
* @copyright Copyright CEDCOMMERCE(http://cedcommerce.com/)
* @license   http://cedcommerce.com/license-agreement.txt
* @category  Ced
* @package   CedMauticIntegration
*/
-->
<div class="row">
    <div class="col-md-12" style="margin-top: 10px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a style="padding:5px;" class="btn btn-primary" href="{$settings_page_link|escape:'htmlall':'UTF-8'}">
                    Back
                </a>
            </div>
            <div class="block-content panel-body ">
                <br>
                <div id="batches">
                    <div class="batches-tab" data-role="collapsible">
                        <div data-role="trigger">
                            <span>Responses</span>
                        </div>
                    </div>
                    <div class="batches-content" data-role="content">
                        <ul id="profileRows" style="list-style: none;">
                            <li style="list-style: none;">
                                Total {$total|escape:'htmlall':'UTF-8'} Batch(s) Found.
                            </li>
                            <li style="list-style: none;" id="updateRow">
                                <img id="statusImage" src="{$loaderImg|escape:'htmlall':'UTF-8'}">
                                <span id="updateStatus" class="text">Updating...</span>
                            </li>
                            <li id="liFinished" style="display:none; list-style: none;">
                               All Customer Batch(s) Finished.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #batches {
        border: 1px solid #ddd;
        border-radius: 0;
    }

    .batches-tab {
        background: #eee;
        padding: 1rem;
        cursor: pointer;
        font-weight: bold;

    &
    :first-child {
        border-bottom: 1px solid #ddd;
    }

    &
    :nth-last-child(2) {
        border-top: 1px solid #ddd;
    }

    }
    .batches-content {
        padding: 0.5rem 0.5rem;
    }

    /*li*/
    #batches ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #batches ul li {
        vertical-align: middle;
        padding: 2px 2px 2px 2px;
        font: normal 12px sans-serif;
        font-size: small;
    }

    #batches li img {
        vertical-align: middle;
        margin-right: 5px;
        max-width: 12px;
    }

    #batches span {
        vertical-align: middle;
    }

</style>
<script>

            // $( ".batch-container" ).accordion({ collapsible: true, active: false});

            var totalRecords = parseInt("{$total|escape:'htmlall':'UTF-8'}");
            var customerIds = '{$customerIds|escape:'quotes':'UTF-8'}';
            customerIds = JSON.parse(customerIds);
            var chunked_customerIds = chunkArray(customerIds, 5);
            console.log(chunked_customerIds);
            var countOfSuccess = 0;
            var id = 0;
            var liFinished = document.getElementById('liFinished');
            var updateStatus = document.getElementById('updateStatus');
            var updateRow = document.getElementById('updateRow');
            var statusImage = document.getElementById('statusImage');

            //call on load
            sendRequest();

            function sendRequest() {
                updateStatus.innerHTML = (id + 1) + ' Of ' + totalRecords + ' Processing';
                var request = $.ajax({
                    type: "GET",
                    url: "{$export_link|escape:'quotes'}",
                    data: "batchid="+ id+"&customerIds="+chunked_customerIds[id],
                    success: function (data) {
                        //console.log(data);
                    //    var json = JSON.parse(data);
                        var json = data;
                     //   console.log(json);
                        id++;
                        if (json.hasOwnProperty('success')) {
                            countOfSuccess++;
                            var span = document.createElement('li');
                            span.innerHTML =
                                '<img src="{$successImg|escape:'htmlall':'UTF-8'} "/><span>' +
                                json.success + '</span>';
                            span.id = 'id-' + id;
                            updateRow.parentNode.insertBefore(span, updateRow);
                        } else {
                            var span = document.createElement('li');
                            if (json.hasOwnProperty('error')) {
                                if (json.hasOwnProperty('messages')) {
                                    errorMessage = parseErrors(json.messages);
                                } else if(json.hasOwnProperty('exceptionmessages')) {
                                    errorMessage = json.exceptionmessages;
                                }
                                var heading = '<span>' +
                                    '<img src="{$errorImg|escape:'htmlall':'UTF-8'}"> '+ json.error +'.</span>';

                                var errorTemplate = '<div class="batch-container">' +
                                    '<div data-role="collapsible" style="cursor: pointer;" id="'+id+'" ' +
                                    'onclick="enableAccordion(this.id);">' +
                                    '<div data-role="trigger">' + heading + '</div></div>' +
                                    '<div data-role="content" id="content-'+id+'" style="display:none ;">'+errorMessage.errors+'</div></div>';
                            }
                            span.innerHTML = errorTemplate;
                            span.id = 'id-' + id;
                            updateRow.parentNode.insertBefore(span, updateRow);
                          //  $( ".batch-container" ).accordion({ collapsible: true, active: false});
                        }
                    },

                    error: function () {
                        id++;
                        var span = document.createElement('li');
                        span.innerHTML = '<img src="{$errorImg|escape:'htmlall':'UTF-8'}"><span>Something went wrong </span>';
                        span.id = 'id-'+id;
                        span.style = 'background-color:#FDD';
                        updateRow.parentNode.insertBefore(span, updateRow);
                    },

                    complete: function () {
                        if (id < totalRecords) {
                            sendRequest();
                        } else {
                            statusImage.src = '{$successImg|escape:'htmlall':'UTF-8'}';
                            var span = document.createElement('li');
                            span.innerHTML =
                                '<img src="{$successImg|escape:'htmlall':'UTF-8'}">' +
                                '<span id="updateStatus">' +
                                totalRecords + ' Customer batch(s) processed.' + '</span>';
                            liFinished.parentNode.insertBefore(span, liFinished);
                            document.getElementById("liFinished").style.display = "block";
                            updateStatus.innerHTML = (id) + ' of ' + totalRecords + ' Processed.';
                        }
                    },
                    dataType: "json"
                });
            }

            function parseErrors(errors) {
                var data = (errors);
                var result = {
                    'status': true,
                    'errors': ''
                };

                if (data) {
                    result.errors = '<table class="data-grid" style="margin-bottom:10px; margin-top:10px"><tr>' +
                        '<th style="padding:15px">Sl. No.</th>' +
                        '<th style="padding:15px">Email</th>' +
                        '<th style="padding:15px">Errors</th></tr>';
                    var products = Object.keys(data).length;
                    var counter = 0;
                    $.each(data, function (index, value) {
                        var messages = '';
                        var outerMessages = '';
                        outerMessages += '<ul style="list-style: none;">';
                        $.each(value.errors, function (i, v) {
                            if (typeof v === 'object' && v !== null && Object.keys(v).length > 0) {
                                $.each(v, function (attribute, err) {
                                    messages += '<li><b>'+attribute+'</b> : '+err+'</li>';
                                });
                            } else {
                                messages += '<li><b>'+i+'</b> : '+v+'</li>';
                            }
                        });
                        if (messages === '') {
                            counter++;
                            outerMessages += '<li><b style="color:forestgreen;">No errors.</b></li>';
                        } else {
                            outerMessages += messages;
                        }
                        outerMessages += '</ul>';

                        result.errors += '<tr><td>' + (value['id']) + '</td><td>'  + (value['email']) + '</td><td>' + (outerMessages) +
                            '</td></tr>';
                    });
                    result.errors += '</table>';
                    if (products === counter) {
                        result.status = false;
                    }
                }
                return result;
            }

            function enableAccordion(accordionId) {
                var acc = document.getElementById("content-"+accordionId);
                if (acc.style.display === "block") {
                    acc.style.display = "none";
                } else {
                    acc.style.display = "block";
                }

            }

            function chunkArray(myArray, chunk_size){
                var index = 0;
                var arrayLength = myArray.length;
                var tempArray = [];

                for (index = 0; index < arrayLength; index += chunk_size) {
                    myChunk = myArray.slice(index, index+chunk_size);
                    // Do something if you want with the group
                    tempArray.push(myChunk);
                }

                return tempArray;
            }

</script>
