img.img-thumbnail.selected {
    border-color: #02ff02 !important;
    -webkit-box-shadow: 0 0 5px 0 rgba(2, 255, 2, 1);
    -moz-box-shadow: 0 0 5px 0 rgba(2, 255, 2, 1);
    box-shadow: 0 0 5px 0 rgba(2, 255, 2, 1)
}

.productsinfo form {
    display: inline-block
}

img.combinationsimagesmassive {
    cursor: pointer;
}

.loading div {
    width: 100px;
    height: 100px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading .icon-spinner:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 100px;
    color: #545454;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 30;
}

.pagination_filter_module{
    margin-top: 15px;
    text-align: center;
}

.pagination_filter_module button {
    float:none !important;
}

div.selected_comb {
    background: #fffbd5;
}

#result{position:fixed; right:0; z-index:1}